&lt;div class=&quot;reply-post social-post&quot;&gt;
	&lt;div class=&quot;post-header&quot;&gt;
		&lt;img src=&quot;&quot; alt=&quot;&quot; class=&quot;user-avatar&quot;&gt;
		&lt;p class=&quot;user&quot;&gt;Kalle K&auml;ytt&auml;j&auml;n veli&lt;/p&gt;
		&lt;p class=&quot;post-time&quot;&gt;T&auml;n&auml;&auml;n&lt;/p&gt;
		&lt;p class=&quot;og-comment&quot;&gt;Katsokaa t&auml;t&auml; mahtavaa kommenttia. Min&auml; tykk&auml;&auml;&auml;n.&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;meta-content&quot;&gt;
		&lt;div class=&quot;social-actions&quot;&gt;
			&lt;a href=&quot;&quot; class=&quot;reply&quot;&gt;Vastaa &lt;i class=&quot;icon-reply&quot;&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;a href=&quot;&quot; class=&quot;like&quot;&gt;Puolla &lt;i class=&quot;icon-like&quot;&gt;&lt;/i&gt;&lt;span class=&quot;like-count&quot;&gt;12&lt;/span&gt;&lt;/a&gt;
			&lt;a href=&quot;&quot; class=&quot;dislike&quot;&gt;Hylk&auml;&auml; &lt;i class=&quot;icon-dislike&quot;&gt;&lt;/i&gt;&lt;span class=&quot;dislike-count&quot;&gt;5&lt;/span&gt;&lt;/a&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;