&lt;div class=&quot;thumbnail media&quot;&gt;
	&lt;div class=&quot;float-left&quot;&gt;
		&lt;img class=&quot;media-object&quot; src=&quot;https://fbcdn-profile-a.akamaihd.net/static-ak/rsrc.php/v2/yo/r/UlIqmHJn-SK.gif&quot; alt=&quot;nimi&quot; /&gt;
	&lt;/div&gt;
	&lt;div class=&quot;media-body&quot;&gt;
		&lt;h4 class=&quot;media-heading&quot;&gt;Nimi T&auml;h&auml;n&lt;/h4&gt;
		&lt;span&gt;Organisaatio&lt;/span&gt;
		&lt;span&gt;Tittteli&lt;/span&gt;
	&lt;/div&gt;
	&lt;div class=&quot;keywords&quot;&gt;
		&lt;span&gt;Asia&lt;/span&gt;
		&lt;span&gt;Sana&lt;/span&gt;
		&lt;span&gt;Foo&lt;/span&gt;
		&lt;span&gt;Baz&lt;/span&gt;
		&lt;span&gt;Bar&lt;/span&gt;
	&lt;/div&gt;
&lt;/div&gt;