&lt;div class=&quot;page hankesivu-read-mode&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;div class=&quot;block&quot;&gt;
			&lt;img src=&quot;../../images/fpo_16x9.png&quot; alt=&quot;Taustakuva&quot; /&gt;
		&lt;/div&gt;
		&lt;div class=&quot;admin-tools&quot;&gt;
			&lt;h3&gt;
				Tietojen yll&auml;pito
			&lt;/h3&gt;
			&lt;div class=&quot;btn-group&quot;&gt;
				&lt;input class=&quot;btn-otk&quot; type=&quot;submit&quot; value=&quot;Muokkaa perustietoja&quot;&gt;
				&lt;input class=&quot;btn-otk&quot; type=&quot;submit&quot; value=&quot;Kirjoita yhteenveto&quot;&gt;
				&lt;input class=&quot;btn-otk&quot; type=&quot;submit&quot; value=&quot;Lis&auml;&auml; kieliversio&quot;&gt;
				&lt;input class=&quot;btn-otk&quot; type=&quot;submit&quot; value=&quot;Osallistumisraportti&quot;&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;hanke-details&quot;&gt;
			&lt;h1&gt;Hankkeen nimi&lt;/h1&gt;
			&lt;div class=&quot;fadeout&quot;&gt;
				&lt;p&gt;Hankkeen kuvausteksti t&auml;nne. Lorem ipsum dolor sit amet, consectetur adipiscing elit. &lt;/p&gt;
				&lt;p&gt;Hankkeen johdanto t&auml;h&auml;n. Nullam varius, metus sed elementum bibendum, neque urna suscipit libero, nec vulputate ipsum metus ut felis. Curabitur tincidunt aliquet nulla, cursus elementum ante molestie sit amet. Duis dictum leo in auctor faucibus. Morbi et adipiscing magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed arcu libero, elementum vitae ante in, ultricies tristique orci. Donec scelerisque vehicula odio ut semper. Ut eu odio quis risus varius consectetur in at ante. Cras lacinia urna scelerisque, auctor sapien a, pulvinar massa. Integer ut mollis odio, et mattis mi. Nunc vel condimentum mauris. Integer porta lectus vel tellus suscipit semper.&lt;/p&gt;
				&lt;p class=&quot;read-more&quot;&gt;&lt;a href=&quot;&quot;&gt;Lue lis&auml;&auml;&lt;/a&gt;&lt;/p&gt;
			&lt;/div&gt;
			&lt;div class=&quot;some-buttons&quot;&gt;
				TODO: SOME_LINKS_HERE
			&lt;/div&gt;
			&lt;div&gt;
				TODO: N&auml;iden leiskat?
				&lt;p&gt;Aikataulu: &lt;span class=&quot;date&quot;&gt;23.10.2012&ndash;31.12.2014&lt;/span&gt;&lt;/p&gt;
				&lt;p&gt;Tila: &lt;span class=&quot;state&quot;&gt;K&auml;ynniss&auml;&lt;/span&gt;&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;gantt fadeout&quot;&gt;
			&lt;img id=&quot;chartHankeGantt&quot;
				src=&quot;../../images/fpo_square.png&quot;
				alt=&quot;Gantt-kuva&quot;&gt;
			&lt;p class=&quot;read-more&quot;&gt;&lt;a href=&quot;&quot;&gt;Lue lis&auml;&auml;&lt;/a&gt;&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class=&quot;invitation&quot;&gt;
			&lt;img src=&quot;../../images/favicon_32x32.jpg&quot;&gt;
			&lt;h3&gt;
				Kutsu muita osallistumaan
			&lt;/h3&gt;
			&lt;p&gt;Kenelle&lt;small&gt;lis&auml;&auml; k&auml;ytt&auml;j&auml;nimi&auml; tai s&auml;hk&ouml;postiosoitteita&lt;/small&gt;&lt;/p&gt;
			&lt;input type=&quot;text&quot;&gt;
			&lt;p&gt;Viesti&lt;small&gt;valinnainen viesti s&auml;hk&ouml;postikutsuun&lt;/small&gt;&lt;/p&gt;
			&lt;textarea style=&quot;height: 70px;&quot; cols=&quot;20&quot; rows=&quot;2&quot;&gt;&lt;/textarea&gt;
			&lt;input type=&quot;submit&quot; value=&quot;L&auml;het&auml; kutsu&quot;&gt;
			&lt;div class=&quot;sidebar-form-errors&quot;&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div id=&quot;showParticipations&quot; class=&quot;participations&quot;&gt;
			&lt;h2 class=&quot;ongoing&quot;&gt;
				Menossa olevat osallistumiset
			&lt;/h2&gt;
			&lt;div class=&quot;icon-lift participation&quot;&gt;
				&lt;div class=&quot;count-container&quot;&gt;
					&lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
					&lt;a href=&quot;//www.foo.bar&quot;&gt;17&lt;/a&gt;
				&lt;/div&gt;
				&lt;a class=&quot;icon-lift-link&quot; href=&quot;//www.foo.bar&quot;&gt;Ymp&auml;rist&ouml;n hyvinvointi - miten sit&auml; voidaan...&lt;/a&gt;
				&lt;span class=&quot;date&quot;&gt;26.5. asti&lt;/span&gt;
			&lt;/div&gt;
			&lt;div class=&quot;icon-lift participation&quot;&gt;
				&lt;div class=&quot;count-container&quot;&gt;
					&lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
					&lt;a href=&quot;//www.foo.bar&quot;&gt;24&lt;/a&gt;
				&lt;/div&gt;
				&lt;a class=&quot;icon-lift-link&quot; href=&quot;//www.foo.bar&quot;&gt;Kaupungin asukkaiden hyvinvointi ja osallistu...&lt;/a&gt;
				&lt;span class=&quot;date&quot;&gt;26.5. asti&lt;/span&gt;
			&lt;/div&gt;
			&lt;div class=&quot;icon-lift participation&quot;&gt;
				&lt;div class=&quot;count-container&quot;&gt;
					&lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
					&lt;a href=&quot;//www.foo.bar&quot;&gt;17&lt;/a&gt;
				&lt;/div&gt;
				&lt;a class=&quot;icon-lift-link&quot; href=&quot;//www.foo.bar&quot;&gt;Miten nyt ker&auml;tt&auml;v&auml; rahoitus tulisi sijoittaa?&lt;/a&gt;
				&lt;span class=&quot;date&quot;&gt;26.5. asti&lt;/span&gt;
			&lt;/div&gt;
			&lt;div class=&quot;icon-lift participation&quot;&gt;
				&lt;div&gt;
					&lt;span class=&quot;icon-span icon-add&quot;&gt;&lt;/span&gt;
					&lt;a id=&quot;btnAddParticipation&quot;&gt;Luo uusi osallistuminen&lt;/a&gt;
				&lt;/div&gt;
				&lt;span class=&quot;date&quot;&gt;Voit luoda uusi osallistumistapoja&lt;/span&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div id=&quot;addParticipations&quot; class=&quot;participations&quot; style=&quot;display: none;&quot;&gt;
			&lt;h2 class=&quot;create&quot;&gt;
				TODO: &quot;Luo uusi osallistuminen&quot;-n&auml;kym&auml; t&auml;h&auml;n
			&lt;/h2&gt;
			&lt;div class=&quot;icon-lift participation&quot;&gt;
				&lt;a href=&quot;#&quot;&gt;
					&lt;span class=&quot;icon&quot;&gt;Kysely kuva&lt;/span&gt;
					&lt;p&gt;Kysely&lt;/p&gt;
				&lt;/a&gt;
				&lt;span&gt;Kysely lorem ipsum&lt;/span&gt;
			&lt;/div&gt;
			&lt;div class=&quot;icon-lift participation&quot;&gt;
				&lt;a href=&quot;#&quot;&gt;
					&lt;span class=&quot;icon&quot;&gt;Gallup kuva&lt;/span&gt;
					&lt;p&gt;Gallup&lt;/p&gt;
				&lt;/a&gt;
				&lt;span&gt;Gallup lorem ipsum&lt;/span&gt;
			&lt;/div&gt;
			&lt;div class=&quot;icon-lift participation&quot;&gt;
				&lt;a href=&quot;#&quot;&gt;
					&lt;span class=&quot;icon&quot;&gt;Keskustelu kuva&lt;/span&gt;
					&lt;p&gt;Keskustelu&lt;/p&gt;
				&lt;/a&gt;
				&lt;span&gt;Keskustelu lorem ipsum&lt;/span&gt;
			&lt;/div&gt;
			&lt;div class=&quot;icon-lift cancel&quot;&gt;
				&lt;a id=&quot;btnCancelParticipation&quot;&gt;
					&lt;span class=&quot;icon&quot;&gt;X&lt;/span&gt;
					&lt;p&gt;Palaa osallistumislistaan&lt;/p&gt;
				&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div&gt;
			&lt;div class=&quot;helper-container&quot;&gt;
				&lt;span class=&quot;icon-help h3&quot; title=&quot;Lorem ipsum&quot; placement=&quot;top&quot;&gt;Hankkeen osallistujat&lt;/span&gt;
				&lt;p class=&quot;helper-text small is-vishidden&quot;&gt;Lorem ipsum&lt;/p&gt;
			&lt;/div&gt;
			&lt;div class=&quot;fadeout&quot;&gt;
				&lt;table class=&quot;table-borderless&quot;&gt;
					&lt;thead&gt;
						&lt;tr&gt;
							&lt;td&gt;&lt;/td&gt;
							&lt;td&gt;
								Seuraa
								&lt;span&gt;&lt;/span&gt;
							&lt;/td&gt;
							&lt;td&gt;
								On osallistunut
								&lt;span&gt;&lt;/span&gt;
							&lt;/td&gt;
							&lt;td&gt;
								Vastuuhenkil&ouml;
								&lt;span&gt;&lt;/span&gt;
							&lt;/td&gt;
							&lt;td&gt;
								Ohjaaja
								&lt;span&gt;&lt;/span&gt;
							&lt;/td&gt;
							&lt;td&gt;
								Kutsuttu
								&lt;span&gt;&lt;/span&gt;
							&lt;/td&gt;
						&lt;/tr&gt;
					&lt;/thead&gt;
					&lt;tbody&gt;
						&lt;tr&gt;
							&lt;td class=&quot;left&quot;&gt;
								&lt;a href=&quot;#&quot;&gt;Mikko Mallikas&lt;/a&gt;
							&lt;/td&gt;
							&lt;td&gt;&lt;/td&gt;
							&lt;td&gt;
								X
							&lt;/td&gt;
							&lt;td&gt;&lt;/td&gt;
							&lt;td&gt;
								X
							&lt;/td&gt;
							&lt;td&gt;&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;
							&lt;td class=&quot;left&quot;&gt;
								&lt;a href=&quot;#&quot;&gt;Matti Meik&auml;l&auml;inen&lt;/a&gt;
							&lt;/td&gt;
							&lt;td&gt;
								X
							&lt;/td&gt;
							&lt;td&gt;
								X
							&lt;/td&gt;
							&lt;td&gt;
								X
							&lt;/td&gt;
							&lt;td&gt;&lt;/td&gt;
							&lt;td&gt;&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;
							&lt;td class=&quot;left&quot;&gt;
								&lt;a href=&quot;#&quot;&gt;Jaska Jokunen&lt;/a&gt;
							&lt;/td&gt;
							&lt;td&gt;
								X
							&lt;/td&gt;
							&lt;td&gt;
								X
							&lt;/td&gt;
							&lt;td&gt;
								X
							&lt;/td&gt;
							&lt;td&gt;&lt;/td&gt;
							&lt;td&gt;&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;
							&lt;td class=&quot;left&quot;&gt;
								&lt;a href=&quot;#&quot;&gt;Oskari Olematon&lt;/a&gt;
							&lt;/td&gt;
							&lt;td&gt;&lt;/td&gt;
							&lt;td&gt;
								X
							&lt;/td&gt;
							&lt;td&gt;
								X
							&lt;/td&gt;
							&lt;td&gt;&lt;/td&gt;
							&lt;td&gt;&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;
							&lt;td class=&quot;left&quot;&gt;
								&lt;a href=&quot;#&quot;&gt;David Hasselhoff&lt;/a&gt;
							&lt;/td&gt;
							&lt;td&gt;&lt;/td&gt;
							&lt;td&gt;&lt;/td&gt;
							&lt;td&gt;&lt;/td&gt;
							&lt;td&gt;&lt;/td&gt;
							&lt;td&gt;
								X
							&lt;/td&gt;
						&lt;/tr&gt;
					&lt;/tbody&gt;
				&lt;/table&gt;
				&lt;p class=&quot;read-more&quot;&gt;&lt;a href=&quot;&quot;&gt;Lue lis&auml;&auml;&lt;/a&gt;&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;hanke-info&quot;&gt;
			&lt;h2&gt;
				&lt;a id=&quot;Info&quot;&gt;
					Perustiedot
				&lt;/a&gt;
			&lt;/h2&gt;
			&lt;div class=&quot;fadeout&quot;&gt;
				&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc bibendum velit sed nunc ultrices tincidunt. In nulla orci, lacinia at placerat non, consequat nec enim. Phasellus dignissim elit at porttitor elementum. Aliquam felis nisi, gravida sed augue at, posuere consectetur nunc. Nulla varius tempor massa sed luctus. Mauris ornare sollicitudin nulla, mollis convallis enim porta nec. Nulla non mauris eleifend, accumsan lectus id, ultrices massa. Etiam dictum ligula ac dui venenatis semper. Donec congue libero vitae neque dignissim pretium. Maecenas lacinia ultricies lorem, id vulputate turpis interdum a. Nulla ac orci elit.&lt;/p&gt;
				&lt;p class=&quot;read-more&quot;&gt;&lt;a href=&quot;&quot;&gt;Lue lis&auml;&auml;&lt;/a&gt;&lt;/p&gt;
			&lt;/div&gt;
			&lt;table class=&quot;table-borderless&quot;&gt;
				&lt;tbody&gt;
					&lt;tr&gt;
						&lt;th&gt;Vastuuj&auml;rjest&ouml;/-henkil&ouml;&lt;/th&gt;
						&lt;td colspan=&quot;2&quot;&gt;Lorem Ipsum&lt;/td&gt;
					&lt;/tr&gt;
					&lt;tr&gt;
						&lt;th&gt;Hanke luotu&lt;/th&gt;
						&lt;td colspan=&quot;2&quot;&gt;&lt;span class=&quot;date&quot;&gt;23.10.2012&lt;/span&gt;&lt;a href=&quot;#&quot;&gt;Mikko Mallikas&lt;/a&gt;&lt;/td&gt;
					&lt;/tr&gt;
					&lt;tr&gt;
						&lt;th&gt;Hanke muokattu&lt;/th&gt;
						&lt;td colspan=&quot;2&quot;&gt;&lt;span class=&quot;date&quot;&gt;3.4.2014 8:38:05&lt;/span&gt;&lt;a href=&quot;#&quot;&gt;Mikko Mallikas&lt;/a&gt;&lt;/td&gt;
					&lt;/tr&gt;
					&lt;tr&gt;
						&lt;th&gt;Liitteet&lt;/th&gt;
						&lt;td class=&quot;table-cell-list&quot;&gt;
							&lt;h4&gt;Nimi&lt;/h4&gt;
							&lt;a href=&quot;#&quot;&gt;test2.txt&lt;/a&gt;
						&lt;/td&gt;
						&lt;td class=&quot;table-cell-list&quot;&gt;
							&lt;h4&gt;Kuvaus&lt;/h4&gt;
							&lt;p&gt;Liitteen kuvausteksti&lt;/p&gt;
						&lt;/td&gt;
					&lt;/tr&gt;
					&lt;tr&gt;
						&lt;th&gt;Linkit&lt;/th&gt;
						&lt;td&gt;
							&lt;ul&gt;
								&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Google&lt;/a&gt;&lt;/li&gt;
							&lt;/ul&gt;
						&lt;/td&gt;
				&lt;/tbody&gt;
			&lt;/table&gt;
			&lt;div class=&quot;locations&quot;&gt;
				&lt;div class=&quot;helper-container&quot;&gt;
					&lt;span class=&quot;icon-help h4&quot; title=&quot;Lorem ipsum&quot; placement=&quot;top&quot;&gt;Asiasanat&lt;/span&gt;
					&lt;p class=&quot;helper-text small is-vishidden&quot;&gt;Lorem ipsum&lt;/p&gt;
				&lt;/div&gt;
				&lt;ul class=&quot;keywords&quot;&gt;
					&lt;li&gt;
						aapasuot
					&lt;/li&gt;
					&lt;li&gt;
						afrikaanerit
					&lt;/li&gt;
					&lt;li&gt;
						afrikaansin kieli
					&lt;/li&gt;
					&lt;li&gt;
						eurooppaosuuskunnat
					&lt;/li&gt;
					&lt;li&gt;
						Haagin lastensuojelusopimus
					&lt;/li&gt;
					&lt;li&gt;
						sivuty&ouml;
					&lt;/li&gt;
					&lt;li&gt;
						tietoarkistot
					&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;project-analysis&quot;&gt;
			&lt;h2&gt;
				Yhteenveto
			&lt;/h2&gt;
			&lt;div class=&quot;fadeout&quot;&gt;
				&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc bibendum velit sed nunc ultrices tincidunt. In nulla orci, lacinia at placerat non, consequat nec enim. Phasellus dignissim elit at porttitor elementum. Aliquam felis nisi, gravida sed augue at, posuere consectetur nunc. Nulla varius tempor massa sed luctus. Mauris ornare sollicitudin nulla, mollis convallis enim porta nec. Nulla non mauris eleifend, accumsan lectus id, ultrices massa. Etiam dictum ligula ac dui venenatis semper. Donec congue libero vitae neque dignissim pretium. Maecenas lacinia ultricies lorem, id vulputate turpis interdum a. Nulla ac orci elit. &lt;/p&gt;
				&lt;p class=&quot;read-more&quot;&gt;&lt;a href=&quot;&quot;&gt;Lue lis&auml;&auml;&lt;/a&gt;&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	&lt;script&gt;
		$(&quot;#btnAddParticipation&quot;).click(function () {
			$(&quot;#showParticipations&quot;).hide();
			$(&quot;#addParticipations&quot;).show();
		});
		$(&quot;#btnCancelParticipation&quot;).click(function () {
			$(&quot;#showParticipations&quot;).show();
			$(&quot;#addParticipations&quot;).hide();
		});
	&lt;/script&gt;
	{{&gt; organisms-footer }}

&lt;/div&gt;