<h3>Painikkeet, eli buttonit</h3>

<h4>Tumma tyyli</h4>
<p><a href="#" class="btn">Button</a></p>
<p><a href="#" class="btn alt">Alt Button</a></p>
<p><a href="#" class="btn disabled">Disabled Button</a></p>
<p><a href="#" class="btn"><i class="icon-search"></i>Button</a></p>
<p><a href="#" class="btn sub-text">Button<span>Lisäinfoa tässä kentässä</span></a></p>

<h4>Vaalea tyyli</h4>
<p><a href="#" class="btn light">Button</a></p>
<p><a href="#" class="btn light"><i class="icon-search"></i>Button</a></p>

<h4>Otakantaa-tyylit</h4>
<p><a href="#" class="btn btn-otk">Button</a></p>
<p><a href="#" class="btn btn-otk alt">Alt Button</a></p>


<h4>Lausuntopalvelu-tyylit</h4>
<p><a href="#" class="btn btn-lap">Button</a></p>
