<div class="btn-group">
	<a href="#" class="active">Painike 1</a>
	<a href="#">Painike 2</a>
	<a href="#">Painike 3</a>
	<a href="#">Painike 4</a>
	<a href="#">Painike 5</a>
	<a href="#">Painike 6</a>
</div>

<h4>Painikeryhmä inputeista</h4>

<div class="btn-group">
	<input class="active" type="submit" value="Muokkaa perustietoja">
	<input type="submit" value="Kirjoita yhteenveto">
	<input type="submit" value="Lisää kieliversio">
	<input type="submit" value="Osallistumisraportti">
</div>

<div class="btn-group enlarged">
	<a href="#" class="active">Painike 1<span class="count">A</span></a>
	<a href="#">Painike 2<span class="count">B</span></a>
	<a href="#">Painike 3<span class="count">C</span></a>
	<a href="#">Painike 4<span class="count">D</span></a>
	<a href="#">Painike 5<span class="count">E</span></a>
	<a href="#">Painike 6<span class="count">F</span></a>
</div>

<div class="btn-group sorting">
	<a href="#" class="active">Lajittelu 1</a>
	<a href="#">Lajittelu 2</a>
	<a href="#">Lajittelu 3</a>
</div>

<div class="select-style">
	<select id="" class="btn-group">
		<option selected="selected" value="0">Kaikille</option>
		<option value="1">Vain kutsutuille</option>
	</select>
</div>



<form>
	<h4>Checkbox-painikkeet</h4>
	<div class="form-element">
		<label>Kannatusilmoitusten keräystavat</label>
	</div>
	<div class="form-element">
		<label>
			<input type="checkbox" checked="checked">Kansalaisaloite.fi
		</label>
	</div>
	<div class="form-element">
		<label>
			<input type="checkbox" disabled>Muu verkkopalvelu
		</label>
	</div>
	<div class="form-element">
		<label>
			<input type="checkbox">Paperilomakkeet
		</label>
	</div>
	<h4>Radio-painikkeet</h4>
	<div class="form-element">
		<label>Aloitteen muoto</label>
	</div>
	<div class="form-element">
		<label>
			<input name="example" type="radio" checked="checked">Lakiehdotus
		</label>
	</div>
	<div class="form-element">
		<label>
			<input name="example" type="radio">Ehdotus lainvalmisteluun ryhtymisestä
		</label>
	</div>
</form>