<div class="btn-group">
  <a href="#" class="active">Painike 1</a>
  <a href="#">Painike 2</a>
  <a href="#">Painike 3</a>
  <a href="#">Painike 4</a>
  <a href="#">Painike 5</a>
  <a href="#">Painike 6</a>
</div>

<div class="btn-group">
  <a href="#" class="active">Painike 1<span class="count">A</span></a>
  <a href="#">Painike 2<span class="count">B</span></a>
  <a href="#">Painike 3<span class="count">C</span></a>
  <a href="#">Painike 4<span class="count">D</span></a>
  <a href="#">Painike 5<span class="count">E</span></a>
  <a href="#">Painike 6<span class="count">F</span></a>
</div>

<div class="btn-group sorting">
  <a href="#" class="active">Lajittelu 1</a>
  <a href="#">Lajittelu 2</a>
  <a href="#">Lajittelu 3</a>
</div>

<div class="select-style">
  <select id="" class="btn-group">
    <option selected="selected" value="0">Kaikille</option>
    <option value="1">Vain kutsutuille</option>
  </select>
</div>