<div class="icon-lift participation">
	<div class="count-container">
		<span class="icon-span icon-comment"></span>
		<a href="//www.foo.bar">17</a>
	</div>
	<a class="icon-lift-link" href="//www.foo.bar">Miten nyt kerättävä rahoitus tulisi sijoittaa?</a>
	<p class="date">26.5. asti</p>
</div>
<h4>Tummaa taustaa kutsutaan 'gray-base'-luokalla</h4>
<div class="icon-lift gray-base participation">
	<div class="count-container">
		<span class="icon-span icon-comment"></span>
		<a href="//www.foo.bar">17</a>
	</div>
	<a class="icon-lift-link" href="//www.foo.bar">Miten nyt kerättävä rahoitus tulisi sijoittaa?</a>
	<p class="date">26.5. asti</p>
</div>