<div class="lift-button-b participation btn transparent om-keskustelu icon-as-bg">
	<p class="count-number" href="//www.foo.bar">17</p>
	<p class="info-text">Miten nyt kerättävä rahoitus tulisi sijoittaa?</p>
	<a href="//www.foo.bar" class="lift-button-link">Osallistu</a>
</div>

<h4>Floated list</h4>
<div id="showParticipations" class="participations cf">
	<h2 class="ongoing">
		Menossa olevat osallistumiset
	</h2>
	<div class="lift-button-b participation float-left btn transparent om-keskustelu icon-as-bg">
		<p class="count-number" href="//www.foo.bar">17</p>
		<p class="info-text">Miten nyt kerättävä rahoitus tulisi sijoittaa?</p>
		<span class="date">26.5. asti</span>
	</div>
	<div class="lift-button-b participation float-left btn transparent om-keskustelu icon-as-bg">
		<p class="count-number" href="//www.foo.bar">17</p>
		<p class="info-text">Miten nyt kerättävä rahoitus tulisi sijoittaa?</p>
		<span class="date">26.5. asti</span>
	</div>
	<div class="lift-button-b participation float-left btn transparent om-keskustelu icon-as-bg">
		<p class="count-number" href="//www.foo.bar">17</p>
		<p class="info-text">Miten nyt kerättävä rahoitus tulisi sijoittaa?</p>
		<span class="date">26.5. asti</span>
	</div>
	<div class="lift-button-b participation float-left btn transparent om-keskustelu icon-as-bg">
		<p class="count-number" href="//www.foo.bar">17</p>
		<p class="info-text">Miten nyt kerättävä rahoitus tulisi sijoittaa?</p>
		<span class="date">26.5. asti</span>
	</div>
	<div class="lift-button-b participation float-left btn transparent om-keskustelu icon-as-bg">
		<p class="count-number" href="//www.foo.bar">17</p>
		<p class="info-text">Miten nyt kerättävä rahoitus tulisi sijoittaa?</p>
		<span class="date">26.5. asti</span>
	</div>
	<div class="lift-button-b participation float-left btn transparent om-keskustelu icon-as-bg">
		<p class="count-number" href="//www.foo.bar">17</p>
		<p class="info-text">Miten nyt kerättävä rahoitus tulisi sijoittaa?</p>
		<span class="date">26.5. asti</span>
	</div>
</div>