<div class="lift-button-b participation btn transparent om-keskustelu icon-as-bg">
	<p class="count-number" href="//www.foo.bar">17</p>
	<p class="info-text">Miten nyt kerättävä rahoitus tulisi sijoittaa?</p>
	<a href="//www.foo.bar" class="lift-button-link">Osallistu</a>
</div>