<div class="lift-button participation">
	{{> atoms-count-icon }}
	<a class="lift-button-link" href="//www.foo.bar">Miten nyt kerättävä rahoitus tulisi sijoittaa?</a>
	<p class="date">26.5. asti</p>
</div>