<form role="form">
	<h3>Salasanakenttä</h3>
	{{>atoms-field-password}}

	<h3>Sähköpostikenttä</h3>
	{{>atoms-field-email}}

	<h3>Verkko-osoitekenttä</h3>
	{{>atoms-field-url}}

	<h3>Tekstialue</h3>
	{{>atoms-textarea}}
</form>