	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="../../js/modernizr.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
	<script type="text/javascript" src="../../js/plugins.min.js"></script>
	<script type="text/javascript" src="../../js/rangeslider.js"></script>
	<script type="text/javascript" src="../../js/main.min.js"></script>

	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}

	</body>
</html>