&lt;div class=&quot;block block-thumb&quot;&gt;
	&lt;a href=&quot;#&quot; class=&quot;b-inner b-uses-icon&quot;&gt;
		&lt;div class=&quot;b-thumb&quot;&gt;
			&lt;div class=&quot;lift-button-b participation btn transparent om-keskustelu icon-as-bg&quot;&gt;
				&lt;p class=&quot;count-number&quot; href=&quot;//www.foo.bar&quot;&gt;17&lt;/p&gt;
				&lt;p class=&quot;info-text&quot;&gt;Miten nyt ker&auml;tt&auml;v&auml; rahoitus tulisi sijoittaa?&lt;/p&gt;
				&lt;p class=&quot;lift-button-link&quot;&gt;Osallistu&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;b-text&quot;&gt;
			&lt;h3 class=&quot;b-title&quot;&gt;Lorem ipsum ui pellentesque, rutrum ipsum eget, congue odio. Aliquam vel euismod se(95 merkki&auml;)&lt;/h3&gt;
			&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id mi pulvinar, scelerisque orci nec, accumsan magna. Fusce vitae imperdiet urna. Etiam quis orci vitae tellus ullamcorper faucibus. Maecenas a sagittis libero. In adipiscing risus a dolor ullamcorper porta. Proin bibendu(297 merkki&auml;)&lt;/p&gt;
		&lt;/div&gt;
	&lt;/a&gt;
&lt;/div&gt;