<form>
	<div class="form-element">
		<label>Kannatusilmoitusten keräystavat</label>
	</div>
	<div class="form-element">
		<label>
			<input type="checkbox" checked="checked">Kansalaisaloite.fi
		</label>
	</div>
	<div class="form-element">
		<label>
			<input type="checkbox" disabled>Muu verkkopalvelu
		</label>
	</div>
	<div class="form-element">
		<label>
			<input type="checkbox">Paperilomakkeet
		</label>
	</div>
</form>