<form role="form">
  <div class="form-element">
    <label>Aloitteen muoto</label>
  </div>
  <div class="form-element">
    <label>
      <input name="valinta" type="radio" checked="checked">
      Lakiehdotus
    </label>
  </div>
  <div class="form-element">
    <label>
      <input name="valinta" type="radio">
      Ehdotus lainvalmisteluun ryhtymisestä
    </label>
  </div>
</form>