<div class="form-element email-el">
	<label for="email">Sähköpostiosoite</label>
	<span class="error-text is-hidden">Virhe!</span>
	<input type="email" id="email" placeholder="esim. sahkoposti@osoite.fi"><i class="icon-ok is-hidden">OK</i>
</div>