<div class="form-element date-element">
	<!-- Works like this: javascript created pikadate is used if browser doesn't support input type=date. If javascript is turned off, only the input type="date" is shown. If the browser doesn't support input type date adn javascript is turned off, it simply can't be helped. -->
	<label for="date-picker">Valitse päivämäärä. <span class="is-vishidden"> Oletuspäivämäärän voit asettaa antamalla value-kentälle arvoksi esim. 25.6.2014 tai 25/6/2014</span></label>
	<input type="date" value="2014-04-25">
	<input type="text" class="datepicker js-show" value="24.5.2014">
</div>