<div class="form-element email-el">
	<label for="email">Sähköpostiosoite</label>

	<input type="email" id="email" placeholder="esim. sahkoposti@osoite.fi"><span class="icon-ok valid-color is-hidden">OK</span>
	<span class="error-text error-color icon-error is-hidden">Virhe</span>
</div>