<div class="form-element date-element">
	<label for="date-picker">Valitse päivämäärä. <span class="is-vishidden"> Oletuspäivämäärän voit asettaa antamalla value-kentälle arvoksi esim. 25.6.2014 tai 25/6/2014</span></label>
	<input type="text" id="date-picker" class="datepicker" value="24.5.2014">
</div>