<div class="form-element">
	<label for="date-picker">Valitse päivämäärä. Oletuspäivämäärän voit asettaa antamalla value-kentälle arvoksi esim. 25.6.2014 tai 25/6/2014</label>
	<input type="text" id="date-picker" class="datepicker" value="24.5.2014">
</div>