<div class="page otakantaa" id="page">
  {{> organisms-header }}
  <section role="main" class="edit-hanke-form">
    <h1>Muokkaa hanketta</h1>
    <div class="hanke-img-container">
      <img src="../../images/fpo_16x9.png" alt="Taustakuva" class="hanke-bg" />
      <div class="edit-bg input-as-icon-container">
        <label class="upload-file-button"><input type="file" id="upload-background-image"><i class="fa fa-plus-circle"></i>Vaihda taustakuva</label>
      </div>
      <div class="logo-container">
        <img src="../../images/fpo_avatar.png" alt="Logo" class="hanke-logo" />
        <div class="edit-logo input-as-icon-container">
          <label class="upload-file-button"><input type="file" id="upload-logo-image"><i class="fa fa-plus-circle"></i>Vaihda logo</label>
        </div>
      </div>
    </div>
    <div class="form-element text-el hanke-title">
      <div class="content-item">
        <label for="text-field">Otsikko tai nimi*</label>
        <input id="tbName" placeholder="Kirjoita tähän otsikko tai nimi..." maxlength="130" value="" />
      </div>
    </div>
    <div class="hanke-form">
      <div class="form-element text-el content-item large">
        <div class="helper-container">
          <span class="icon-help" title="Tässä aputeksti. Aputeksti auttaa suuresti käyttäjää." placement="top">Lyhyt linkki</span>
          <p class="helper-text small is-vishidden">Tässä aputeksti. Aputeksti auttaa suuresti käyttäjää.</p>
        </div>
        <input maxlength="130" data-source="tbName" data-type="shortcut" placeholder="Kirjoita tähän lyhyt linkki..." />
      </div>
      <div class="form-element text-el content-item large">
        <div class="helper-container">
          <span class="icon-help" title="Tässä aputeksti. Aputeksti auttaa suuresti käyttäjää." placement="top">Lyhyt otsikko</span>
          <p class="helper-text small is-vishidden">Tässä aputeksti. Aputeksti auttaa suuresti käyttäjää.</p>
        </div>
        <input maxlength="130" placeholder="Kirjoita tähän lyhyt otsikko..." />
      </div>
      <div id="hanke-intro" class="form-element text-el content-item large">
        <div class="helper-container">
          <span class="icon-help" title="Tässä aputeksti. Aputeksti auttaa suuresti käyttäjää." placement="top">Esittely*</span>
          <p class="helper-text small is-vishidden">Tässä aputeksti. Aputeksti auttaa suuresti käyttäjää.</p>
        </div>
        <textarea placeholder="Kirjoita tähän esittely..." maxlength="400"></textarea>
      </div>
      <div id="hanke-description" class="form-element text-el content-item large">
        <div class="helper-container">
          <span class="icon-help" title="Tässä aputeksti. Aputeksti auttaa suuresti käyttäjää." placement="top">IFrame sisältö</span>
          <p class="helper-text small is-vishidden">Tässä aputeksti. Aputeksti auttaa suuresti käyttäjää.</p>
        </div>
        <textarea placeholder="Kirjoita tähän IFrame sisältö..." maxlength="2000"></textarea>
      </div>
      <div id="hanke-description" class="form-element text-el content-item large">
        <div class="helper-container">
          <span class="icon-help" title="Tässä aputeksti. Aputeksti auttaa suuresti käyttäjää." placement="top">Kuvaus ja tavoitteet*</span>
          <p class="helper-text small is-vishidden">Tässä aputeksti. Aputeksti auttaa suuresti käyttäjää.</p>
        </div>
        <textarea placeholder="Kirjoita tähän kuvaus ja tavoitteet..." maxlength="2000"></textarea>
      </div>
      <div id="hanke-responsibility" class="form-element text-el content-item large">
        <label for="text-field">Vastuujärjestö tai -henkilö*</label>
        <input placeholder="Kirjoita tähän vastuujärjestö tai -henkilö..." maxlength="130" />
      </div>
      <div id="hanke-publicity" class="content-item large">
        <div class="helper-container">
          <span class="icon-help" title="Tässä aputeksti. Aputeksti auttaa suuresti käyttäjää." placement="top">Hankkeen näkyvyys*</span>
          <p class="helper-text small is-vishidden">Tässä aputeksti. Aputeksti auttaa suuresti käyttäjää.</p>
        </div>
        <ul class="btn-group radiogroup">
          <li class="active">
            <input id="rbl0" type="radio" name="group1" value="0" />
            <label for="rbl0">Julkinen/näkyy kaikille</label>
          </li>
          <li>
            <input id="rbl1" type="radio" name="group1" value="1" />
            <label for="rbl1">Vain kutsutuille</label>
          </li>
        </ul>
      </div>
      <div id="hanke-publish" class="content-item large">
        <div class="helper-container">
          <span class="icon-help" title="Tässä aputeksti. Aputeksti auttaa suuresti käyttäjää." placement="top">Hankkeen julkaisun tila*</span>
          <p class="helper-text small is-vishidden">Tässä aputeksti. Aputeksti auttaa suuresti käyttäjää.</p>
        </div>
        <ul class="btn-group radiogroup">
          <li class="active">
            <input id="rbl10" type="radio" name="group2" value="0" />
            <label for="rbl10">Suunnitteilla</label>
          </li>
          <li>
            <input id="rbl11" type="radio" name="group2" value="1" />
            <label for="rbl11">Julkaistu</label>
          </li>
          <li>
            <input id="rbl12" type="radio" name="group2" value="2" />
            <label for="rbl12">Peruttu</label>
          </li>
        </ul>
      </div>
      <div id="hanke-date" class="content-item large">
        <div class="helper-container">
          <span class="icon-help" title="Example tip text." placement="top">Hankkeen aikataulu*</span>
          <p class="helper-text small is-vishidden">Tässä aputeksti. Aputeksti auttaa suuresti käyttäjää.</p>
        </div>
        <div class="event-date-container responsive-block-list">
          <div class="form-element date-element left-block inline-element">
            <label for="date-picker">Hankkeen alkupvm.</label>
            <input type="text" id="date-picker" class="datepicker" value="1.6.2014" />
          </div>
          <div class="form-element date-element right-block inline-element">
            <label for="date-picker">Hankkeen loppupvm.</label>
            <input type="text" id="date-picker" class="datepicker" value="14.5.2015"/>
          </div>
        </div>
      </div>
      <div id="hanke-date" class="content-item large">
        <div class="helper-container">
          <span class="icon-help" title="Example tip text." placement="top">Hankkeen yhteenvedon julkaisu*</span>
          <p class="helper-text small is-vishidden">Tässä aputeksti. Aputeksti auttaa suuresti käyttäjää.</p>
        </div>
        <div class="event-date-container">
          <div class="form-element date-element left-block">
            <label for="date-picker">Yhteenvedon julkaisupvm.</label>
            <input type="text" id="date-picker" class="datepicker" value="14.5.2015" />
          </div>
        </div>
      </div>
      <!-- Optional field those will be fadeout -->
      <div class="fadeout clickable">
        <div id="hanke-attachments" class="content-item large">
          <h3>Liitteet</h3>
          <!-- Hanke attachment list -->
          <div class="attachment-form inline-element">
            <div class="form-element attachment-edit">
              <label class="edit-file-button">muokkaa</label>
              <div class="mime-container">
                <i class="fa fa-file-o"></i>
              </div>
              <a class="file-title">Otsikko</a>
              <p>tiedostonimi...jpg</p>
            </div>
          </div>
          <div class="attachment-form inline-element">
            <div class="form-element attachment-edit">
              <label class="edit-file-button">muokkaa</label>
              <div class="mime-container">
                <i class="fa fa-file-o"></i>
              </div>
              <a class="file-title">Otsikko</a>
              <p>tiedostonimi...jpg</p>
            </div>
          </div>
          <div class="attachment-form inline-element">
            <div class="form-element attachment-edit">
              <label class="edit-file-button">muokkaa</label>
              <div class="mime-container">
                <i class="fa fa-file-o"></i>
              </div>
              <a class="file-title">Otsikko</a>
              <p>tiedostonimi...jpg</p>
            </div>
          </div>
          <div class="attachment-form inline-element">
            <div class="form-element attachment-container">
              <label for="upload-file" class="upload-file-button">Lisää tiedosto</label>
              <input type="file" id="upload-file" />
            </div>
          </div>
        </div>
        <div id="hanke-links" class="content-item large">
          <h3>Linkit</h3>
          <div class="semantic-list">
            <ol>
              <li>
                <input placeholder="http://" maxlength="200" value="http://www.google.com" />
                <input placeholder="Kirjoita linkin kuvaus..." maxlength="100" value="Suosittu hakukone" />
              </li>
              <li>
                <input placeholder="http://" maxlength="200" />
                <input placeholder="Kirjoita linkin kuvaus..." maxlength="100" />
              </li>
            </ol>
          </div>
          <input id="btnAddHankeLink" class="btn btn-otk" type="submit" value="Lisää linkki" />
        </div>
        <div id="hanke-locations" class="content-item large">
          <h3>Paikkakunnat</h3>
          <ul id="tbLocations" class="location-list"></ul>
        </div>
        <div id="hanke-keywords" class="content-item large">
          <h3>Asiasanat</h3>
          <ul id="tbKeywords" class="tagit-list"></ul>
        </div>
        <div id="hanke-admins" class="content-item large">
          <h3>Vastuuhenkilöt</h3>
          <ul id="tbAdmins" class="person-list"></ul>
        </div>
        <div id="hanke-supervisors" class="content-item large">
          <h3>Ohjaajat</h3>
          <ul id="tbSupervisors" class="person-list"></ul>
        </div>
        <p class="read-more">
          <a href="#">Näytä valinnaiset lisätiedot</a>
        </p>
      </div>
      <div id="hanke-save" class="content-item large save">
        <div class="terms">
          Olen tutustunut <a href="#">palvelun sääntöihin</a> ja vakuutan annettujen tietojen olevan todenmukaisia*
        </div>
        <div class="process-actions">
          <ul>
            <li class="action-item">
              <a class="btn prev" rel="prev" href="">
                <i class="icon-arrow-back"></i>Peruuta
              </a>
            </li>
            <li class="action-item middle-section">
              <ul id="rblAcceptTerms" class="btn-group radiogroup">
                <li class="active">
                  <input id="rblIDontAcceptTerms" type="radio" name="group2" value="0" checked="" />
                  <label for="rblIDontAcceptTerms">En hyväksy ehtoja</label>
                </li>
                <li>
                  <input id="rblTermsAccepted" type="radio" name="group2" value="1" />
                  <label for="rblTermsAccepted">Hyväksyn ehdot</label>
                </li>
              </ul>
            </li>
            <li class="action-item">
              <input id="btnSaveHanke" type="submit" class="btn" value="Tallenna muutokset" disabled="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section><!--End role=main-->
  {{> organisms-footer }}
</div>