<div class="page hankesivu-read-mode" id="page">
  {{> organisms-header }}
  <div role="main" class="responsive-list-block">
    <div class="hanke-details">
      <div class="block backgroud">
        <img src="../../images/fpo_16x9.png" alt="Taustakuva" />
      </div>
      <div class="block logo">
        <img src="../../images/logo.png" alt="Logo" />
      </div>
      <div class="admin-tools">
        <input class="btn" type="submit" value="Muokkaa perustietoja" />
        <input class="btn" type="submit" value="Kirjoita yhteenveto" />
        <input class="btn" type="submit" value="Lisää kieliversio" />
        <input class="btn" type="submit" value="Osallistumisraportti" />
      </div>
      <h1>Hankkeen nimi Lorem ipsum dolor sit met</h1>
    </div>
    <div class="content-item medium inline-element">      
      <div class="fadeout">
        <p class="ingressi">Hankkeen kuvausteksti tänne. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        <p class="read-more">
          <a href="">Lue lisää</a>
        </p>
      </div>
      <div class="some-buttons inline-element">
        <a href="http://www.facebook.com/otakantaa" class="facebook" target="_blank">
          <i class="om-facebook om"></i>
          <span>Facebook</span>
        </a>
        <a href="http://www.twitter.com/otakantaa" class="twitter" target="_blank">
          <i class="om-twitter om"></i>
          <span>Twitter</span>
        </a>
      </div>
    </div>
    <div class="content-item medium invitation inline-element">
      <h3>
        <img src="../../images/favicon_32x32.jpg" />
        Kutsu muita osallistumaan
      </h3>
      <div class="helper-container">
        <span class="icon-help" title="lisää käyttäjänimiä tai sähköpostiosoitteita" placement="top">Kenelle</span>
        <p class="helper-text small is-vishidden">lisää käyttäjänimiä tai sähköpostiosoitteita</p>
      </div>
      <input type="text" />
      <div class="helper-container">
        <span class="icon-help" title="valinnainen viesti sähköpostikutsuun" placement="top">Viesti</span>
        <p class="helper-text small is-vishidden">valinnainen viesti sähköpostikutsuun</p>
      </div>
      <textarea style="height: 70px;" cols="20" rows="2"></textarea>
      <input class="btn btn-otk" type="submit" value="Lähetä kutsu" />
      <div class="sidebar-form-errors">
      </div>
    </div>
    <div class="content-item large fadeout inline-element">
      <div class="status">
        Tila: <span class="state">Käynnissä</span>
      </div>
      <div class="gantt-title">
        Aikataulu: <span class="date">23.10.2012–31.12.2014</span>
      </div>
      <img id="chartHankeGantt" src="../../images/fpo_square.png" alt="Gantt-kuva" />
      <p class="read-more">
        <a href="">Lue lisää</a>
      </p>
    </div>
    <div id="showParticipations" class="content-item large participations responsive-list-block inline-element">
      <h2 class="ongoing">
        Menossa olevat osallistumiset
      </h2>
      <div class="lift-button gray-base participation inline-element">
        <div class="count-container">
          <span class="icon-span icon-comment"></span>
          <a href="//www.foo.bar">17</a>
        </div>
        <a class="icon-lift-link" href="//www.foo.bar">Ympäristön hyvinvointi - miten sitä voidaan...</a>
        <span class="date">26.5. asti</span>
      </div>
      <div class="lift-button gray-base participation inline-element">
        <div class="count-container">
          <span class="icon-span icon-comment"></span>
          <a href="//www.foo.bar">24</a>
        </div>
        <a class="icon-lift-link" href="//www.foo.bar">Kaupungin asukkaiden hyvinvointi ja osallistu...</a>
        <span class="date">26.5. asti</span>
      </div>
      <div class="lift-button gray-base participation inline-element">
        <div class="count-container">
          <span class="icon-span icon-comment"></span>
          <a href="//www.foo.bar">17</a>
        </div>
        <a class="icon-lift-link" href="//www.foo.bar">Miten nyt kerättävä rahoitus tulisi sijoittaa?</a>
        <span class="date">26.5. asti</span>
      </div>
      <div id="btnAddParticipationContainer" class="lift-button gray-base is-hidden inline-element">
        <div class="add-icon-container">
          <span class="icon-span icon-add"></span>
          <a id="btnAddParticipation">Luo uusi osallistuminen</a>
        </div>
      </div>
    </div>
    <div id="addParticipations" class="content-item large participations responsive-list-block inline-element">
      <h2 class="create">
        Luo uusi osallistuminen
      </h2>
      <div class="lift-button gray-base participation inline-element">
        <div class="add-icon-container">
          <span class="icon-span icon-chat"></span>
          <a>Luo reaaliaikainen keskustelu</a>
        </div>
      </div>
      <div class="lift-button gray-base participation inline-element">
        <div class="add-icon-container">
          <span class="icon-span icon-forum"></span>
          <a>Luo vapaamuotoinen keskustelu</a>
        </div>
      </div>
      <div id="btnCancelParticipationContainer" class="lift-button gray-base cancel is-hidden inline-element">
        <div class="cancel-icon-container">
          <span class="icon-span icon-cancel"></span>
          <a id="btnCancelParticipation">Palaa osallistumislistaan</a>
        </div>
      </div>
    </div>
    <div class="content-item large participator-list inline-element">
      <div class="helper-container">
        <span class="icon-help h3" title="Lorem ipsum" placement="top">Hankkeen osallistujat</span>
        <p class="helper-text small is-vishidden">Lorem ipsum</p>
      </div>
      <div class="fadeout">
        <table class="table-borderless">
          <thead>
            <tr>
              <td></td>
              <td>
                Seuraa
                <span></span>
              </td>
              <td>
                On osallistunut
                <span></span>
              </td>
              <td>
                Vastuuhenkilö
                <span></span>
              </td>
              <td>
                Ohjaaja
                <span></span>
              </td>
              <td>
                Kutsuttu
                <span></span>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="left">
                <a href="#">Mikko Mallikas</a>
              </td>
              <td></td>
              <td>
                X
              </td>
              <td></td>
              <td>
                X
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="left">
                <a href="#">Matti Meikäläinen</a>
              </td>
              <td>
                X
              </td>
              <td>
                X
              </td>
              <td>
                X
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="left">
                <a href="#">Jaska Jokunen</a>
              </td>
              <td>
                X
              </td>
              <td>
                X
              </td>
              <td>
                X
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="left">
                <a href="#">Oskari Olematon</a>
              </td>
              <td></td>
              <td>
                X
              </td>
              <td>
                X
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="left">
                <a href="#">David Hasselhoff</a>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                X
              </td>
            </tr>
          </tbody>
        </table>
        <p class="read-more">
          <a href="">Lue lisää</a>
        </p>
      </div>
    </div>
    <div class="content-item large hanke-info inline-element">
      <h2>
        <a id="Info">
          Perustiedot
        </a>
      </h2>
      <div class="fadeout">
        <p>Hankkeen johdanto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc bibendum velit sed nunc ultrices tincidunt. In nulla orci, lacinia at placerat non, consequat nec enim. Phasellus dignissim elit at porttitor elementum. Aliquam felis nisi, gravida sed augue at, posuere consectetur nunc. Nulla varius tempor massa sed luctus. Mauris ornare sollicitudin nulla, mollis convallis enim porta nec. Nulla non mauris eleifend, accumsan lectus id, ultrices massa. Etiam dictum ligula ac dui venenatis semper. Donec congue libero vitae neque dignissim pretium. Maecenas lacinia ultricies lorem, id vulputate turpis interdum a. Nulla ac orci elit.</p>
        <p class="read-more">
          <a href="">Lue lisää</a>
        </p>
      </div>
      <table class="table-borderless">
        <tbody>
          <tr>
            <th>Vastuujärjestö/-henkilö</th>
            <td colspan="2">Lorem Ipsum</td>
          </tr>
          <tr>
            <th>Hanke luotu</th>
            <td colspan="2">
              <span class="date">23.10.2012</span>
              <a href="#">Mikko Mallikas</a>
            </td>
          </tr>
          <tr>
            <th>Hanke muokattu</th>
            <td colspan="2">
              <span class="date">3.4.2014 8:38:05</span>
              <a href="#">Mikko Mallikas</a>
            </td>
          </tr>
          <tr>
            <th>Liitteet</th>
            <td class="table-cell-list">
              <h4>Nimi</h4>
              <a href="#">test2.txt</a>
            </td>
            <td class="table-cell-list">
              <h4>Kuvaus</h4>
              <p>Liitteen kuvausteksti</p>
            </td>
          </tr>
          <tr>
            <th>Linkit</th>
            <td>
              <ul>
                <li>
                  <a href="#">Google</a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="content-item medium keywords inline-element">
      <div class="helper-container">
        <span class="icon-help h4" title="Lorem ipsum" placement="top">Asiasanat</span>
        <p class="helper-text small is-vishidden">Lorem ipsum</p>
      </div>
      <ul class="tag-list">
        <li class="tag-with-icon">
          <i class="fa fa-university"></i>Esimerkkiministeriö
        </li>
        <li>Turvallisuus</li>
        <li>Esimerkki</li>
      </ul>
    </div>
    <div class="content-item medium locations inline-element">
      <div class="helper-container">
        <span class="icon-help h4" title="Lorem ipsum" placement="top">Paikkakunnat</span>
        <p class="helper-text small is-vishidden">Lorem ipsum</p>
      </div>
      <ul class="tag-list">
        <li>Turku</li>
        <li>Oulu</li>
        <li>Helsinki</li>
        <li>Tampere</li>
      </ul>
    </div>
    <div class="content-item medium project-analysis inline-element">
      <h2>
        Yhteenveto
      </h2>
      <div class="fadeout">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc bibendum velit sed nunc ultrices tincidunt. In nulla orci, lacinia at placerat non, consequat nec enim. Phasellus dignissim elit at porttitor elementum. Aliquam felis nisi, gravida sed augue at, posuere consectetur nunc. Nulla varius tempor massa sed luctus. Mauris ornare sollicitudin nulla, mollis convallis enim porta nec. Nulla non mauris eleifend, accumsan lectus id, ultrices massa. Etiam dictum ligula ac dui venenatis semper. Donec congue libero vitae neque dignissim pretium. Maecenas lacinia ultricies lorem, id vulputate turpis interdum a. Nulla ac orci elit. </p>
        <p class="read-more">
          <a href="">Lue lisää</a>
        </p>
      </div>
    </div>
  </div><!--End role=main-->
  {{> organisms-footer }}
</div>