<div class="page otakantaa" id="page">
  {{> organisms-header }}
  <div role="main">
    <div class="content-item large">
      <h1>
        Laskeutumissivun otsikko
      </h1>
      <div class="helptext">
        <p>{{description}}</p>
      </div>
      <div class="cf">
        <div>
          <div class="content-item medium  float-left">
            <div class="lift-header gradient-cyan">
              Poliittinen osallistuminen
            </div>
            <div class="lift-content">
              <div class="lift-image">
                <a href="#" />
              </div>
              <div class="lift-text">
                Lorem ipsum nostoteksti
              </div>
              <div class="lift-link">
                <a href="#">Lue lisää</a>
              </div>
            </div>
          </div>
          <div class="content-item medium  float-right">
            <div class="lift-header gradient-cyan">
              Demokratian ongelmat ja haasteet
            </div>
            <div class="lift-content">
              <div class="lift-image">
                <a href="#" />
              </div>
              <div class="lift-text">
                Lorem ipsum nostoteksti
              </div>
              <div class="lift-link">
                <a href="#">Lue lisää</a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="content-item medium  float-left">
            <div class="lift-header gradient-cyan">
              Demokratia
            </div>
            <div class="lift-content">
              <div class="lift-image">
                <a href="#" />
              </div>
              <div class="lift-text">
                Lorem ipsum nostoteksti
              </div>
              <div class="lift-link">
                <a href="#">Lue lisää</a>
              </div>
            </div>
          </div>
          <div class="content-item medium  float-right">
            <div class="lift-header gradient-cyan">
              Edustuksellinen ja suora demokratia
            </div>
            <div class="lift-content">
              <div class="lift-image">
                <a href="#" />
              </div>
              <div class="lift-text">
                Lorem ipsum nostoteksti
              </div>
              <div class="lift-link">
                <a href="#">Lue lisää</a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="content-item medium  float-left">
            <div class="lift-header gradient-cyan">
              Demokratiasanasto
            </div>
            <div class="lift-content">
              <div class="lift-image">
                <a href="#" />
              </div>
              <div class="lift-text">
                Lorem ipsum nostoteksti
              </div>
              <div class="lift-link">
                <a href="#">Lue lisää</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--End role=main-->
  {{> organisms-footer }}
</div>