&lt;table class=&quot;table-borderless&quot;&gt;
	&lt;tbody&gt;
	&lt;tr&gt;
		&lt;th&gt;Otsikko&lt;/th&gt;
		&lt;td colspan=&quot;2&quot;&gt;Solun arvo&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;th&gt;Otsikko&lt;/th&gt;
		&lt;td colspan=&quot;2&quot;&gt;Solun arvo&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;th&gt;Otsikko&lt;/th&gt;
		&lt;td colspan=&quot;2&quot;&gt;Solun arvo&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;th&gt;Otsikko&lt;/th&gt;
		&lt;td class=&quot;table-cell-list&quot;&gt;
			&lt;h4&gt;Alaotsikko&lt;/h4&gt;
			&lt;a href=&quot;&quot;&gt;Linkki&lt;/a&gt;
			&lt;a href=&quot;&quot;&gt;Linkki&lt;/a&gt;
			&lt;a href=&quot;&quot;&gt;Linkki&lt;/a&gt;
			&lt;a href=&quot;&quot;&gt;Linkki&lt;/a&gt;
		&lt;/td&gt;
		&lt;td class=&quot;table-cell-list&quot;&gt;
			&lt;h4&gt;Alaotsikko&lt;/h4&gt;
			&lt;p&gt;Teksti&auml;&lt;/p&gt;
			&lt;p&gt;Teksti&auml;&lt;/p&gt;
			&lt;p&gt;Teksti&auml;&lt;/p&gt;
			&lt;p&gt;Teksti&auml;&lt;/p&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;th&gt;Otsikko&lt;/th&gt;
		&lt;td&gt;
			&lt;ul&gt;
				&lt;li&gt;&lt;a href=&quot;&quot;&gt;Linkki&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;&quot;&gt;Linkki&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;&quot;&gt;Linkki&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;&quot;&gt;Linkki&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/td&gt;
	&lt;/tbody&gt;
&lt;/table&gt;