&lt;div class=&quot;om-footer&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;block&quot;&gt;
            &lt;span class=&quot;footer-logo om&quot;&gt;&lt;/span&gt;
            &lt;p&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;br/&gt;
                &lt;a href=&quot;#&quot;&gt;Lue lis&amp;auml;&amp;auml; &amp;gt;&lt;/a&gt;
            &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;block&quot;&gt;
            &lt;span class=&quot;footer-logo vivi&quot;&gt;&lt;/span&gt;
            &lt;p&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;br/&gt;
                &lt;a href=&quot;#&quot;&gt;Lue lis&amp;auml;&amp;auml; &amp;gt;&lt;/a&gt;
            &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;footer-links&quot;&gt;
            &lt;ul&gt;
                &lt;li&gt;&lt;span class=&quot;triangle-right&quot;&gt;&lt;/span&gt; &lt;a href=&quot;#&quot;&gt;Linkki 1&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;span class=&quot;triangle-right&quot;&gt;&lt;/span&gt; &lt;a href=&quot;#&quot;&gt;Linkki 2&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;span class=&quot;triangle-right&quot;&gt;&lt;/span&gt; &lt;a href=&quot;#&quot;&gt;Linkki 3&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;span class=&quot;triangle-right&quot;&gt;&lt;/span&gt; &lt;a href=&quot;#&quot;&gt;Linkki 4&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &lt;br class=&quot;clear&quot;/&gt;
    &lt;/div&gt;

    &lt;a href=&quot;#header-tools&quot; accesskey=&quot;3&quot; class=&quot;hidden&quot;&gt;Takaisin yl&amp;ouml;s&lt;/a&gt;
&lt;/div&gt;