&lt;div class=&quot;gallup-section&quot;&gt;
	&lt;div class=&quot;participation-item&quot;&gt;
		&lt;div class=&quot;participation-icon&quot;&gt;
			&lt;a id=&quot;Gallup: Milt&Atilde;&curren; n&Atilde;&curren;ytt&Atilde;&curren;&Atilde;&curren; Etherpad Otakantaassa?(247)&quot;&gt;
				&lt;i class=&quot;om om-gallup&quot;&gt;&lt;/i&gt;
			&lt;/a&gt;
		&lt;/div&gt;
		&lt;div class=&quot;participation-data&quot;&gt;
			&lt;div class=&quot;participation-type&quot;&gt;
				&lt;span&gt; Gallup: &lt;/span&gt; Milt&Atilde;&curren; n&Atilde;&curren;ytt&Atilde;&curren;&Atilde;&curren; Etherpad Otakantaassa?
			&lt;/div&gt;
			&lt;div class=&quot;participation-information&quot;&gt;
				&lt;span&gt; 18.9.2013&acirc;€“29.9.2013&lt;/span&gt; (Gallup on auki kaikille) &lt;span class=&quot;modify-links&quot;&gt;&lt;/span&gt;
				&lt;div&gt;
					&lt;p&gt;P&Atilde;&curren;iv&Atilde;&curren;n Otakantaa-vinkki: Tiesitk&Atilde;&para; ett&Atilde;&curren; voit upottaa Etherpadin osallistumishankkeeseesi?&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;table class=&quot;gallup-answers&quot;&gt;
		&lt;tbody&gt;
			&lt;tr&gt;
				&lt;td style=&quot;width: 108px;&quot;&gt;
					&lt;div class=&quot;progressbar-bg&quot;&gt;
						&lt;div class=&quot;progressbar-progress&quot; style=&quot;width: 25%;&quot;&gt;
							&lt;div class=&quot;progressbar-text&quot;&gt;
								1. K&Atilde;&curren;ytt&Atilde;&para;kelpoinen. Joku Muu kai haluaa k&Atilde;&curren;ytt&Atilde;&curren;&Atilde;&curren;.
								25% (6 &Atilde;„&Atilde;&curren;nt&Atilde;&curren;)
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td style=&quot;width: 108px;&quot;&gt;
					&lt;div class=&quot;progressbar-bg&quot;&gt;
						&lt;div class=&quot;progressbar-progress&quot; style=&quot;width: 8%;&quot;&gt;
							&lt;div class=&quot;progressbar-text&quot;&gt;
								2. Turhuuksien turhuus.
								8% (2 &Atilde;„&Atilde;&curren;nt&Atilde;&curren;)
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td style=&quot;width: 108px;&quot;&gt;
					&lt;div class=&quot;progressbar-bg&quot;&gt;

						&lt;div class=&quot;progressbar-progress progressbar-progress_selected&quot; style=&quot;width: 8%;&quot;&gt;
							&lt;div class=&quot;progressbar-text&quot;&gt;
								3. Miten t&Atilde;&curren;t&Atilde;&curren; k&Atilde;&curren;ytet&Atilde;&curren;&Atilde;&curren;n?
								8% (2 &Atilde;„&Atilde;&curren;nt&Atilde;&curren;)
							&lt;/div&gt;
						&lt;/div&gt;

					&lt;/div&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td style=&quot;width: 108px;&quot;&gt;
					&lt;div class=&quot;progressbar-bg&quot;&gt;
						&lt;div class=&quot;progressbar-progress&quot; style=&quot;width: 29%;&quot;&gt;
							&lt;div class=&quot;progressbar-text&quot;&gt;
								4. T&Atilde;&curren;t&Atilde;&curren; olen aina odottanut!
								29% (7 &Atilde;„&Atilde;&curren;nt&Atilde;&curren;)
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td style=&quot;width: 108px;&quot;&gt;
					&lt;div class=&quot;progressbar-bg&quot;&gt;
						&lt;div class=&quot;progressbar-progress&quot; style=&quot;width: 29%;&quot;&gt;
							&lt;div class=&quot;progressbar-text&quot;&gt;
								5. Mik&Atilde;&curren; on Etherpad?
								29% (7 &Atilde;„&Atilde;&curren;nt&Atilde;&curren;)
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/tbody&gt;
	&lt;/table&gt;


	&lt;div class=&quot;gallup-already-answered&quot;&gt; &lt;/div&gt;
&lt;/div&gt;
