&lt;div class=&quot;form-element&quot; style=&quot;margin: 30px; width: 50%;&quot;&gt;
	&lt;input class=&quot;slider&quot; data-rangeslider type=&quot;range&quot;&gt;
	&lt;output id=&quot;js-output&quot;&gt;&lt;/output&gt;
&lt;/div&gt;