&lt;form action=&quot;{{ url }}&quot; method=&quot;post&quot; class=&quot;inline-form search-form&quot;&gt;
	&lt;legend class=&quot;is-vishidden&quot;&gt;Search&lt;/legend&gt;
	&lt;div class=&quot;form-element&quot;&gt;
		&lt;label for=&quot;search-field&quot; class=&quot;is-vishidden&quot;&gt;Search&lt;/label&gt;
		&lt;input type=&quot;search&quot; placeholder=&quot;Search&quot; id=&quot;search-field&quot; class=&quot;search-field&quot; /&gt;
		&lt;button class=&quot;search-submit js-expand-search&quot;&gt;
			&lt;i class=&quot;icon-search&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
			&lt;span class=&quot;is-vishidden&quot;&gt;Search&lt;/span&gt;
		&lt;/button&gt;
	&lt;/div&gt;
&lt;/form&gt;