&lt;div class=&quot;semantic-list&quot;&gt;
	&lt;h4&gt;Samanlaisia esityksi&Atilde;&curren;&lt;/h4&gt;
	&lt;ol&gt;
		&lt;li&gt;
			&lt;a href=&quot;/document/he-141-2012/&quot;&gt;HE 141/2012: Hallituksen esitys eduskunnalle er&Atilde;&curren;iden t&Atilde;&para;rkeiden rikosten valmistelun kriminalisoimista koskevaksi lains&Atilde;&curren;&Atilde;&curren;d&Atilde;&curren;nn&Atilde;&para;ksi&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;/document/he-197-2008/&quot;&gt;HE 197/2008: Hallituksen esitys eduskunnalle tulliselvitysrikoksia koskevaksi lains&Atilde;&curren;&Atilde;&curren;d&Atilde;&curren;nn&Atilde;&para;ksi&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;/document/la-124-2007/&quot;&gt;LA 124/2007: Laki rikoslain 31 luvun muuttamisesta&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;/document/kk-441-2007/&quot;&gt;KK 441/2007: Rikoksen valmistelun kriminalisointi&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;/document/he-55-2007/&quot;&gt;HE 55/2007: Hallituksen esitys eduskunnalle sotarikoksia ja rikoksia ihmisyytt&Atilde;&curren; vastaan koskevien rikoslain s&Atilde;&curren;&Atilde;&curren;nn&Atilde;&para;sten muuttamiseksi sek&Atilde;&curren; er&Atilde;&curren;iksi niihin liittyviksi laeiksi&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ol&gt;
&lt;/div&gt;