&lt;div class=&quot;semantic-list&quot;&gt;
	&lt;h4&gt;Samanlaisia esityksi&auml;&lt;/h4&gt;
	&lt;ol&gt;
		&lt;li&gt;
			&lt;a href=&quot;/document/he-141-2012/&quot;&gt;HE 141/2012: Hallituksen esitys eduskunnalle er&auml;iden t&ouml;rkeiden rikosten valmistelun kriminalisoimista koskevaksi lains&auml;&auml;d&auml;nn&ouml;ksi&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;/document/he-197-2008/&quot;&gt;HE 197/2008: Hallituksen esitys eduskunnalle tulliselvitysrikoksia koskevaksi lains&auml;&auml;d&auml;nn&ouml;ksi&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;/document/la-124-2007/&quot;&gt;LA 124/2007: Laki rikoslain 31 luvun muuttamisesta&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;/document/kk-441-2007/&quot;&gt;KK 441/2007: Rikoksen valmistelun kriminalisointi&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;/document/he-55-2007/&quot;&gt;HE 55/2007: Hallituksen esitys eduskunnalle sotarikoksia ja rikoksia ihmisyytt&auml; vastaan koskevien rikoslain s&auml;&auml;nn&ouml;sten muuttamiseksi sek&auml; er&auml;iksi niihin liittyviksi laeiksi&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ol&gt;
&lt;/div&gt;