&lt;h3&gt;Iconit&lt;/h3&gt;
&lt;ul class=&quot;icons&quot;&gt;
	&lt;li&gt; &lt;i class=&quot;icon-search&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt; &lt;i class=&quot;icon-play&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt; &lt;i class=&quot;icon-ok&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt; &lt;i class=&quot;icon-notify&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt; &lt;i class=&quot;icon-warning&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt; &lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt; &lt;i class=&quot;icon-add&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt; &lt;i class=&quot;icon-delete&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt; &lt;i class=&quot;icon-tip&quot;&gt;&lt;/i&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h4&gt;Esimerkki iconien eri koista&lt;/h4&gt;
&lt;ul class=&quot;icons icons-compare&quot;&gt;
	&lt;li&gt;&lt;i class=&quot;icon-ok size-s&quot;&gt;&lt;/i&gt;Pieni iconi&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;icon-ok&quot;&gt;&lt;/i&gt;Normaali iconi&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;icon-ok size-l&quot;&gt;&lt;/i&gt;Suuri iconi&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;icon-ok size-xl&quot;&gt;&lt;/i&gt;Eritt&Atilde;&curren;in suuri iconi&lt;/li&gt;
&lt;/ul&gt;