&lt;div class=&quot;fadeout&quot;&gt;
	&lt;p&gt;
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis iaculis viverra. Quisque mollis vestibulum justo, a aliquam lacus sodales quis. Proin quis aliquet enim. Etiam aliquet, augue et aliquam tristique,urna odio rhoncus metus, a imperdiet diam urna et tortor. Nunc ligula sapien, bibendum nec laoreet eu, hendrerit et est. Vestibulum volutpat, tellus pretium iaculis malesuada, metus leo condimentum elit, vitae bibendum augue dolor vitae quam. Proin quis aliquet enim. Etiam aliquet, augue et aliquam tristique,urna odio rhoncus metus, a imperdiet diam urna et tortor.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis iaculis viverra. Quisque mollis vestibulum justo, a aliquam lacus sodales quis. Proin quis aliquet enim. Etiam aliquet, augue et aliquam tristique,urna odio rhoncus metus, a imperdiet diam urna et tortor. Nunc ligula sapien, bibendum nec laoreet eu, hendrerit et est. Vestibulum volutpat, tellus pretium iaculis malesuada, metus leo condimentum elit, vitae bibendum augue dolor vitae quam. Proin quis aliquet enim. Etiam aliquet, augue et aliquam tristique,urna odio rhoncus metus, a imperdiet diam urna et tortor.
	&lt;/p&gt;
	&lt;p class=&quot;read-more&quot;&gt; &lt;a href=&quot;&quot;&gt;Lue lis&Atilde;&curren;&Atilde;&curren;&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;