&lt;div class=&quot;list-lift&quot;&gt;
	&lt;div class=&quot;navigation&quot;&gt;
		&lt;div class=&quot;btn-group enlarged&quot;&gt;
			&lt;a href=&quot;#&quot; class=&quot;active&quot;&gt;Painike 1&lt;span class=&quot;count&quot;&gt;3&lt;/span&gt;&lt;/a&gt;
			&lt;a href=&quot;#&quot;&gt;Painike 2&lt;span class=&quot;count&quot;&gt;15&lt;/span&gt;&lt;/a&gt;
			&lt;a href=&quot;#&quot;&gt;Painike 3&lt;/a&gt;
			&lt;a href=&quot;#&quot;&gt;Painike 4&lt;/a&gt;
			&lt;a href=&quot;#&quot;&gt;Painike 5&lt;/a&gt;
			&lt;a href=&quot;#&quot;&gt;Painike 6&lt;span class=&quot;count&quot;&gt;66&lt;/span&gt;&lt;/a&gt;
		&lt;/div&gt;
		&lt;div class=&quot;tag-search-container&quot;&gt;
			{{&gt; atoms-tagit }}
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;content-list&quot;&gt;
		&lt;ul&gt;
			&lt;li class=&quot;single-list-item&quot;&gt;
				&lt;ul class=&quot;items-container&quot;&gt;
					&lt;li class=&quot;block-item&quot;&gt;
						{{&gt; atoms-link-and-description }}
					&lt;/li&gt;
					&lt;li class=&quot;block-item&quot;&gt;
						{{&gt; atoms-count-icon-b }}
					&lt;/li&gt;
					&lt;li class=&quot;block-item&quot;&gt;
						{{&gt; atoms-link-and-description }}
					&lt;/li&gt;
					&lt;li class=&quot;block-item&quot;&gt;
						{{&gt; atoms-tag-list }}
					&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/li&gt;
			&lt;li class=&quot;single-list-item&quot;&gt;
				&lt;ul class=&quot;items-container&quot;&gt;
					&lt;li class=&quot;block-item&quot;&gt;
						{{&gt; atoms-link-and-description }}
					&lt;/li&gt;
					&lt;li class=&quot;block-item&quot;&gt;
						{{&gt; atoms-count-icon-b }}
					&lt;/li&gt;
					&lt;li class=&quot;block-item&quot;&gt;
						{{&gt; atoms-link-and-description }}
					&lt;/li&gt;
					&lt;li class=&quot;block-item&quot;&gt;
						{{&gt; atoms-tag-list }}
					&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/li&gt;
			&lt;li class=&quot;single-list-item&quot;&gt;
				&lt;ul class=&quot;items-container&quot;&gt;
					&lt;li class=&quot;block-item&quot;&gt;
						{{&gt; atoms-link-and-description }}
					&lt;/li&gt;
					&lt;li class=&quot;block-item&quot;&gt;
						{{&gt; atoms-count-icon-b }}
					&lt;/li&gt;
					&lt;li class=&quot;block-item&quot;&gt;
						{{&gt; atoms-link-and-description }}
					&lt;/li&gt;
					&lt;li class=&quot;block-item&quot;&gt;
						{{&gt; atoms-tag-list }}
					&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/div&gt;