&lt;!-- Begin .header --&gt;
&lt;header class=&quot;header cf&quot; role=&quot;banner&quot;&gt;
	&lt;div class=&quot;element-group&quot;&gt;
		&lt;div class=&quot;inner-block align-left&quot;&gt;
			{{&gt; atoms-logo }}
		&lt;/div&gt;
		&lt;div class=&quot;inner-block align-right&quot;&gt;
			{{&gt; molecules-search }}
			{{&gt; molecules-lang-sel }}
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;element-group&quot;&gt;
		&lt;!-- Use mobile trigger (molecules-responsive-dropdown) here to keep it in place when menus are open. --&gt;
		&lt;div class=&quot;mobile-trigger&quot;&gt; &lt;a href=&quot;#&quot;&gt; &lt;i class=&quot;icon-menu&quot;&gt;&lt;/i&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Valikko&lt;/span&gt; &lt;/a&gt;&lt;/div&gt;

		{{&gt; molecules-login }}
	&lt;/div&gt;
	&lt;div class=&quot;element-group&quot;&gt;
		&lt;!-- molecules-responsive-dropdown. Not called as mustache because mobile-trigger needs to be within the previous element-group  --&gt;
		&lt;div class=&quot;navi-responsive&quot;&gt;
			&lt;ul&gt;
				&lt;li&gt;
					&lt;a href=&quot;#&quot;&gt;Valinta 1&lt;/a&gt;
					&lt;a href=&quot;#&quot; class=&quot;sub-nav-trigger&quot;&gt;&lt;i class=&quot;icon-menu-arrow&quot;&gt;&lt;/i&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Alavalikko&lt;/span&gt;&lt;/a&gt;
					&lt;ul&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;Alavalinta 1&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;Alavalinta 2&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;Alavalinta 3&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;Alavalinta 4&lt;/a&gt;&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a href=&quot;#&quot;&gt;Valinta 2&lt;/a&gt;
					&lt;a href=&quot;#&quot; class=&quot;sub-nav-trigger&quot;&gt;&lt;i class=&quot;icon-menu-arrow&quot;&gt;&lt;/i&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Alavalikko&lt;/span&gt;&lt;/a&gt;
					&lt;ul&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;Alavalinta 1&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;Alavalinta 2&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;Alavalinta 3&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;Alavalinta 4&lt;/a&gt;&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a href=&quot;&quot;&gt;Valinta&lt;/a&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a href=&quot;#&quot;&gt;Valinta 3&lt;/a&gt;
					&lt;a href=&quot;#&quot; class=&quot;sub-nav-trigger&quot;&gt;&lt;i class=&quot;icon-menu-arrow&quot;&gt;&lt;/i&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Alavalikko&lt;/span&gt;&lt;/a&gt;
					&lt;ul&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;Alavalinta 1&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;Alavalinta 2&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;Alavalinta 3&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;Alavalinta 4&lt;/a&gt;&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a href=&quot;#&quot;&gt;Valinta 4&lt;/a&gt;
					&lt;a href=&quot;#&quot; class=&quot;sub-nav-trigger&quot;&gt;&lt;i class=&quot;icon-menu-arrow&quot;&gt;&lt;/i&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Alavalikko&lt;/span&gt;&lt;/a&gt;
					&lt;ul&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;Alavalinta 1&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;Alavalinta 2&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;Alavalinta 3&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;Alavalinta 4&lt;/a&gt;&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/header&gt;
&lt;!-- End .header --&gt;