/*------------------------------------*\
	$FORMS
\*------------------------------------*/
form ol, form ul {
	list-style: none;
	margin-left: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

label {
	display: block;
	padding-bottom: $space-half;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
}

// input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]),
input, textarea {
	//width: 100%;
	width: 100%;
	border: 1px solid $gray;
	padding: $pad-half 0.65rem;
}

textarea{
	min-height: 100px;
	overflow: hidden;

	&.ta-small{
		min-height: 25px;
	}
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
	-webkit-appearance: none;
}

button, input[type="submit"] {
	cursor: pointer;
	width: auto;
	margin: 0;
}

input[type="checkbox"],
input[type="radio"] {
	width: auto;
	margin-right: 0.3em;
}

input[type="search"] {
	-webkit-appearance: none;
	border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

.sg-pattern-body .half-form{
	width: 50%;

}

//Form Field Container
.field-container {
	margin-bottom: $space;
}

.inline-form {
	fieldset, .inline-container {
		position: relative;
	}

	input[type=submit], button, .btn {
		padding: 0.65em 1.3em;
		background: transparent;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		width: auto;
		line-height: 38px;
		border: 0;
		margin: 0;
		padding: 0 $pad;
		color: $text-color;

		@media #{$laptop}{ padding: 0 $pad-and-half }
	}
}

.form-element{
	position: relative;
	i{
		display: inline-block;
		margin-left: 10px;

		.search-form & {
			position: absolute;
			top: 6px;
			right: 10px;
			font-size: 1.375em;

			@media #{$tablet}{
				font-size: 1.5em;
			}
		}
	}

}

.email-el{
	span, i{
		&:before{
			margin-right: 3px;
		}
	}
}

/* Textarea letter counter */
.textarea-word-count{
	color: $text-color;
	display: block;
	text-align: right;
	margin-top: -35px;
	right: 5px;
	position: absolute;

	&.inactive{
		color: $gray;
	}
}


/* Validation */
.has-error {
	border-color: $error;
}
.is-valid {
	border-color: $valid;
}




/*------------------------------------*\
	$SPECIFIC FORMS
\*------------------------------------*/

/* Search Form */
.search-field {
	padding-right: 3em;
	width: 100%;
}
.inline-form .search-submit {
	background: none;
	padding: 0.55em 1em;
	border: 0;
	border-left: 1px solid $gray;
	color: $gray;
}

/* File attachment */
.attachment-form{
	background-color: $gray-light;
	width: 200px;
	height: 200px;

	display: inline-block; // for patternlab only
	vertical-align: top; // for patternlab only
	margin-right: 25px; // for patternlab only


	.attachment-container{
		text-align: center;


		input[type=file]{
			position: absolute;
			left: -9999px;
		}

		.upload-file-button{
			cursor: pointer;
			color: $blue;
			font-weight: 700;
			text-align: center;
			display: inline-block;
			margin-top: 20px;

			&:before{
				@extend .icon-plus;
				background-color: $gray-dark;
				color: $white;
				display: block;
				margin-bottom: 25px;
				line-height: 1;
				font-size: 4em;
				padding: 15px 0;

				@include border-radius(47.5px, 47.5px, 47.5px, 47.5px);
			}


		}
	}
	.attachment-save{
		text-align: center;
		margin: $pad em(12px) $pad-half;

		textarea, .save-attachment{ width: 100%; }

		textarea{
			resize: none;
			padding: 25px 5px;
		}

		.save-attachment{
			margin-top: 10px;
		}
	}

	.attachment-edit{
		text-align: center;

		.edit-file-button{
			text-align: right;

			&:after{
				display: inline-block;
				margin: 0 5px;

				@extend .icon-edit-pen;
			}
		}

		.mime-container{
			background-color: $white;
			margin: 5px 10px;
			padding: 10px;
		}

		.file-title{ display: inline-block; margin: 10px 0; }

	}
}

.form-element .picker{

	button{
		@extend .btn-small;
		background-color: $gray-dark;
		width: 40%;
		margin: 0 $pad $pad-half;

		@media screen and (max-width: 500px){
			width: 100%;
			margin: 0 auto  $pad-half;
		}
		&:hover, &:active{
			color: $white;
			background: lighten($gray-dark, 10%);
			&:before{
				color: white;
			}
		}

		&.picker__button--today{
			&:before{ content: none; }
		}

		&.picker__button--clear{
			&:before{
				@extend .icon-close;
				color: $white !important;
			}
		}
	}

	.picker__nav--prev:hover, .picker__nav--next:hover{ background-color: $gray-dark;

		&:before{
			border-right-color: white;
			border-left-color: white;
		}
	}

	.picker__day--selected.picker__day--highlighted{
		background-color: $blue;
		border-color: darken($blue, 10%);
	}

	.picker__day--today:before{ border-top-color: $blue; }

	.picker__day--infocus:hover, .picker__day--outfocus:hover{
		background-color: $gray-light;
		&.picker__day--selected:hover{ background-color: darken($blue, 10%); }
	}

	.picker__day--highlighted{ background-color: $gray; border-color: darken($gray, 10%); }

	.picker__table{ margin-bottom: $pad-half; }
}




