/*------------------------------------*\
	$FORMS
\*------------------------------------*/
form ol, form ul {
	list-style: none;
	margin-left: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

label {
	display: block;
	padding-bottom: $space-half;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
}

// input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]),
input, textarea {
	//width: 100%;
	width: 100%;
	border: 1px solid $gray;
	padding: $pad-half 0.65em;
}

textarea{
	overflow: hidden;
	min-height: 100px;
	&.ta-small{ min-height: 50px; }

	// Following rules stop twitching when dynamic javascript height is used.
	&.js-dynamic{
		min-height: 84px;
		height: 100px;

		&.ta-small{
			min-height: 58px;
			height: 74px;
		}
	}
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
	-webkit-appearance: none;
}

button, input[type="submit"] {
	cursor: pointer;
	width: auto;
	margin: 0;
}

input[type="checkbox"],
input[type="radio"] {
	width: auto;
	margin-right: 0.3em;
	border: 0;
	outline: 0;
}

input[type="search"] {
	-webkit-appearance: none;
	border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

.sg-pattern-body .half-form{
	width: 50%;
}

//Form Field Container
.field-container {
	margin-bottom: $space;
}

.inline-form {
	fieldset, .inline-container {
		position: relative;
	}

	input[type="submit"], button, .btn {
		padding: 0.65em 1.3em;
		background: transparent;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		width: auto;
		line-height: 38px;
		border: 0;
		margin: 0;
		padding: 0 $pad;
		color: $text-color;

		@media #{$laptop}{ padding: 0 $pad-and-half }
	}
}

.form-element{
	position: relative;
	i{
		display: inline-block;
		margin-left: 10px;

		.search-form & {
			position: absolute;
			top: 6px;
			right: 10px;
			font-size: 1.375em;

			@media #{$tablet}{
				font-size: 1.5em;
			}
		}
	}
}

.email-el{
	span, i{
		&:before{
			margin-right: 3px;
		}
	}
}

/* Textarea letter counter */
.textarea-word-count{
	color: $text-color;
	display: block;
	text-align: right;
	margin-top: -31px;
	right: 5px;
	position: absolute;

	&.inactive{
		color: $gray;
	}
}


/* Validation */
.has-error {
	border-color: $error;
}
.is-valid {
	border-color: $valid;
}




/*------------------------------------*\
	$SPECIFIC FORMS
\*------------------------------------*/

/* Search Form */
.search-field {
	padding-right: 3em;
	width: 100%;
}
.inline-form .search-submit {
	background: none;
	padding: 0.55em 1em;
	border: 0;
	border-left: 1px solid $gray;
	color: $gray;
}

/* File attachment */
.attachment-form{
	background-color: $gray-light;
	width: 200px;
	height: 200px;

	display: inline-block; // for patternlab only
	vertical-align: top; // for patternlab only
	margin-right: 25px; // for patternlab only

	.form-element{
		margin-left: em(12);
		margin-right: em(12);
	}


	.attachment-container{
		text-align: center;

		input[type="file"]{
			position: absolute;
			left: -9999px;
		}

		.upload-file-button{
			cursor: pointer;
			color: $blue;
			font-weight: 700;
			text-align: center;
			display: inline-block;
			margin-top: 20px;

			&:before{
				@extend .icon-plus;
				background-color: $gray-dark;
				color: $white;
				display: block;
				margin-bottom: 25px;
				font-size: 4em;
				line-height: 97px !important;
				padding: 0;

				@include border-radius(50%, 50%, 50%, 50%);
			}


		}
	}
	.attachment-save{
		text-align: center;
		margin-top: $pad;
		margin-bottom: $pad-half;

		textarea, .save-attachment{ width: 100%; }

		textarea{
			resize: none;
			padding: 25px 5px;
		}

		.save-attachment{
			margin-top: 10px;
		}
	}

	.attachment-edit{
		text-align: center;

		.edit-file-button{
			text-align: right;

			&:after{
				display: inline-block;
				margin: 0 5px;

				@extend .icon-edit-pen;
			}
		}

		.mime-container{
			background-color: $white;
			margin: 5px 0;
			padding: 20px 10px;

			i{
				font-size: 1.5em;
				margin: 0;
			}
		}

		.file-title{ display: inline-block; margin: 10px 0; }

	}
}

.form-element .picker{

	button{
		@extend .btn-small;
		background-color: $gray-dark;
		width: 40%;
		margin: 0 $pad $pad-half;

		@media screen and (max-width: 500px){
			width: 100%;
			margin: 0 auto  $pad-half;
		}
		&:hover, &:active{
			color: $white;
			background: lighten($gray-dark, 10%);
			&:before{
				color: white;
			}
		}

		&.picker__button--today{
			&:before{ content: none; }
		}

		&.picker__button--clear{
			&:before{
				@extend .icon-close;
				color: $white !important;
			}
		}
	}

	.picker__nav--prev:hover, .picker__nav--next:hover{ background-color: $gray-dark;

		&:before{
			border-right-color: white;
			border-left-color: white;
		}
	}

	.picker__day--selected.picker__day--highlighted{
		background-color: $blue;
		border-color: darken($blue, 10%);
	}

	.picker__day--today:before{ border-top-color: $blue; }

	.picker__day--infocus:hover, .picker__day--outfocus:hover{
		background-color: $gray-light;
		&.picker__day--selected:hover{ background-color: darken($blue, 10%); }
	}

	.picker__day--highlighted{ background-color: $gray; border-color: darken($gray, 10%); }

	.picker__table{ margin-bottom: $pad-half; }
}

// Slider

.rangeslider{
	background: $gray-light;

	.rangeslider__fill{
		background: darken($gray-med, 20%);
	}

	.rangeslider__handle{
		width: 30px;
		height: 30px;
		top: -5px;
	}
}

.edit-hanke-form, .show-hanke-form {
	.participations {
		.no-js &{
			.lift-button { display: none; }
		}
	}
	.hanke-img-container {
		width: 100%;
		max-width: 1200px;
		min-width: 350px;
		max-height: 700px;
		min-height: 175px;
		position: relative;
		margin-bottom: 1em;

		.edit-bg {
			position: absolute;
			bottom: 1em;
			right: 1em;
		}

		.logo-container {
			position: absolute;
			width: 12em;
			margin-left: 1em;
			bottom: 1em;

			@media #{$tablet} {
				margin-left: 3em;
				bottom: 3em;
			}

			@media #{$laptop} {
				margin-left: 3em;
				bottom: -8em;
			}

			.edit-logo {
				position: absolute;
				text-align: center;
				bottom: 0;
				left: 0;
				@media #{$tablet} {
					bottom: 1em;
					left: 1em;
				}
			}

			img.hanke-logo {
				max-width: 100px;
				max-height: 100px;

				@media #{$tablet} {
					max-width: 150px;
					max-height: 150px;
				}

				@media #{$laptop} {
					max-width: 300px;
					max-height: 300px;
				}
			}
		}
	}
	/* Basic setting for title */
	.hanke-title {
		width: 100%;
		text-align: left;

		@media #{$laptop} {
			padding-left: 23em;
		}
	}

	.admin-tools {
		text-align: left;

		@media #{$laptop} {
			padding-top: 1em;
		}

		input {
			margin: 0.1em 0;
		}
	}
	.invitation {
		h3 img {
			display: inline-block;
			margin-right: 0.5em;
		}
	}
	.hanke-status {
		.status .state {
			color: #17CEE4;
			font-weight: bold;
			float: right;
		}
		.gantt-title .date {
			float: right;
		}
	}
	.debug-hide {
		font-size: 1em;
		float: right;
		padding: 0 0.25em;
	}
	.gantt {
		@media all and (max-width: 700px) {
			display: none;
		}
	}
}

.edit-hanke-form {
	/* Specialization of earlier declared hanke-title class */
	.hanke-title {
		@media #{$laptop} {
			padding-right: 5em;
		}
	}
	.hanke-form {
		@media #{$laptop} {
			margin-top: 3em;
			margin-left: 3em;
			margin-right: 5em;
		}
	}
	.fadeout {
		max-height: 25em;
	}

	.icon-container {
		background-color: #f0f0f0;

		input[type="file"] {
			position: absolute;
			left: -9999px;
		}

		.upload-file-button{
			cursor: pointer;
			padding: 0.25em 0.25em 0.25em 2em;
			&:before{
				@extend .om-plus_circle;
				font-size: 24px;
				position: absolute;
				left: 0.3em;
				top: 0.1em;
				background-color: $white;
				color: $gray-dark;
				padding: 0;
				@include border-radius(50%, 50%, 50%, 50%);
			}
		}
	}

	.semantic-list {
		div {
			@media #{$tablet} {
				width: 49%;
				display: inline-block;
			}
		}
	}
	.save {
		text-align: center;
		div {
			padding-bottom: 2em;
		}
	}
}

/* Grid Container */
.g-ext {
	overflow: hidden;
	margin: $space-half 0;
}
.gi-ext {
	padding: $pad-half;
}

/* Grid 2up */
.g-2up-ext {
	@media all and (max-width: 700px) {
		> .gi-ext {
			float: left;
			min-width: 375px;
		}
	}
	@media all and (min-width: 700px) {
		> .gi-ext {
			float: left;
			min-width: 375px;
			max-width: 700px;

			&:nth-of-type(odd) {
				clear: left;
			}
		}
	}
	@media all and (min-width: 1075px) {
		> .gi-ext {
			&:nth-of-type(odd) {
				min-width: 375px;
				max-width: 700px;
				width: 100%;
				clear: left;
			}
			&:nth-of-type(even) {
				min-width: 375px;
				max-width: 375px;
				width: 100%;
			}
		}
	}
}
