/* Links */
a{
	color: $blue;
	font-size: $font-size-normal;
	text-decoration: none;
	outline: 0;
	cursor: pointer;

	&:hover, &:focus {
		color: darken($blue, 5%);
		text-decoration: none;
	}
	&:active{
		color: darken($blue, 10%);
	}
}