&lt;div class=&quot;process-nav dummmy-container scroll--shadow&quot;&gt;
	&lt;ul&gt;
		&lt;li class=&quot;process-item&quot;&gt;
			&lt;a href=&quot;&quot; class=&quot;process-button past&quot;&gt;
				&lt;i class=&quot;icon-register&quot;&gt;&lt;/i&gt;Luo/Muokkaa&lt;/a&gt;
		&lt;/li&gt;
		&lt;li class=&quot;process-item&quot;&gt;
			&lt;a href=&quot;&quot; class=&quot;process-button active&quot;&gt;
				&lt;i class=&quot;icon-mail&quot;&gt;&lt;/i&gt;L&auml;het&auml;&lt;/a&gt;
		&lt;/li&gt;
		&lt;li class=&quot;process-item&quot;&gt;
			&lt;a href=&quot;&quot; class=&quot;process-button&quot;&gt;
				&lt;i class=&quot;icon-people&quot;&gt;&lt;/i&gt;Lausunnonantajat&lt;/a&gt;
		&lt;/li&gt;
		&lt;li class=&quot;process-item&quot;&gt;
			&lt;a href=&quot;&quot; class=&quot;process-button&quot;&gt;
				&lt;i class=&quot;icon-chart&quot;&gt;&lt;/i&gt;Yhteenveto&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;

&lt;h4&gt;Edellinen ja seuraava -painikkeet, joiden v&auml;liss&auml; mahdollista k&auml;ytt&auml;&auml; tallenna-painiketta&lt;/h4&gt;

&lt;div class=&quot;process-actions&quot;&gt;
	&lt;ul&gt;
		&lt;li class=&quot;action-item&quot;&gt;&lt;a class=&quot;btn prev&quot; rel=&quot;prev&quot; href=&quot;&quot;&gt;&lt;i class=&quot;icon-arrow-back&quot;&gt;&lt;/i&gt;Edellinen&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;action-item middle-section&quot;&gt;
			&lt;input class=&quot;btn&quot; href=&quot;&quot; value=&quot;Tallenna ja keskeyt&auml;&quot;&gt;
		&lt;/li&gt;
		&lt;li class=&quot;action-item&quot;&gt;&lt;a class=&quot;btn next&quot; rel=&quot;next&quot; href=&quot;&quot;&gt;Jatka&lt;i class=&quot;icon-arrow-forward&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;