&lt;h3&gt;Painikkeet, eli buttonit&lt;/h3&gt;

&lt;h4&gt;Tumma tyyli&lt;/h4&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Button&lt;/a&gt;&lt;/p&gt;
&lt;!-- &lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn alt&quot;&gt;Alt Button&lt;/a&gt;&lt;/p&gt; --&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn disabled&quot;&gt;Disabled Button&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;&lt;i class=&quot;icon-search&quot;&gt;&lt;/i&gt;Button&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn sub-text&quot;&gt;Button&lt;span&gt;Lis&Atilde;&curren;infoa t&Atilde;&curren;ss&Atilde;&curren; kent&Atilde;&curren;ss&Atilde;&curren;&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;

&lt;h4&gt;Vaalea tyyli&lt;/h4&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn light&quot;&gt;Button&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn light&quot;&gt;&lt;i class=&quot;icon-search&quot;&gt;&lt;/i&gt;Button&lt;/a&gt;&lt;/p&gt;

&lt;h4&gt;Otakantaa-tyylit&lt;/h4&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn-otk&quot;&gt;Button&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn-otk alt&quot;&gt;Alt Button&lt;/a&gt;&lt;/p&gt;


&lt;h4&gt;Lausuntopalvelu-tyylit&lt;/h4&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn-lap&quot;&gt;Button&lt;/a&gt;&lt;/p&gt;
