&lt;div class=&quot;form-element text-el&quot;&gt;
	&lt;label for=&quot;text-field&quot;&gt;Kirjoita teksti&auml;&lt;/label&gt;
	&lt;input type=&quot;text&quot; id=&quot;text-field&quot; placeholder=&quot;Kirjoita t&auml;h&auml;n...&quot;&gt;
&lt;/div&gt;