&lt;div class=&quot;icon-lift participation&quot;&gt;
	{{&gt; atoms-count-icon }}
	&lt;a class=&quot;icon-lift-link&quot; href=&quot;//www.foo.bar&quot;&gt;Miten nyt ker&auml;tt&auml;v&auml; rahoitus tulisi sijoittaa?&lt;/a&gt;
	&lt;p class=&quot;date&quot;&gt;26.5. asti&lt;/p&gt;
&lt;/div&gt;
&lt;h4&gt;Tummaa taustaa kutsutaan 'gray-base'-luokalla&lt;/h4&gt;
&lt;div class=&quot;icon-lift gray-base participation&quot;&gt;
	{{&gt; atoms-count-icon }}
	&lt;a class=&quot;icon-lift-link&quot; href=&quot;//www.foo.bar&quot;&gt;Miten nyt ker&auml;tt&auml;v&auml; rahoitus tulisi sijoittaa?&lt;/a&gt;
	&lt;p class=&quot;date&quot;&gt;26.5. asti&lt;/p&gt;
&lt;/div&gt;