&lt;div class=&quot;lift-button participation&quot;&gt;
	{{&gt; atoms-count-icon }}
	&lt;a class=&quot;lift-button-link&quot; href=&quot;//www.foo.bar&quot;&gt;Miten nyt ker&auml;tt&auml;v&auml; rahoitus tulisi sijoittaa?&lt;/a&gt;
	&lt;p class=&quot;date&quot;&gt;26.5. asti&lt;/p&gt;
&lt;/div&gt;
&lt;h4&gt;Tummaa taustaa kutsutaan 'gray-base'-luokalla&lt;/h4&gt;
&lt;div class=&quot;lift-button gray-base participation&quot;&gt;
	{{&gt; atoms-count-icon }}
	&lt;a class=&quot;lift-button-link&quot; href=&quot;//www.foo.bar&quot;&gt;Miten nyt ker&auml;tt&auml;v&auml; rahoitus tulisi sijoittaa?&lt;/a&gt;
	&lt;p class=&quot;date&quot;&gt;26.5. asti&lt;/p&gt;
&lt;/div&gt;

&lt;h4&gt;Floated list&lt;/h4&gt;
&lt;div id=&quot;showParticipations&quot; class=&quot;participations cf&quot;&gt;
	&lt;h2 class=&quot;ongoing&quot;&gt;
		Menossa olevat osallistumiset
	&lt;/h2&gt;
	&lt;div class=&quot;lift-button gray-base participation float-left&quot;&gt;
		&lt;div class=&quot;count-container&quot;&gt;
			&lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
			&lt;a href=&quot;//www.foo.bar&quot;&gt;17&lt;/a&gt;
		&lt;/div&gt;
		&lt;a class=&quot;lift-button-link&quot; href=&quot;//www.foo.bar&quot;&gt;Ymp&auml;rist&ouml;n hyvinvointi - miten sit&auml; voidaan...&lt;/a&gt;
		&lt;span class=&quot;date&quot;&gt;26.5. asti&lt;/span&gt;
	&lt;/div&gt;
	&lt;div class=&quot;lift-button gray-base participation float-left&quot;&gt;
		&lt;div class=&quot;count-container&quot;&gt;
			&lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
			&lt;a href=&quot;//www.foo.bar&quot;&gt;24&lt;/a&gt;
		&lt;/div&gt;
		&lt;a class=&quot;lift-button-link&quot; href=&quot;//www.foo.bar&quot;&gt;Kaupungin asukkaiden hyvinvointi ja osallistu...&lt;/a&gt;
		&lt;span class=&quot;date&quot;&gt;26.5. asti&lt;/span&gt;
	&lt;/div&gt;
	&lt;div class=&quot;lift-button gray-base participation float-left&quot;&gt;
		&lt;div class=&quot;count-container&quot;&gt;
			&lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
			&lt;a href=&quot;//www.foo.bar&quot;&gt;24&lt;/a&gt;
		&lt;/div&gt;
		&lt;a class=&quot;lift-button-link&quot; href=&quot;//www.foo.bar&quot;&gt;Kaupungin asukkaiden hyvinvointi ja osallistu...&lt;/a&gt;
		&lt;span class=&quot;date&quot;&gt;26.5. asti&lt;/span&gt;
	&lt;/div&gt;
	&lt;div class=&quot;lift-button gray-base participation float-left&quot;&gt;
		&lt;div class=&quot;count-container&quot;&gt;
			&lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
			&lt;a href=&quot;//www.foo.bar&quot;&gt;24&lt;/a&gt;
		&lt;/div&gt;
		&lt;a class=&quot;lift-button-link&quot; href=&quot;//www.foo.bar&quot;&gt;Kaupungin asukkaiden hyvinvointi ja osallistu...&lt;/a&gt;
		&lt;span class=&quot;date&quot;&gt;26.5. asti&lt;/span&gt;
	&lt;/div&gt;
	&lt;div class=&quot;lift-button gray-base participation float-left&quot;&gt;
		&lt;div class=&quot;count-container&quot;&gt;
			&lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
			&lt;a href=&quot;//www.foo.bar&quot;&gt;24&lt;/a&gt;
		&lt;/div&gt;
		&lt;a class=&quot;lift-button-link&quot; href=&quot;//www.foo.bar&quot;&gt;Kaupungin asukkaiden hyvinvointi ja osallistu...&lt;/a&gt;
		&lt;span class=&quot;date&quot;&gt;26.5. asti&lt;/span&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;h4&gt;Responsive list&lt;/h4&gt;
&lt;div id=&quot;showParticipations&quot; class=&quot;participations responsive-list-block&quot;&gt;
	&lt;h2 class=&quot;ongoing&quot;&gt;
		Menossa olevat osallistumiset
	&lt;/h2&gt;
	&lt;div class=&quot;lift-button gray-base participation inline-element&quot;&gt;
		&lt;div class=&quot;count-container&quot;&gt;
			&lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
			&lt;a href=&quot;//www.foo.bar&quot;&gt;17&lt;/a&gt;
		&lt;/div&gt;
		&lt;a class=&quot;lift-button-link&quot; href=&quot;//www.foo.bar&quot;&gt;Ymp&auml;rist&ouml;n hyvinvointi - miten sit&auml; voidaan...&lt;/a&gt;
		&lt;span class=&quot;date&quot;&gt;26.5. asti&lt;/span&gt;
	&lt;/div&gt;
	&lt;div class=&quot;lift-button gray-base participation inline-element&quot;&gt;
		&lt;div class=&quot;count-container&quot;&gt;
			&lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
			&lt;a href=&quot;//www.foo.bar&quot;&gt;24&lt;/a&gt;
		&lt;/div&gt;
		&lt;a class=&quot;lift-button-link&quot; href=&quot;//www.foo.bar&quot;&gt;Kaupungin asukkaiden hyvinvointi ja osallistu...&lt;/a&gt;
		&lt;span class=&quot;date&quot;&gt;26.5. asti&lt;/span&gt;
	&lt;/div&gt;
	&lt;div class=&quot;lift-button gray-base participation inline-element&quot;&gt;
		&lt;div class=&quot;count-container&quot;&gt;
			&lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
			&lt;a href=&quot;//www.foo.bar&quot;&gt;24&lt;/a&gt;
		&lt;/div&gt;
		&lt;a class=&quot;lift-button-link&quot; href=&quot;//www.foo.bar&quot;&gt;Kaupungin asukkaiden hyvinvointi ja osallistu...&lt;/a&gt;
		&lt;span class=&quot;date&quot;&gt;26.5. asti&lt;/span&gt;
	&lt;/div&gt;
	&lt;div class=&quot;lift-button gray-base participation inline-element&quot;&gt;
		&lt;div class=&quot;count-container&quot;&gt;
			&lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
			&lt;a href=&quot;//www.foo.bar&quot;&gt;24&lt;/a&gt;
		&lt;/div&gt;
		&lt;a class=&quot;lift-button-link&quot; href=&quot;//www.foo.bar&quot;&gt;Kaupungin asukkaiden hyvinvointi ja osallistu...&lt;/a&gt;
		&lt;span class=&quot;date&quot;&gt;26.5. asti&lt;/span&gt;
	&lt;/div&gt;
	&lt;div class=&quot;lift-button gray-base participation inline-element&quot;&gt;
		&lt;div class=&quot;count-container&quot;&gt;
			&lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
			&lt;a href=&quot;//www.foo.bar&quot;&gt;24&lt;/a&gt;
		&lt;/div&gt;
		&lt;a class=&quot;lift-button-link&quot; href=&quot;//www.foo.bar&quot;&gt;Kaupungin asukkaiden hyvinvointi ja osallistu...&lt;/a&gt;
		&lt;span class=&quot;date&quot;&gt;26.5. asti&lt;/span&gt;
	&lt;/div&gt;
&lt;/div&gt;