&lt;div class=&quot;icon-lift participation&quot;&gt;
	&lt;div class=&quot;count-container&quot;&gt;
		&lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
		&lt;a href=&quot;//www.foo.bar&quot;&gt;17&lt;/a&gt;
	&lt;/div&gt;
	&lt;a class=&quot;icon-lift-link&quot; href=&quot;//www.foo.bar&quot;&gt;Miten nyt ker&auml;tt&auml;v&auml; rahoitus tulisi sijoittaa?&lt;/a&gt;
	&lt;span class=&quot;date&quot;&gt;26.5. asti&lt;/span&gt;
&lt;/div&gt;