&lt;div class=&quot;form-element email-el&quot;&gt;
	&lt;label for=&quot;email&quot;&gt;S&auml;hk&ouml;postiosoite&lt;/label&gt;
	&lt;span class=&quot;error-text is-hidden&quot;&gt;Virhe!&lt;/span&gt;
	&lt;input type=&quot;email&quot; id=&quot;email&quot; placeholder=&quot;esim. sahkoposti@osoite.fi&quot;&gt;&lt;i class=&quot;icon-ok is-hidden&quot;&gt;OK&lt;/i&gt;
&lt;/div&gt;