&lt;div class=&quot;form-element email-el&quot;&gt;
	&lt;label for=&quot;email&quot;&gt;S&auml;hk&ouml;postiosoite&lt;/label&gt;
	&lt;input type=&quot;email&quot; id=&quot;email&quot; placeholder=&quot;esim. sahkoposti@osoite.fi&quot;&gt;
&lt;/div&gt;