/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Global colors
$text-color : #444;
$gray : #808080;
$gray-light : #F0F0F0;
$gray-med : #E3E3E3;
$gray-dark : #444;
$white : #fff;
$black : #000;
$blue : #0089F2;
$red : #FF0000;
$green : #2FC090;
$border-color: #CCCCCC;

// Specials
$dim : rgba(0,0,0,0.5);
$error : $red;
$valid : $green;
$warning : #fff664;
$information : #000db5;

// --- Service-specified colors for: Ota Kantaa (prefix: otk-), Lausuntopalvelu (prefix: lap-), Kansalaisaloitepalvelu (prefix: kap-), Kuntalaisaloitepalvelu (prefix: kup-)

// Ota Kantaa colors
$otk-cyan : #17CEE4;
$otk-green: #D4DC3F;

// Lausuntopalvelu colors
$lap-orange : #F16521;

// Kansalaisaloite colors
$kaa-cyan: #077480;
$kaa-purple: #BB448E;

// Kuntalaisaloite colors
$kua-green : #ADAD2D;
$kua-orange : #E2A31C;

//Typography
$font : "PT Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-secondary : Georgia, Times, "Times New Roman", serif;

$font-size-small : 0.875em;
$font-size-normal : 1em;
$font-size-ingressi: 1.15em;
$font-size-large : 1.5em;

//Layout
$max-width: 72em;

//Defaults
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;
$pad : 1em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

//Borders
$border-med: 3px;
$border-thick: 7px;

//Breakpoints
$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 66em;
$bp-xl : 73em;
$bp-xxl : 89em;
$bp-xxxl : 93em;

// Customs
$desktop-width : 80em;
$laptop-width  : 60em;
$tablet-width  : $bp-med-2;
// ----------------------------- //
$mobile-width  : $bp-small-2;


// Media Widths
$desktop : "screen and (min-width: #{$desktop-width})";
$laptop : "screen and (min-width: #{$laptop-width})";
$tablet : "screen and (min-width: #{$tablet-width})";
	// -- max-width = 476px;
	$mobile : "screen and (max-width: #{$mobile-width})";




