<!-- Begin .header -->
<header class="header cf" role="banner">
	<div class="element-group ">
		<div class="inner-block align-left">
			{{> atoms-logo }}
		</div>
		<div class="inner-block align-right">
			{{> molecules-search }}
			{{> molecules-lang-sel }}
		</div>
	</div>
	<div class="element-group">
		{{> molecules-login }}
	</div>
	<div class="element-group">
		<a href="#nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
		{{> molecules-responsive-dropdown }}
	</div>
</header>
<!-- End .header -->