<!-- Begin .global-header -->
<div class="om-header">
    <div id="headerNav" class="header-nav">
      <ul>
        <li>
          <a href="http://www.demokratia.fi">Demokratia.fi</a>

        <li>
          <a class="active" href="https://www.kansalaisaloite.fi/">Kansalaisaloite.fi</a>

        <li>
          <a href="https://www.kuntalaisaloite.fi/">Kuntalaisaloite.fi</a>

        <li>
          <a href="http://www.lausuntopalvelu.fi/">Lausuntopalvelu.fi</a>

      <li>
          <a href="http://www.nuortenideat.fi">Nuortenideat.fi</a>

        <li>
          <a href="http://www.otakantaa.fi/">Otakantaa.fi</a>

        <li>
          <a href="http://www.vaalit.fi/">Vaalit.fi</a>

        <li>
          <a href="http://www.yhdenvertaisuus.fi/">Yhdenvertaisuus.fi</a>
    </ul>
  </div>

</div>
<!-- End .global-header -->