<div class="om-footer">
    <div class="container">
        <div class="block">
            <span class="footer-logo om"></span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/>
                <a href="#">Lue lis&auml;&auml; &gt;</a>
            </p>
        </div>
        <div class="block">
            <span class="footer-logo vivi"></span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/>
                <a href="#">Lue lis&auml;&auml; &gt;</a>
            </p>
        </div>
        <div class="footer-links">
            <ul>
                <li><span class="triangle-right"></span> <a href="#">Linkki 1</a></li>
                <li><span class="triangle-right"></span> <a href="#">Linkki 2</a></li>
                <li><span class="triangle-right"></span> <a href="#">Linkki 3</a></li>
                <li><span class="triangle-right"></span> <a href="#">Linkki 4</a></li>
            </ul>
        </div>
        <br class="clear"/>
    </div>

    <a href="#header-tools" accesskey="3" class="hidden">Takaisin yl&ouml;s</a>
</div>