&iuml;&raquo;&iquest;&lt;div id=&quot;pnlFollowedProjects&quot; class=&quot;content-item large&quot;&gt;
    &lt;h3 class=&quot;section-title&quot;&gt;Viel&Atilde;&curren; ehdit vaikuttaa!
    &lt;/h3&gt;
    &lt;div class=&quot;list-lift&quot;&gt;
        &lt;div class=&quot;content-list&quot;&gt;
            &lt;ul&gt;
                &lt;li class=&quot;single-list-item&quot;&gt;
                    &lt;ul class=&quot;items-container&quot;&gt;
                        &lt;!--&lt;li class=&quot;block-item&quot;&gt;
                    &lt;div class=&quot;lad&quot;&gt;
                        &lt;a href=&quot;#&quot;&gt;Lorem ipsum&lt;/a&gt;
                        &lt;p class=&quot;description&quot;&gt;test&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;/li&gt;--&gt;
                        &lt;li class=&quot;block-item&quot;&gt;
                            &lt;div class=&quot;count-container&quot;&gt;
                                &lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
                                &lt;a href=&quot;//www.foo.bar&quot;&gt;0&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;block-item&quot;&gt;
                            &lt;div class=&quot;lad&quot;&gt;
                                &lt;a href=&quot;#&quot;&gt;Lorem ipsum hanke&lt;/a&gt;
                                &lt;p class=&quot;description&quot;&gt;
                                    &lt;a href=&quot;#&quot;&gt;LoremIpsumChat&lt;/a&gt; chatissa on viel&Atilde;&curren; tilaa.
                                &lt;/p&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/li&gt;
                &lt;li class=&quot;single-list-item&quot;&gt;
                    &lt;ul class=&quot;items-container&quot;&gt;
                        &lt;!--&lt;li class=&quot;block-item&quot;&gt;
                    &lt;div class=&quot;lad&quot;&gt;
                        &lt;a href=&quot;#&quot;&gt;Lorem ipsum&lt;/a&gt;
                        &lt;p class=&quot;description&quot;&gt;test&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;/li&gt;--&gt;
                        &lt;li class=&quot;block-item&quot;&gt;
                            &lt;div class=&quot;count-container&quot;&gt;
                                &lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
                                &lt;a href=&quot;//www.foo.bar&quot;&gt;22&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;block-item&quot;&gt;
                            &lt;div class=&quot;lad&quot;&gt;
                                &lt;a href=&quot;#&quot;&gt;Lorem ipsum hanke&lt;/a&gt;
                                &lt;p class=&quot;description&quot;&gt;
                                    22 henkil&Atilde;&para;&Atilde;&curren; on osallistunut chattiin &lt;a href=&quot;#&quot;&gt;Lorem lipsum chat#2&lt;/a&gt;
                                &lt;/p&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/li&gt;
                &lt;li class=&quot;single-list-item&quot;&gt;
                    &lt;ul class=&quot;items-container&quot;&gt;
                        &lt;!--&lt;li class=&quot;block-item&quot;&gt;
                    &lt;div class=&quot;lad&quot;&gt;
                        &lt;a href=&quot;#&quot;&gt;Lorem ipsum&lt;/a&gt;
                        &lt;p class=&quot;description&quot;&gt;test&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;/li&gt;--&gt;
                        &lt;li class=&quot;block-item&quot;&gt;
                            &lt;div class=&quot;count-container&quot;&gt;
                                &lt;span class=&quot;icon-span icon-comment&quot;&gt;&lt;/span&gt;
                                &lt;a href=&quot;//www.foo.bar&quot;&gt;48&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;block-item&quot;&gt;
                            &lt;div class=&quot;lad&quot;&gt;
                                &lt;a href=&quot;#&quot;&gt;Lorem lipsum hanke#3&lt;/a&gt;
                                &lt;p class=&quot;description&quot;&gt;
                                    48 henkil&Atilde;&para;&Atilde;&curren; on osallistui chattiin &lt;a href=&quot;#&quot;&gt;Lorem lipsum chat#3&lt;/a&gt;
                                &lt;/p&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &lt;p class=&quot;read-more&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;N&Atilde;&curren;yt&Atilde;&curren; lis&Atilde;&curren;&Atilde;&curren;&lt;/a&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div id=&quot;pnlInterestingProjects&quot; class=&quot;content-item large&quot;&gt;
    &lt;h3 class=&quot;section-title&quot;&gt;Suosittuja hankkeita
    &lt;/h3&gt;
    &lt;div class=&quot;list-lift&quot;&gt;
        &lt;div class=&quot;content-list&quot;&gt;
            &lt;ul&gt;
                &lt;li class=&quot;single-list-item&quot;&gt;
                    &lt;ul class=&quot;items-container&quot;&gt;
                        &lt;li class=&quot;block-item&quot;&gt;
                            &lt;div class=&quot;lad&quot;&gt;
                                &lt;a href=&quot;#&quot;&gt;Toinen Lorem ipsum hanke&lt;/a&gt;
                                &lt;p class=&quot;description&quot;&gt;Lorem ipsum kuvausta t&Atilde;&curren;h&Atilde;&curren;n&lt;/p&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/li&gt;
                &lt;li class=&quot;single-list-item&quot;&gt;
                    &lt;ul class=&quot;items-container&quot;&gt;
                        &lt;li class=&quot;block-item&quot;&gt;
                            &lt;div class=&quot;lad&quot;&gt;
                                &lt;a href=&quot;#&quot;&gt;Kolmas Lorem ipsum hanke&lt;/a&gt;
                                &lt;p class=&quot;description&quot;&gt;Lorem ipsum kuvausta t&Atilde;&curren;h&Atilde;&curren;n&lt;/p&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;p class=&quot;read-more&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;N&Atilde;&curren;yt&Atilde;&curren; kaikki hankkeet&lt;/a&gt;
    &lt;/p&gt;
&lt;/div&gt;
&lt;!--&lt;section class=&quot;content-item large&quot;&gt;
    &lt;div class=&quot;&quot;&gt;
        &lt;h3 class=&quot;section-title&quot;&gt;Viel&Atilde;&curren; ehdit vaikuttaa!&lt;/h3&gt;
    &lt;/div&gt;
    &lt;div class=&quot;&quot;&gt;
        &lt;div class=&quot;list-item&quot;&gt;
            &lt;div class=&quot;list-title&quot;&gt;
                &lt;a id=&quot;Main_lvClosingActions_hlNaviLink_0&quot; href=&quot;#&quot;&gt;Lorem ipsum hanke #1&lt;/a&gt;
            &lt;/div&gt;
            &lt;div class=&quot;list-content&quot;&gt;
                Keskustelu
                &quot;Lorem ipsum keskustelu&quot;
                k&Atilde;&curren;ynniss&Atilde;&curren; p&Atilde;&curren;&Atilde;&curren;ttyy 23.6.2014
                &lt;div class=&quot;list-status&quot;&gt;
                    Tilanne nyt:
                        3 keskusteluketjua, 6 viesti&Atilde;&curren;, viimeisin viesti 16.11.2013 1:21
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;&quot;&gt;
        &lt;div class=&quot;list-item&quot;&gt;
            &lt;div class=&quot;list-title&quot;&gt;
                &lt;a id=&quot;Main_lvClosingActions_hlNaviLink_1&quot; href=&quot;#&quot;&gt;Lorem ipsum hanke #2&lt;/a&gt;
            &lt;/div&gt;
            &lt;div class=&quot;list-content&quot;&gt;
                Kirjoittaminen
                &quot;Lorem ipsum kirjoittaminen&quot;
                k&Atilde;&curren;ynniss&Atilde;&curren; p&Atilde;&curren;&Atilde;&curren;ttyy 31.12.2014
                &lt;div class=&quot;list-status&quot;&gt;
                    Tilanne nyt:
                        Yksi versio, luotu 10.10.2013 12:12
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;&quot;&gt;
        &lt;div class=&quot;list-item&quot;&gt;
            &lt;div class=&quot;list-title&quot;&gt;
                &lt;a id=&quot;Main_lvClosingActions_hlNaviLink_2&quot; href=&quot;#&quot;&gt;Lorem ipsum hanke #3&lt;/a&gt;
            &lt;/div&gt;
            &lt;div class=&quot;list-content&quot;&gt;
                Keskustelu
                &quot;Lorem ipsum keskustelu&quot;
                k&Atilde;&curren;ynniss&Atilde;&curren; p&Atilde;&curren;&Atilde;&curren;ttyy 31.12.2014
                &lt;div class=&quot;list-status&quot;&gt;
                    Tilanne nyt:
                        1 keskusteluketjua, 1 viesti&Atilde;&curren;, viimeisin viesti 29.10.2013 16:53
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;&quot;&gt;
        &lt;div class=&quot;list-item&quot;&gt;
            &lt;div class=&quot;list-title&quot;&gt;
                &lt;a id=&quot;Main_lvClosingActions_hlNaviLink_3&quot; href=&quot;#&quot;&gt;Lorem ipsum hanke #4&lt;/a&gt;
            &lt;/div&gt;
            &lt;div class=&quot;list-content&quot;&gt;
                Keskustelu
                &quot;Lorem ipsum keskustelu&quot;
                k&Atilde;&curren;ynniss&Atilde;&curren; p&Atilde;&curren;&Atilde;&curren;ttyy 1.4.2015
                &lt;div class=&quot;list-status&quot;&gt;
                    Tilanne nyt:
                        0 keskusteluketjua
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;&quot;&gt;
        &lt;div class=&quot;list-item&quot;&gt;
            &lt;div class=&quot;list-title&quot;&gt;
                &lt;a id=&quot;Main_lvClosingActions_hlNaviLink_4&quot; href=&quot;#&quot;&gt;Lorem ipsum hanke #4&lt;/a&gt;
            &lt;/div&gt;
            &lt;div class=&quot;list-content&quot;&gt;
                Keskustelu
                &quot;Lorem ipsum keskustelu&quot;
                k&Atilde;&curren;ynniss&Atilde;&curren; p&Atilde;&curren;&Atilde;&curren;ttyy 31.12.2016
                &lt;div class=&quot;list-status&quot;&gt;
                    Tilanne nyt:
                        1 keskusteluketjua, 1 viesti&Atilde;&curren;, viimeisin viesti 16.4.2013 21:13
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;&quot;&gt;
        &lt;div class=&quot;list-item&quot;&gt;
            &lt;div class=&quot;list-title list-showall&quot;&gt;
                &lt;a id=&quot;Main_hlShowAll&quot; href=&quot;#&quot;&gt;N&Atilde;&curren;yt&Atilde;&curren; kaikki hankkeet &Ucirc;&frac14;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/section&gt;--&gt;
