&lt;form role=&quot;form half-form&quot;&gt;
	&lt;h3&gt;Salasanakentt&Atilde;&curren;&lt;/h3&gt;
	{{&gt;atoms-field-password}}

	&lt;h3&gt;S&Atilde;&curren;hk&Atilde;&para;postikentt&Atilde;&curren;&lt;/h3&gt;
	{{&gt;atoms-field-email}}

	&lt;h3&gt;Verkko-osoitekentt&Atilde;&curren;&lt;/h3&gt;
	{{&gt;atoms-field-url}}

	&lt;h3&gt;Tekstialue&lt;/h3&gt;
	{{&gt;atoms-textarea}}

	&lt;h3&gt;P&Atilde;&curren;iv&Atilde;&curren;m&Atilde;&curren;&Atilde;&curren;r&Atilde;&curren;valitsin&lt;/h3&gt;
	{{&gt;atoms-date}}
&lt;/form&gt;