&lt;div class=&quot;helper-container&quot;&gt;
	&lt;span class=&quot;icon-help&quot; title=&quot;Example tip text.&quot; placement=&quot;top&quot;&gt;
		Esimerkki
	&lt;/span&gt;
	&lt;p class=&quot;helper-text is-vishidden&quot;&gt;T&auml;ss&auml; aputeksti. Aputeksti auttaa suuresti k&auml;ytt&auml;j&auml;&auml;.&lt;/p&gt;
&lt;/div&gt;
{{&gt;atoms-textarea}}