<footer class="dummy-footer">
	<div id="footer-container">
		<ul class="footer-nav">
			<!-- Major tab pos 1. float left -->
			<li class="footer-muutsivustot footer-nav-item">
				<div class="helptext">
					<p><strong>Muut sivustot</strong></p>
					<ul>
						<li>
							<a href="http://www.kansalaisaloite.fi">
							<img alt="Kansalaisaloite" border="0" height="24" src="/download/noname/{4137A405-E01A-4561-8098-EED9EDE785C0}/11148" width="24">
							<span>kansalaisaloite.fi</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<!-- Major tab. pos 4. float right-->
			<li class="footer-tietoa footer-nav-item">
				<div class="helptext">
					<p><strong>Yhteystietomme</strong></p>
<ul>
<li>
<a href="http://www.facebook.com/otakantaa" target="_blank">
<img src="/download/noname/{7E30D163-A79B-42FB-A352-F72284323556}/11154" height="24" width="24">
<span>Facebook</span>
</a>
</li>
<li>
<a href="http://www.twitter.com/otakantaa" target="_blank">
<img src="/download/noname/{31DA1493-41F7-4A2D-A2D2-7E2E8A04B624}/11159" height="24" width="24">
<span>Twitter</span>
</a>
</li>
<li>
<a href="http://www.youtube.com/user/OikeusministerioDKY" target="_blank">
<img src="/download/noname/{5CE2EF13-925F-49F0-A4EA-FB9E6E9F55D4}/11158" height="24" width="24">
<span>Youtube</span>
</a>
</li>
<li>
<a href="mailto:otakantaa.om@om.fi">
<i class="fa fa-envelope fa-2x" style=" vertical-align: middle;"></i>
<span>otakantaa.om@om.fi</span>
</a>
</li>
<li>
<a href="http://blogi.otakantaa.fi">
<i class="fa fa-rss fa-2x" style=" vertical-align: middle;"></i>
<span>blogi.otakantaa.fi</span>
</a>
</li>
<li>
<a href="https://www.otakantaa.fi/fi-FI/Palaute">
<i class="fa fa-question fa-2x" style=" vertical-align: middle;"></i>
<span>Palautelomake</span>
</a>
</li>
<li>
<a href="https://www.otakantaa.fi/fi-FI/Yhteystiedot">
<i class="fa fa-phone fa-2x" style=" vertical-align: middle;"></i>
<span>Yhteystiedot</span>
</a>
</li>
<li>
<a href="https://www.otakantaa.fi/fi-FI/Tietoa_palvelusta">
<i class="fa fa-info fa-2x" style=" vertical-align: middle;"></i>
<span>Tietoa palvelusta</span>
</a>
</li>
<li>
<a href="http://www.otakantaa.fi/apiohje">
<i class="fa fa-code fa-2x" style=" vertical-align: middle;"></i>
<span>API-ohje kehittäjille</span>
</a>
</li>
</ul>
				</div>
			</li>

			<!-- Major tab. pos 2-3. float left-->
			<li class="footer-sitemap footer-nav-item">
				<div class="column-even">
					<ul>
						<li class="level-1"><a href="fi-FI/Hankkeet/Kaikki_hankkeet?tila=2">Hankkeet</a>
							<ul>
								<li class="level-2">
									<a href="fi-FI/Hankkeet/Kaikki_hankkeet">Kaikki hankkeet</a>
								</li>
								<li class="level-2">
									<a href="fi-FI/Hankkeet/Kaikki_hankkeet">Osa hankkeet</a>
								</li>
								<li class="level-2">
									<a href="fi-FI/Hankkeet/Kaikki_hankkeet">Osa2 hankkeet</a>
								</li>
								<li class="level-2">
									<a href="fi-FI/Hankkeet/Kaikki_hankkeet">Osa3 hankkeet</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="column-odd">
					<ul>
						<li class="level-1">
							<a href="fi-FI/Luo_hanke">Luo hanke</a>
						</li>
					</ul>
				</div>
				<div class="column-even">
					<ul>
						<li class="level-1">
							<a href="fi-FI/Hankkeeni">Hankkeeni</a>
						</li>
					</ul>
				</div>
				<div class="column-odd">
					<ul>
						<li class="level-1"><a href="fi-FI/Tietopankki">Tietopankki</a>
							<ul>
								<li class="level-2">
									<a href="fi-FI/Tietopankki/Demokratia">Demokratia</a>
								</li>
								<li class="level-2">
									<a href="fi-FI/Tietopankki/Demokratia">Kommunismi</a>
								</li>
								<li class="level-2">
									<a href="fi-FI/Tietopankki/Demokratia">Venäjä</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="column-even">
					<ul>
						<li class="level-1"><a href="fi-FI/Ohjeet">Ohjeet</a>
							<ul>
								<li class="level-2">
									<a href="fi-FI/Palaute">Anna palautetta</a>
								</li>
								<li class="level-2">
									<a href="fi-FI/Palaute">Älä anna palautetta</a>
								</li>
								<li class="level-2">
									<a href="fi-FI/Palaute">Anna jotain</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="column-odd">
					<ul>
						<li class="level-1"><a href="fi-FI/Tiedotteet">Tiedotteet</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</footer>