<div class="header-tabs">
	<ul class="service-tabs">
		<li class="active"><a href="{{ url }}" class="active">Service 1</a></li>
		<li><a href="{{ url }}">Service 2</a></li>
		<li><a href="{{ url }}">Service 3</a></li>
	</ul>
	<a href="" rel="nofollow" target="_blank" class="other-service">Muu palvelu 1</a>
	<a href="" rel="nofollow" target="_blank" class="other-service">Muu palvelu 2</a>
</div>