<div class="navi-sample">
	<ul>
		<li class="toplevel">
			<a href="">Valinta 1</a>
			<div class="arrow-link"></div>
			<ul>
				<li><a href="">Alavalinta 1</a></li>
				<li><a href="">Alavalinta 2</a></li>
				<li><a href="">Alavalinta 3</a></li>
				<li><a href="">Alavalinta 4</a></li>
			</ul>
		</li>
		<li class="toplevel">
			<a href="">Valinta 2</a>
			<div class="arrow-link"></div>
			<ul>
				<li><a href="">Alavalinta 1</a></li>
				<li><a href="">Alavalinta 2</a></li>
				<li><a href="">Alavalinta 3</a></li>
				<li><a href="">Alavalinta 4</a></li>
			</ul>
		</li>
		<li class="toplevel">
			<a href="">Valinta 3</a>
			<div class="arrow-link"></div>
			<ul>
				<li><a href="">Alavalinta 1</a></li>
				<li><a href="">Alavalinta 2</a></li>
				<li><a href="">Alavalinta 3</a></li>
				<li><a href="">Alavalinta 4</a></li>
			</ul>
		</li>
		<li class="toplevel">
			<a href="">Valinta 4</a>
			<div class="arrow-link"></div>
			<ul>
				<li><a href="">Alavalinta 1</a></li>
				<li><a href="">Alavalinta 2</a></li>
				<li><a href="">Alavalinta 3</a></li>
				<li><a href="">Alavalinta 4</a></li>
			</ul>
		</li>
	</ul>
</div>