<div class="navi-responsive section">
	<ul>
		<li>
			<a href="#">Valinta 1</a>
			<a href="#" class="sub-nav-trigger"><i class="icon-menu-arrow"></i><span class="is-vishidden">Alavalikko</span></a>
			<ul>
				<li><a href="">Alavalinta 1</a></li>
				<li><a href="">Alavalinta 2</a></li>
				<li><a href="">Alavalinta 3</a></li>
				<li><a href="">Alavalinta 4</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Valinta 2</a>
			<a href="#" class="sub-nav-trigger"><i class="icon-menu-arrow"></i><span class="is-vishidden">Alavalikko</span></a>
			<ul>
				<li><a href="">Alavalinta 1</a></li>
				<li><a href="">Alavalinta 2</a></li>
				<li><a href="">Alavalinta 3</a></li>
				<li><a href="">Alavalinta 4</a></li>
			</ul>
		</li>
		<li>
			<a href="">Valinta</a>
		</li>
		<li>
			<a href="#">Valinta 3</a>
			<a href="#" class="sub-nav-trigger"><i class="icon-menu-arrow"></i><span class="is-vishidden">Alavalikko</span></a>
			<ul>
				<li><a href="">Alavalinta 1</a></li>
				<li><a href="">Alavalinta 2</a></li>
				<li><a href="">Alavalinta 3</a></li>
				<li><a href="">Alavalinta 4</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Valinta 4</a>
			<a href="#" class="sub-nav-trigger"><i class="icon-menu-arrow"></i><span class="is-vishidden">Alavalikko</span></a>
			<ul>
				<li><a href="">Alavalinta 1</a></li>
				<li><a href="">Alavalinta 2</a></li>
				<li><a href="">Alavalinta 3</a></li>
				<li><a href="">Alavalinta 4</a></li>
			</ul>
		</li>
	</ul>
</div>