<div class="process-nav dummmy-container scroll--shadow">
	<ul>
		<li class="process-item">
			<a href="" class="process-button past">
				<i class="icon-register"></i>Luo/Muokkaa</a>
		</li>
		<li class="process-item">
			<a href="" class="process-button active">
				<i class="icon-mail"></i>Lähetä</a>
		</li>
		<li class="process-item">
			<a href="" class="process-button">
				<i class="icon-people"></i>Lausunnonantajat</a>
		</li>
		<li class="process-item">
			<a href="" class="process-button">
				<i class="icon-chart"></i>Yhteenveto</a>
		</li>
	</ul>
</div>

<h4>Edellinen ja seuraava -painikkeet, joiden välissä mahdollista käyttää tallenna-painiketta</h4>

<div class="process-actions">
	<ul>
		<li class="action-item previous-item"><a class="btn prev" rel="prev" href=""><i class="icon-arrow-back"></i>Edellinen</a></li>
		<li class="action-item next-item"><a class="btn next" rel="next" href="">Jatka<i class="icon-arrow-forward"></i></a></li>
		<li class="action-item middle-section">
			<input class="btn" href="" value="Tallenna ja keskeytä">
		</li>
	</ul>
</div>