<div class="process-nav dummmy-container">
	<ul>
		<li class="process-item">
			<a href="" class="process-button">
				<i class="icon-register"></i>Luo/Muokkaa</a>
		</li>
		<li class="process-item">
			<a href="" class="process-button">
				<i class="icon-mail"></i>Lähetä</a>
		</li>
		<li class="process-item">
			<a href="" class="process-button">
				<i class="icon-people"></i>Lausunnonantajat</a>
		</li>
		<li class="process-item">
			<a href="" class="process-button">
				<i class="icon-chart"></i>Yhteenveto</a>
		</li>
	</ul>
</div>