&lt;div class=&quot;og-share-post social-post&quot;&gt;
	{{&gt;molecules-post-header}}
	&lt;div class=&quot;share-content&quot;&gt;
		&lt;div class=&quot;image-container&quot;&gt;
			&lt;img src=&quot;{{img.square.src}}&quot; alt=&quot;&quot;&gt;
		&lt;/div&gt;
		&lt;div class=&quot;text-content-container&quot;&gt;
			&lt;h4 class=&quot;content-title&quot;&gt;Jaetun artikkelin otsikko&lt;/h4&gt;
			&lt;p class=&quot;content&quot;&gt;Jaetun artikkelin tekstisis&auml;lt&ouml;&auml;. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis metus orci. Mauris sed lacus felis. Nulla vehicula vehicula elementum. Nunc egestas, risus a auctor sodales, enim lectus sagittis neque, non bibendum lectus magna et erat. Morbi at ligula dignissim eros feugiat posuere.&lt;/p&gt;
			{{&gt;molecules-social-actions}}
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;