&lt;!-- Begin .header --&gt;
&lt;header class=&quot;header cf&quot; role=&quot;banner&quot;&gt;
	&lt;div class=&quot;element-group &quot;&gt;
		&lt;div class=&quot;inner-block align-left&quot;&gt;
			{{&gt; atoms-logo }}
		&lt;/div&gt;
		&lt;div class=&quot;inner-block align-right&quot;&gt;
			{{&gt; molecules-search }}
			{{&gt; molecules-lang-sel }}
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;element-group&quot;&gt;
		{{&gt; molecules-login }}
	&lt;/div&gt;
	&lt;div class=&quot;element-group&quot;&gt;
		&lt;a href=&quot;#nav&quot; class=&quot;nav-toggle nav-toggle-menu icon-menu&quot;&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Menu&lt;/span&gt;&lt;/a&gt;
		{{&gt; molecules-responsive-dropdown }}
	&lt;/div&gt;
&lt;/header&gt;
&lt;!-- End .header --&gt;