&lt;div class=&quot;lang-sel&quot;&gt;
	&lt;ul class=&quot;lang-list&quot;&gt;
		&lt;li class=&quot;selected&quot;&gt; &lt;a href=&quot;&quot;&gt;Suomeksi&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;&quot;&gt;P&Atilde;&yen; svenska&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;