&lt;div class=&quot;page otakantaa&quot; id=&quot;page&quot;&gt;
  {{&gt; organisms-header }}
  &lt;section role=&quot;main&quot; class=&quot;edit-hanke-form&quot;&gt;
    &lt;h1&gt;Muokkaa hanketta&lt;/h1&gt;
    &lt;div class=&quot;hanke-img-container&quot;&gt;
      &lt;img src=&quot;../../images/fpo_16x9.png&quot; alt=&quot;Taustakuva&quot; class=&quot;hanke-bg&quot; /&gt;
      &lt;div class=&quot;edit-bg icon-container&quot;&gt;
          &lt;label for=&quot;upload-background-image&quot; class=&quot;upload-file-button&quot;&gt;Vaihda taustakuva&lt;/label&gt;
          &lt;input type=&quot;file&quot; id=&quot;upload-background-image&quot; /&gt;
      &lt;/div&gt;
      &lt;div class=&quot;logo-container&quot;&gt;
        &lt;img src=&quot;../../images/fpo_avatar.png&quot; alt=&quot;Logo&quot; class=&quot;hanke-logo&quot; /&gt;
        &lt;div class=&quot;edit-logo icon-container&quot;&gt;
            &lt;label for=&quot;upload-logo-image&quot; class=&quot;upload-file-button&quot;&gt;Vaihda logo&lt;/label&gt;
            &lt;input type=&quot;file&quot; id=&quot;upload-logo-image&quot; /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-element text-el hanke-title&quot;&gt;
      &lt;div class=&quot;content-item&quot;&gt;
        &lt;label for=&quot;text-field&quot;&gt;Otsikko tai nimi*&lt;/label&gt;
        &lt;input placeholder=&quot;Kirjoita t&Atilde;&curren;h&Atilde;&curren;n otsikko tai nimi...&quot; maxlength=&quot;130&quot; value=&quot;Hankkeen nimi Lorem ipsum dolor sit met&quot; /&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;hanke-form&quot;&gt;
      &lt;div id=&quot;hanke-intro&quot; class=&quot;form-element text-el content-item large&quot;&gt;
        &lt;div class=&quot;helper-container&quot;&gt;
          &lt;span class=&quot;icon-help&quot; title=&quot;T&Atilde;&curren;ss&Atilde;&curren; aputeksti. Aputeksti auttaa suuresti k&Atilde;&curren;ytt&Atilde;&curren;j&Atilde;&curren;&Atilde;&curren;.&quot; placement=&quot;top&quot;&gt;Esittely*&lt;/span&gt;
          &lt;p class=&quot;helper-text small is-vishidden&quot;&gt;T&Atilde;&curren;ss&Atilde;&curren; aputeksti. Aputeksti auttaa suuresti k&Atilde;&curren;ytt&Atilde;&curren;j&Atilde;&curren;&Atilde;&curren;.&lt;/p&gt;
        &lt;/div&gt;
        &lt;textarea placeholder=&quot;Kirjoita t&Atilde;&curren;h&Atilde;&curren;n esittely...&quot; maxlength=&quot;400&quot;&gt;&lt;/textarea&gt;
      &lt;/div&gt;
      &lt;div id=&quot;hanke-description&quot; class=&quot;form-element text-el content-item large&quot;&gt;
        &lt;div class=&quot;helper-container&quot;&gt;
          &lt;span class=&quot;icon-help&quot; title=&quot;T&Atilde;&curren;ss&Atilde;&curren; aputeksti. Aputeksti auttaa suuresti k&Atilde;&curren;ytt&Atilde;&curren;j&Atilde;&curren;&Atilde;&curren;.&quot; placement=&quot;top&quot;&gt;Kuvaus ja tavoitteet*&lt;/span&gt;
          &lt;p class=&quot;helper-text small is-vishidden&quot;&gt;T&Atilde;&curren;ss&Atilde;&curren; aputeksti. Aputeksti auttaa suuresti k&Atilde;&curren;ytt&Atilde;&curren;j&Atilde;&curren;&Atilde;&curren;.&lt;/p&gt;
        &lt;/div&gt;
        &lt;textarea placeholder=&quot;Kirjoita t&Atilde;&curren;h&Atilde;&curren;n kuvaus ja tavoitteet...&quot; maxlength=&quot;2000&quot;&gt;&lt;/textarea&gt;
      &lt;/div&gt;
      &lt;div id=&quot;hanke-responsibility&quot; class=&quot;form-element text-el content-item large&quot;&gt;
        &lt;label for=&quot;text-field&quot;&gt;Vastuuj&Atilde;&curren;rjest&Atilde;&para; tai -henkil&Atilde;&para;*&lt;/label&gt;
        &lt;input placeholder=&quot;Kirjoita t&Atilde;&curren;h&Atilde;&curren;n vastuuj&Atilde;&curren;rjest&Atilde;&para; tai -henkil&Atilde;&para;...&quot; maxlength=&quot;130&quot; /&gt;
      &lt;/div&gt;
      &lt;div id=&quot;hanke-publicity&quot; class=&quot;content-item large&quot;&gt;
        &lt;div class=&quot;helper-container&quot;&gt;
          &lt;span class=&quot;icon-help&quot; title=&quot;T&Atilde;&curren;ss&Atilde;&curren; aputeksti. Aputeksti auttaa suuresti k&Atilde;&curren;ytt&Atilde;&curren;j&Atilde;&curren;&Atilde;&curren;.&quot; placement=&quot;top&quot;&gt;Hankkeen n&Atilde;&curren;kyvyys*&lt;/span&gt;
          &lt;p class=&quot;helper-text small is-vishidden&quot;&gt;T&Atilde;&curren;ss&Atilde;&curren; aputeksti. Aputeksti auttaa suuresti k&Atilde;&curren;ytt&Atilde;&curren;j&Atilde;&curren;&Atilde;&curren;.&lt;/p&gt;
        &lt;/div&gt;
        &lt;ul class=&quot;btn-group&quot;&gt;
          &lt;li&gt;
            &lt;input id=&quot;rbl0&quot; type=&quot;radio&quot; name=&quot;group1&quot; value=&quot;0&quot; /&gt;
            &lt;label for=&quot;rbl0&quot;&gt;Julkinen/n&Atilde;&curren;kyy kaikille&lt;/label&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;input id=&quot;rbl1&quot; type=&quot;radio&quot; name=&quot;group1&quot; value=&quot;1&quot; /&gt;
            &lt;label for=&quot;rbl1&quot;&gt;Vain kutsutuille&lt;/label&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
      &lt;div id=&quot;hanke-publish&quot; class=&quot;content-item large&quot;&gt;
        &lt;div class=&quot;helper-container&quot;&gt;
          &lt;span class=&quot;icon-help&quot; title=&quot;T&Atilde;&curren;ss&Atilde;&curren; aputeksti. Aputeksti auttaa suuresti k&Atilde;&curren;ytt&Atilde;&curren;j&Atilde;&curren;&Atilde;&curren;.&quot; placement=&quot;top&quot;&gt;Hankkeen julkaisun tila*&lt;/span&gt;
          &lt;p class=&quot;helper-text small is-vishidden&quot;&gt;T&Atilde;&curren;ss&Atilde;&curren; aputeksti. Aputeksti auttaa suuresti k&Atilde;&curren;ytt&Atilde;&curren;j&Atilde;&curren;&Atilde;&curren;.&lt;/p&gt;
        &lt;/div&gt;
        &lt;ul class=&quot;btn-group&quot;&gt;
          &lt;li&gt;
            &lt;input id=&quot;rbl10&quot; type=&quot;radio&quot; name=&quot;group2&quot; value=&quot;0&quot; /&gt;
            &lt;label for=&quot;rbl10&quot;&gt;Suunnitteilla&lt;/label&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;input id=&quot;rbl11&quot; type=&quot;radio&quot; name=&quot;group2&quot; value=&quot;1&quot; /&gt;
            &lt;label for=&quot;rbl11&quot;&gt;Julkaistu&lt;/label&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;input id=&quot;rbl12&quot; type=&quot;radio&quot; name=&quot;group2&quot; value=&quot;2&quot; /&gt;
            &lt;label for=&quot;rbl12&quot;&gt;Peruttu&lt;/label&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
      &lt;div id=&quot;hanke-date&quot; class=&quot;content-item large&quot;&gt;
        &lt;div class=&quot;helper-container&quot;&gt;
          &lt;span class=&quot;icon-help&quot; title=&quot;Example tip text.&quot; placement=&quot;top&quot;&gt;Hankkeen aikataulu*&lt;/span&gt;
          &lt;p class=&quot;helper-text small is-vishidden&quot;&gt;T&Atilde;&curren;ss&Atilde;&curren; aputeksti. Aputeksti auttaa suuresti k&Atilde;&curren;ytt&Atilde;&curren;j&Atilde;&curren;&Atilde;&curren;.&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;event-date-container responsive-block-list&quot;&gt;
          &lt;div class=&quot;form-element date-element left-block inline-element&quot;&gt;
            &lt;label for=&quot;date-picker&quot;&gt;Hankkeen alkupvm.&lt;/label&gt;
            &lt;input type=&quot;text&quot; id=&quot;date-picker&quot; class=&quot;datepicker&quot; value=&quot;1.6.2014&quot; /&gt;
          &lt;/div&gt;
          &lt;div class=&quot;form-element date-element right-block inline-element&quot;&gt;
            &lt;label for=&quot;date-picker&quot;&gt;Hankkeen loppupvm.&lt;/label&gt;
            &lt;input type=&quot;text&quot; id=&quot;date-picker&quot; class=&quot;datepicker&quot; value=&quot;14.5.2015&quot;/&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div id=&quot;hanke-date&quot; class=&quot;content-item large&quot;&gt;
        &lt;div class=&quot;helper-container&quot;&gt;
          &lt;span class=&quot;icon-help&quot; title=&quot;Example tip text.&quot; placement=&quot;top&quot;&gt;Hankkeen yhteenvedon julkaisu*&lt;/span&gt;
          &lt;p class=&quot;helper-text small is-vishidden&quot;&gt;T&Atilde;&curren;ss&Atilde;&curren; aputeksti. Aputeksti auttaa suuresti k&Atilde;&curren;ytt&Atilde;&curren;j&Atilde;&curren;&Atilde;&curren;.&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;event-date-container&quot;&gt;
          &lt;div class=&quot;form-element date-element left-block&quot;&gt;
            &lt;label for=&quot;date-picker&quot;&gt;Yhteenvedon julkaisupvm.&lt;/label&gt;
            &lt;input type=&quot;text&quot; id=&quot;date-picker&quot; class=&quot;datepicker&quot; value=&quot;14.5.2015&quot; /&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;!-- Optional field those will be fadeout --&gt;
      &lt;div class=&quot;fadeout clickable&quot;&gt;
        &lt;div id=&quot;hanke-attachments&quot; class=&quot;content-item large&quot;&gt;
          &lt;h3&gt;Liitteet&lt;/h3&gt;
          &lt;div id=&quot;hanke-add-attachment&quot;&gt;
            &lt;form action=&quot;&quot; class=&quot;attachment-form&quot;&gt;
              &lt;div class=&quot;form-element attachment-container&quot;&gt;
                &lt;label for=&quot;upload-file&quot; class=&quot;upload-file-button&quot;&gt;Lis&Atilde;&curren;&Atilde;&curren; tiedosto&lt;/label&gt;
                &lt;input type=&quot;file&quot; id=&quot;upload-file&quot; /&gt;
              &lt;/div&gt;
            &lt;/form&gt;
          &lt;/div&gt;
          &lt;!-- Hanke attachment list --&gt;
          &lt;div id=&quot;hanke-attachment-list&quot;&gt;
            &lt;div class=&quot;attachment-form inline-element&quot;&gt;
              &lt;div class=&quot;form-element attachment-edit&quot;&gt;
                &lt;label class=&quot;edit-file-button&quot;&gt;muokkaa&lt;/label&gt;
                &lt;div class=&quot;mime-container&quot;&gt;
                  &lt;i class=&quot;fa fa-file-o&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                &lt;a class=&quot;file-title&quot;&gt;Otsikko&lt;/a&gt;
                &lt;p&gt;tiedostonimi...jpg&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;attachment-form inline-element&quot;&gt;
              &lt;div class=&quot;form-element attachment-edit&quot;&gt;
                &lt;label class=&quot;edit-file-button&quot;&gt;muokkaa&lt;/label&gt;
                &lt;div class=&quot;mime-container&quot;&gt;
                  &lt;i class=&quot;fa fa-file-o&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                &lt;a class=&quot;file-title&quot;&gt;Otsikko&lt;/a&gt;
                &lt;p&gt;tiedostonimi...jpg&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;attachment-form inline-element&quot;&gt;
              &lt;div class=&quot;form-element attachment-edit&quot;&gt;
                &lt;label class=&quot;edit-file-button&quot;&gt;muokkaa&lt;/label&gt;
                &lt;div class=&quot;mime-container&quot;&gt;
                  &lt;i class=&quot;fa fa-file-o&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                &lt;a class=&quot;file-title&quot;&gt;Otsikko&lt;/a&gt;
                &lt;p&gt;tiedostonimi...jpg&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div id=&quot;hanke-links&quot; class=&quot;content-item large&quot;&gt;
          &lt;h3&gt;Linkit&lt;/h3&gt;
          &lt;div class=&quot;semantic-list&quot;&gt;
            &lt;ol&gt;
              &lt;li&gt;
                &lt;input placeholder=&quot;http://&quot; maxlength=&quot;200&quot; value=&quot;http://www.google.com&quot; /&gt;
                &lt;input placeholder=&quot;Kirjoita linkin kuvaus...&quot; maxlength=&quot;100&quot; value=&quot;Suosittu hakukone&quot; /&gt;
              &lt;/li&gt;
              &lt;li&gt;
                &lt;input placeholder=&quot;http://&quot; maxlength=&quot;200&quot; /&gt;
                &lt;input placeholder=&quot;Kirjoita linkin kuvaus...&quot; maxlength=&quot;100&quot; /&gt;
              &lt;/li&gt;
            &lt;/ol&gt;
          &lt;/div&gt;
          &lt;input id=&quot;btnAddHankeLink&quot; class=&quot;btn btn-otk&quot; type=&quot;submit&quot; value=&quot;Lis&Atilde;&curren;&Atilde;&curren; linkki&quot; /&gt;
        &lt;/div&gt;
        &lt;div id=&quot;hanke-locations&quot; class=&quot;content-item large&quot;&gt;
          &lt;h3&gt;Paikkakunnat&lt;/h3&gt;
          &lt;ul id=&quot;tbLocations&quot; class=&quot;location-list&quot;&gt;&lt;/ul&gt;
        &lt;/div&gt;
        &lt;div id=&quot;hanke-keywords&quot; class=&quot;content-item large&quot;&gt;
          &lt;h3&gt;Asiasanat&lt;/h3&gt;
          &lt;ul id=&quot;tbKeywords&quot; class=&quot;tagit-list&quot;&gt;&lt;/ul&gt;
        &lt;/div&gt;
        &lt;div id=&quot;hanke-admins&quot; class=&quot;content-item large&quot;&gt;
          &lt;h3&gt;Vastuuhenkil&Atilde;&para;t&lt;/h3&gt;
          &lt;ul id=&quot;tbAdmins&quot; class=&quot;person-list&quot;&gt;&lt;/ul&gt;
        &lt;/div&gt;
        &lt;div id=&quot;hanke-supervisors&quot; class=&quot;content-item large&quot;&gt;
          &lt;h3&gt;Ohjaajat&lt;/h3&gt;
          &lt;ul id=&quot;tbSupervisors&quot; class=&quot;person-list&quot;&gt;&lt;/ul&gt;
        &lt;/div&gt;
        &lt;p class=&quot;read-more&quot;&gt;
          &lt;a href=&quot;#&quot;&gt;N&Atilde;&curren;yt&Atilde;&curren; valinnaiset lis&Atilde;&curren;tiedot&lt;/a&gt;
        &lt;/p&gt;
      &lt;/div&gt;
      &lt;div id=&quot;hanke-save&quot; class=&quot;content-item large save&quot;&gt;
        &lt;div class=&quot;terms&quot;&gt;
          Olen tutustunut &lt;a href=&quot;#&quot;&gt;palvelun s&Atilde;&curren;&Atilde;&curren;nt&Atilde;&para;ihin&lt;/a&gt; ja vakuutan annettujen tietojen olevan todenmukaisia*
        &lt;/div&gt;
        &lt;div class=&quot;process-actions&quot;&gt;
          &lt;ul&gt;
            &lt;li class=&quot;action-item&quot;&gt;
              &lt;a class=&quot;btn prev&quot; rel=&quot;prev&quot; href=&quot;&quot;&gt;
                &lt;i class=&quot;icon-arrow-back&quot;&gt;&lt;/i&gt;Peruuta
              &lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;action-item middle-section&quot;&gt;
              &lt;ul id=&quot;rblAcceptTerms&quot; class=&quot;btn-group&quot;&gt;
                &lt;li&gt;
                  &lt;input id=&quot;rblIDontAcceptTerms&quot; type=&quot;radio&quot; name=&quot;group2&quot; value=&quot;0&quot; checked=&quot;&quot; /&gt;
                  &lt;label for=&quot;rblIDontAcceptTerms&quot;&gt;En hyv&Atilde;&curren;ksy ehtoja&lt;/label&gt;
                &lt;/li&gt;
                &lt;li&gt;
                  &lt;input id=&quot;rblTermsAccepted&quot; type=&quot;radio&quot; name=&quot;group2&quot; value=&quot;1&quot; /&gt;
                  &lt;label for=&quot;rblTermsAccepted&quot;&gt;Hyv&Atilde;&curren;ksyn ehdot&lt;/label&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
            &lt;/li&gt;
            &lt;li class=&quot;action-item&quot;&gt;              
              &lt;input id=&quot;btnSaveHanke&quot; type=&quot;submit&quot; class=&quot;btn&quot; value=&quot;Tallenna muutokset&quot; disabled=&quot;&quot; /&gt;
            &lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;&lt;!--End role=main--&gt;
  {{&gt; organisms-footer }}
&lt;/div&gt;