
<div class="msg-warning toast-container">
	<p>Try toaster message by clicking the button below this message</p>

	<div class="msg-toast is-hidden"> <i class="icon-lbulb"></i><p>I'm the hidden warning message</p></div>
	<button id="warning" class="toast-trigger warning">Button</button>
</div>
