
<div class="msg-info toast-container">
	<p>Try toaster message by clicking the button below this message</p>

	<div class="msg-toast is-hidden"> <i class="icon-info"></i><p>I'm the hidden info message</p></div>
	<button id="info" class="toast-trigger info">Button</button>
</div>
