
<div class="msg-success toast-container">
	<p>Try toaster message by clicking the button below this message</p>

	<div class="msg-toast is-hidden"> <i class="icon-ok inverse toast-icon"></i><p>I'm the hidden success message</p><i class="icon-close"></i></div>
	<button id="success" class="toast-trigger success">Button</button>
</div>
