
<div class="msg-error toast-container">
	<p>Try toaster message by clicking the button below this message</p>

	<div class="msg-toast is-hidden"> <i class="icon-error inverse toast-icon"></i><p>I'm the hidden error message</p><i class="icon-close"></i></div>
	<button id="error" class="toast-trigger error">Button</button>
</div>
