&lt;form role=&quot;form half-form&quot;&gt;
	&lt;h3&gt;Salasanakentt&auml;&lt;/h3&gt;
	{{&gt;atoms-field-password}}

	&lt;h3&gt;S&auml;hk&ouml;postikentt&auml;&lt;/h3&gt;
	{{&gt;atoms-field-email}}

	&lt;h3&gt;Verkko-osoitekentt&auml;&lt;/h3&gt;
	{{&gt;atoms-field-url}}

	&lt;h3&gt;Tekstialue&lt;/h3&gt;
	{{&gt;atoms-textarea}}

	&lt;h3&gt;P&auml;iv&auml;m&auml;&auml;r&auml;valitsin&lt;/h3&gt;
	{{&gt;atoms-date}}
&lt;/form&gt;