&lt;h3&gt;Yleisesti k&auml;yt&ouml;ss&auml; olevat v&auml;rit&lt;/h3&gt;
&lt;ul class=&quot;sg-colors global-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch color--a&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#FFFFFF&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch color--b&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#F0F0F0&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch color--c&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#444444&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch color--d&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#0089F2&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;

&lt;h3&gt;Ota kantaa -v&auml;rit&lt;/h3&gt;
&lt;ul class=&quot;sg-colors otk-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch color--a&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#FF0000&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch color--b&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#556771&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch color--c&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#17CEE4&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch color--d&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#2FC090&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch color--e&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#3FA2FE&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;

&lt;h3&gt;Lausuntopalvelu -v&auml;rit&lt;/h3&gt;
&lt;ul class=&quot;sg-colors lap-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch color--a&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#E1EAEF&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch color--b&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#313131&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch color--c&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#0891A1&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch color--d&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#0F6A9E&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;