/* Generic Placeholder Brick: REMOVE FOR PRODUCTION */
.form-element{
	margin-bottom: $space-half;
}
.content-item {
	background-color: #fff;
}
	.content-item.small {
		max-width: 175px;
		min-width: 175px;
	}
	.content-item.medium {
		max-width: 700px;
		min-width: 375px;
	}
	.content-item.large {
		max-width: 700px;
		min-width: 700px;
	}

.inline-element{
	display: inline-block;
	margin-bottom: $space-half;
}

.responsive-list-block{
	width: 100%;

	.inline-element{
		width: 100%;

		@media #{$tablet}{
			width: 48%;
		}

		@media #{$laptop}{
			width: 24%;
		}
	}
}

.brick {
	background: #dcdddc;
	padding: $pad-double;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid $gray-light;
}

/* Block */
.block {
	overflow: hidden;

	p:last-child {
		margin-bottom: 0;
	}
}

.headline {
	line-height: 1.2;
}

/* Hero Block */
.block-hero {
	margin-bottom: $space-half;

	.b-thumb {
		img {
			display: block;
		}
	}

	@media all and (min-width: $bp-large) {
		position: relative;

		.b-text {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background: $dim;
			color: $white;
			padding: $pad-and-half;
		}
	}
}

/* Block Thumbnail with Headline */
.block-thumb {
	display: table;
	width: 100%;
	border-collapse: collapse;

	.b-inner {
		display: table-row;
		vertical-align: top;
		overflow: hidden;
	}

	.b-thumb {
		@media all and (min-width: $bp-small-2) {
			display: table-cell;
			vertical-align: top;
			width: 30%;
			max-width: 10em;

			img {
				display: block;
				  width: 100%;
				  height: auto;
			}
		}
	}

	.b-text {
		@media all and (min-width: $bp-small-2) {
			display: table-cell;
			width: 70%;
			padding: 0 $pad;
		}
	}
}


/* Block Headline Summary */
.block-headline-summary {
	a {
		display: block;
		padding: $pad-half;
	}
}

/* Block Inset */
.block-inset {
	position: relative;

	.b-thumb {
		position: relative;
		z-index: 0;

		img {
			display: block;
		}
	}
}

/* Hero Block */
.block-inset {
	margin-bottom: $space-half;
	position: relative;

	.headline {
		font-size: 1.1em;
	}

	.b-text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: $dim;
		color: $white;
		padding: $pad-half;
	}
}

/* Block Thumb with Summary */
.block-thumb-summary {
	.b-thumb {
		float: left;
		width: 50%;
	}

	.b-text {
		margin-left: 50%;
		padding: $pad-half;
	}
}

/* Conversation component blocks */

// Og post

.social-post{
	width: 100%; //temp
}

.og-share-post{
	.share-content{
		margin-top: 1.33em;
		position: relative;

		> div{ display: inline-block; position: relative; vertical-align: top; }
		.image-container{
			width: 100%;
			height: auto;
			max-height: 100px;
			margin-bottom: $pad;
			text-align: center;

			@media #{$tablet}{
				width: 30%;
				height: 100%;
				max-height: none;
				margin-bottom: 0;
			}

			img{
				max-width: 100%;
				max-height: 100%;
				// Fake fill
				//background-color: $gray-light;
				border: 3px solid darken($gray-light, 20%);

			}
		}
		.text-content-container{
			width: 100%;
			padding-left: 0;

			@media #{$tablet}{
				width: 69%;
				padding-left: 15px;
			}

			.content-title{
				margin-top: 0;
			}
		}
	}
}

.post-header{
	width: 100%;

	.avatar-container{
		display: inline-block;
		vertical-align: top;
	}
	.text-container{
		display: inline-block;
		width: 80%;

		@media #{$tablet}{ width: 89%; }

		.second-level & {
			width: 77%;
		}
	}

	.user-avatar{
		float: left;
		height: auto;
		width: 50px;
		max-width: 100%;
		margin-right: $pad-half;
		position: relative;
		display: block;
	}

	.user, .post-time{
		display: inline-block;
		margin-bottom: 0.625em;
	}

	.user{

	}

	.post-time{
		font-size: 0.785em;
		color: $gray;
	}

	.reply-content{

	}

}

.social-actions{
	a{ display: inline-block; width: 30%; }
	a:last-child{ max-width: 30%; width: auto; }
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px solid $gray-light;

	i{
		margin: 0 5px;
	}

	.social-replies & {
		width: 100%;
		margin-left: 0;

		@media #{$tablet}{
			width: 70%;
			margin-left: 29%;
		}
	}
}

.reply-post{

}

.social-conversation{
	// this class will probably not be needed if this component is implemented
	margin: $pad $pad-double;
	max-width: 600px;
}

.social-replies{
	margin-top: 2em;


	.first-level.has-children{ // Overqualified on purpose
		border-left: 0;
		padding-left: 0;
		padding-top: 0;

		> .reply-post{
			@extend .first-level;
		}
	}
	.has-children ul{ // Nicer selector and no need for overqualification
		margin-left: 20px;

		li:first-child{
			padding-top: 0;
			margin-top: $pad;
		}

		li{
			margin-top: 0;
			padding-top: $pad;
		}
		li:last-child{
			margin-bottom: $pad;
		}
	}

	.first-level{
		border-left: 2px solid $gray-dark;
		padding-left: $pad-half;
		padding-top: $pad;
	}

	.second-level{
		margin-top: $pad;
		border-left: 2px solid $gray-dark;
		padding-left: $pad-half;
	}
}

.reply-block{
	min-height: 60px;
	width: 100%;
	margin-top: $pad-and-half;

	@extend .cf;

	.form-element{
		margin-bottom: 0;
		width: 100%;
	}

	.reply-area{
		width: 100%;
		padding-right: 35px;
	}

	.om-enter{
		position: absolute;
		right: 5px;
		top: 10px;

		&:before{
			color: lighten($text-color, 10%);
			&:hover, &:active{
				color: lighten($text-color, 5%);
			}
		}
	}

	.send-reply{
		background-color: transparent;
		border: none;
		margin: 0;

		width: 23px;
		height: 23px;
		position: absolute; right: -3px; top: -3px;


	}
}




