/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn, button{
	display: inline-block;
	background: $gray-dark;
	color: $white;
	line-height: 1;
	font: {
		weight: 700;
		size: $font-size-normal;
		family: $font;
	}
	text: {
		align: center;
		decoration: none;
	}
	padding: $pad;
	margin: 0;
	border: 1px solid #ccc;
	cursor: pointer;

	@include border-radius(2px, 2px, 2px, 2px);

	&:hover, &:focus {
		background: lighten($gray-dark, 10%);
		color: $white;
	}

	&.disabled, &:disabled {
		background: $gray-light !important;

		cursor: default;
		@include tran(color, rgb(128, 128, 128), 0.6);
	}

	&.alt{

	}

	&.sub-text{
		text-align: left;

		span{
			display: block;
			margin-top: 3px;
			font: {
				size: $font-size-small;
				weight: 400;
			}
		}
	}

	&.light{
		background-color: $gray-light;
		color: $text-color;

		&:hover, &:focus{
			background-color: darken($gray-light, 10%);
		}
	}

	&.transparent{
		background-color: transparent;
		&:hover, &:focus{
			background-color: transparent;
		}
	}

	&.white{
		background-color: $white;
		&:hover, &:focus{
			background-color: $white;
		}
	}

	& i{
		display: inline-block;
		vertical-align: middle;

		&:before{
			display: inline-block;
			vertical-align: middle;
			margin-right:  $pad;
		}
	}
}

.btn-small {
	padding: $pad-half;
}

.btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $gray;
	font: {
		size: $font-size-large;
		weight: 400;
	}
}


.text-btn {
	font-style: italic;
}

.btn-otk{
	background-color: $otk-cyan;

	&:hover, &:focus{
		background-color: darken($otk-cyan, 10%);
	}

	&.alt{
		background-color: $otk-green;

		&:hover, &:focus{
			background-color: lighten($otk-green, 10%);
		}
	}
}

.btn-kaa{

}

.btn-kua{

}

.btn-lap{
	background-color: $lap-orange;

	&:hover, &:focus{
		background-color: lighten($lap-orange, 10%);
	}
}

// Button groups

.btn-group-wrapper{
	overflow-x: auto;
	overflow-y: hidden;
	margin-bottom: $pad*1.5;
	float: left;

	@media screen and(max-width: 600px){
		float: none;
	}

	.enlarged{
		display: table;
		margin-bottom: $pad-half;
		float: none;

		a{
			display: table-cell;
			float: none;
		}
	}
}

.btn-group{
	@extend .cf;
	margin-bottom: 25px;

	a, button, input[type="submit"], li{
		padding: $pad/2 $pad;
		float: left;
		color: $text-color;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		border-left: 0;
		border-right: 0;
		background-color: $gray-light;
		text-decoration: none;
		margin-bottom: $pad-quarter;


		&.active{
			background-color: $green;
			color: $white;
		}

		&:first-child{
			border-left: 1px solid #ccc;
			@include border-radius(0,0, 2px, 2px);
		}
		&:last-child{
			border-right: 1px solid #ccc;
			@include border-radius(2px, 2px, 0, 0);
		}

		.count{
			display: block;
			text-align: center;
			line-height: 1;
			font-weight: 700;
		}
	}

	&.enlarged{
		height: 54px;
		a{ height: 100%; }

		.inline-row{
			white-space: nowrap;
		}
	}

	&.sorting{

		a{
			padding: $pad/4 $pad/2;
			border: none;
			background-color: transparent;
			color: $blue;

			@include border-radius();

			&.active{
				background-color: $green;
				color: $white;
				@include border-radius(2px, 2px, 2px, 2px);
			}
		}
	}

	input[type="radio"]{
		margin: 0 auto;
		margin-bottom: 0.325em;
		display: block;
	}
	&.radiogroup{
		input[type="radio"]{
			display: none;
		}
		label{
			padding: 0;
		}
	}
}

.select-style {
	position: relative;

	&:after{
		content: "\f0d7";
		font-family: fontAwesome;
		display: inline-block;
		color: $white;
		text-indent: -25px;
	}

	.border-fix:after{
		content: ".";
		color: $green;
		top: -1px;
		right: 30px;
		position: absolute;
		border-left: 1px solid $white;
	}

	select{
		background: $green;
		border: 1px solid $border-color;
		color: $white;
		padding: 4px 35px 4px 6px;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		@include border-radius(2px, 2px, 2px, 2px);
	}
}

// Lift-button.
.lift-button{
	width: 175px;
	height: 175px;
	display: inline-block;

	padding: 10px 5px;
	margin: $pad-quarter;
	position: relative;
	background-color: $white;
	&.gray-base{
		background-color: $gray-light;
		.count-container a{ background-color: $gray-light; }
	}

	.lift-button-link, .date{
		display: block;
		text-align: center;
		line-height: 1.5;
	}

	.lift-button-link{

	}

	.date{
		margin: $pad-half 0;
	}

	.icon-container {
		width: 100%;
		text-align: center;
		display: block;
		margin: 0 auto;
		padding-top: 1em;

		.icon-span{
			line-height: 4em;
			&:before {
				font-size: 5em;
			}
		}
		a {
			color: #444444;
		}
	}
}

.count-container{
	width: 100%;
	text-align: center;
	display: inline-block;
	position: relative;

	a{
		z-index: 1;
		position: relative;
		background-color: $white;
		padding: $pad-half;
		@include border-radius(17px, 17px, 17px, 17px);
	}
	.icon-span{
		line-height: 4em;
		&:before{ position: absolute; font-size: 5em; top: 3px; margin-left: -10px; }
	}

}

// Lift button version 2

.lift-button-b{
	height: 175px;
	overflow: hidden;
	width: 175px;
	padding: 3em em(5) $pad-half;
	margin: $pad-quarter;

	&:before{
		font-size: em(140);
		line-height: 1.2;
	}
	&.gray-base{
		background-color: $gray-light;
		.count-container a{ background-color: $gray-light; }
	}
	.count-number{
		font-size: 2em;
		font-weight: 700;
		margin-bottom: 0;
		@include tran(color, $blue, .8)
	}
	.info-text{
		color: $text-color;
		margin: $pad-half 0;
		font-weight: 400;
	}
	.lift-button-b{
		color: $blue;
		font-weight: 400;
	}

	.lift-button-link, .date{
		display: block;
		text-align: center;
		line-height: 1.2;
	}
	.date{
		color: $text-color;
	}
}

.count-container-b{
	@extend .count-container;
	padding: 1em 0;

	&:before{
		font-size: 4.5em;
		line-height: 1.1;
		@include tran(color, $text-color, 0.2);
	}

	a{
		background-color: transparent !important;
		font-size: 1.25em;
		font-weight: 700;

		@include border-radius(0);
	}
}




