/* Pasted carousel styles from beta.otakantaa.fi */
/*Carousel*/

.content-carousel
{
	margin-bottom: 12px;
}

.carousel
{
	line-height: 1;
	/*margin-bottom: 20px;*/
	position: relative;
	display: none;
	@media #{$tablet}{ display: block;  }
}

.carousel-inner
{
	overflow: hidden;
	position: relative;
	width: 100%;


	& > .item
	{
		display: none;
		position: relative;
		transition: left 0.6s ease-in-out 0s;

		.has-text-items &{
			height: 235px;
		}

	}

		& > .item > img, & > .item > a > img
		{
			display: block;
			line-height: 1;
			border: 0 none;
			height: auto;
			max-width: 100%;
			vertical-align: middle;
			/*stretch image*/
			width: 100%;
		}



	& > .active, & > .next, & > .prev
	{
		display: block;
	}

	& > .active
	{
		left: 0;
	}

	& > .next, & > .prev
	{
		position: absolute;
		top: 0;
		width: 100%;
	}

	& > .next
	{
		left: 100%;
	}

	& > .prev
	{
		left: -100%;
	}

		& > .next.left, & > .prev.right
		{
			left: 0;
		}

	& > .active.left
	{
		left: -100%;
	}

	& > .active.right
	{
		left: 100%;
	}
	& >.item-text{

	}
}

.carousel-control {
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
	margin-top: -20px;
	opacity: 0.66;
	position: absolute;
	top: 50%;
	left: 15px;

	&.right
	{
		@extend .icon-arrow-forward;

		text-indent: 4px;
		left: auto;
		right: 12px;
	}

	&.left{
		@extend .icon-arrow-back;

		text-indent: -2px;
		left: 12px;
	}

	&.right::before {
		font-family: ok-icons;
		content: "\E105";
	}

	&.left::before {
		font-family: ok-icons;
		content: "\E108";
	}	

	&:hover, &:focus
	{
		color: #FFFFFF;
		opacity: 0.9;
		text-decoration: none;
	}
}

.carousel-indicators
{
	list-style: none outside none;
	margin: -30px auto 0;
	position: relative;
	z-index: 5;
	height: 10px;
	width: 30%;
	vertical-align: middle;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	
	li
	{
		display: inline-block;
		cursor: pointer;
		float: none;
		margin-left: 0.5em;
	}	
	li::before {
		font-family: ok-icons;
		content: "\E010";
	}
	 
	.active
	{
		background-color: $gray-light;
	}
	.active::before {
		font-family: ok-icons;
		color:white;
		content: "\E010";
	}	
}
.carousel-caption
{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
	bottom: 0;
	left: 0;
	padding: 15px 12px;
	position: absolute;
	right: 0;
	text-align: left;


	h4, p
	{
		color: #FFFFFF;
		line-height: 20px;
	}

	h4
	{
		margin: 0 0 5px;
	}

	p
	{
		margin-bottom: 15px;
	}
}

.carousel-caption-text{
	margin: 0 auto 20px;
	padding-top: 50px;
	width: 75%;
}


