/* Pasted carousel styles from beta.otakantaa.fi */
/*Carousel*/

.content-carousel
{
	margin-bottom: 12px;
}

.carousel
{
	line-height: 1;
	/*margin-bottom: 20px;*/
	position: relative;
	display: none;
	@media #{$tablet}{ display: block;  }
}

.carousel-inner
{
	overflow: hidden;
	position: relative;
	width: 100%;


	& > .item
	{
		display: none;
		position: relative;
		transition: left 0.6s ease-in-out 0s;

		.has-text-items &{
			height: 235px;
		}

	}

		& > .item > img, & > .item > a > img
		{
			display: block;
			line-height: 1;
			border: 0 none;
			height: auto;
			max-width: 100%;
			vertical-align: middle;
			/*stretch image*/
			width: 100%;
		}



	& > .active, & > .next, & > .prev
	{
		display: block;
	}

	& > .active
	{
		left: 0;
	}

	& > .next, & > .prev
	{
		position: absolute;
		top: 0;
		width: 100%;
	}

	& > .next
	{
		left: 100%;
	}

	& > .prev
	{
		left: -100%;
	}

		& > .next.left, & > .prev.right
		{
			left: 0;
		}

	& > .active.left
	{
		left: -100%;
	}

	& > .active.right
	{
		left: 100%;
	}
	& >.item-text{

	}
}

.carousel-control {
	color: $gray-med;
	font-size: 24px;
	text-align: center;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	left: 15px;

	&:before{
		font-size: 26px;
		width: 24px;
		display: inline-block;
		vertical-align: sub;
		line-height: 29px !important;
	}

	&.right {
		@extend .om-ring_right;

		text-indent: 4px;
		left: auto;
		right: 12px;
	}

	&.left{
		@extend .om-ring_left;

		text-indent: -2px;
		left: 12px;
	}

	&:hover, &:focus
	{
		color: $gray-dark;
		text-decoration: none;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
	}
}


.carousel-indicators
{
	list-style: none outside none;
	margin: -30px auto 0;
	position: relative;
	z-index: 5;
	height: auto;
	width: 30%;
	vertical-align: middle;
	background-color: transparent;
	text-align: center;
	font-size: 24px;

	li
	{
		display: inline-block;
		cursor: pointer;
		float: none;
		margin-left: 0.5em;
		text-align: center;

		&:hover{
			&:before{
				opacity: 1;
			}
		}
	}

	li:before {
		@extend .om-ring_outline;
		display: inline-block;
		vertical-align: bottom;
		line-height: 29px;
		width: 25px;
		color: $white;
		opacity: 0.8;
	}

	.active:before {
		@extend .om-circle_blank;
		color: $white;
		opacity: 0.9;
	}

	&.inverse-color {
		color: $gray-dark;
		li.active:before{
			color: $gray-dark;
			opacity: 0.9;
		}
		li:before{
			color: $gray-med;

			-webkit-transition: all 0.30s ease-in-out;
			-moz-transition: all 0.30s ease-in-out;
			-ms-transition: all 0.30s ease-in-out;
			-o-transition: all 0.30s ease-in-out;
		}
		&:hover{ color: $gray-dark; opacity: 1; }
	}
}
.carousel-caption
{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
	bottom: 0;
	left: 0;
	padding: 15px 12px;
	position: absolute;
	right: 0;
	text-align: left;


	h4, p
	{
		color: #FFFFFF;
		line-height: 20px;
	}

	h4
	{
		margin: 0 0 5px;
	}

	p
	{
		margin-bottom: 15px;
	}
}

.carousel-caption-text{
	margin: 0 auto 20px;
	padding-top: 50px;
	width: 75%;
}


