@media screen and (max-width: 440px){
	.header.loggedin{
		.search-form {
			max-width: 50%;
		}
	}
}

@media screen and (max-width: 370px){
	.header.loggedin{
		.search-form {
			max-width: 40%;

			.form-element{ margin-left: 30px; }

			.search-field {
				padding-right: 1.5em;
				padding-left: $pad-quarter;
			}
		}
	}
}

.header {
	background: $gray-light;
	position: relative;
	padding: 0;

	@extend .lc;

	.element-group{
		width: 100%;
		position: relative;
		@extend .cf;

		&:first-child{

			.align-right{ height: 100%; max-width: 60%; width: 100%; }
			.align-left{ height: 100%; min-width: 30%; }
		}

		&:nth-child(2){

		}

		&:nth-child(3){

		}

		@media #{$tablet}{
			&:first-child{
				margin-top: 0;
				z-index: 2;
			}

			&:nth-child(2){
				position: relative;
				margin-top: 20px;
			}
			&:nth-child(3){
				position: absolute;
				top: 0;
			}
		}

		@media #{$laptop}{
			&:first-child{
				margin-top: 0;
			}

			&:nth-child(2){
				position: relative;
				margin-top: 60px;
			}
		}
		.inner-block{
			position: relative;
		}
		&.nav-container{
			position: static;
			@media #{$tablet}{
				position: relative;
			}
		}
	}

	.responsive-modifier-block{
		position: static;

		@media #{$tablet}{
			position: relative;
			padding-top: 60px;
		}
	}

	.search-form {
		padding: 13px 0;
		top: 0;
		position: absolute;
		max-width: 100%;

		@media screen and (max-width: 340px){
			max-width: 60%;
		}

		@media #{$tablet}{
			width: 50%;
			right: 10px;
		}

		@media #{$laptop}{ padding: 31px 0; }

		.form-element{
			margin: 0 0 0 40px;
			position: relative;
			z-index: 1;
		}

		.search-field{
			padding-right: 2em;
		}
	}
}
.header-logo{
	color: $text-color;
	text-decoration: none;
	float: left;
	font-size: 2.1em;
	margin: 11.5px 0;

	@media #{$tablet}{
		font-size: 2.1em;
	}

	@media #{$laptop}{
		font-size: 2.6em;
	}

	&:hover{
		text-decoration: none;
		color: $text-color;
	}

	.logo {
		display: inline-block;
		height: 50px;
		width: auto;
		margin-right: em(8.5px);
		vertical-align: middle;
		border: 0;
		border-width: 0;
		outline: none;

		@media #{$laptop}{
			height: 77px;
			margin-right: em(13px);
		}

		// for 400-320px
	}
}


.lang-sel{
	float: right;
	padding: 0 1em 0 0;
	margin: 0;
	@media #{$tablet}{ margin-right: 47%; }
	@media #{$laptop}{ margin-right: 50%; }

	.lang-list{
		list-style: none;

		li{
			line-height: 64px;

			@media #{$laptop}{
				line-height: 100px;
			}

			a{ color: $blue; text-decoration: none; }

			&.selected{
				display: none;
			}
		}
	}
}

/* Dirty stuff to fix pasted-horror.css */

.header #topnavibar{
	z-index: 1;
	padding: 0;

	.navigation{ overflow: visible; height: 62px; @media #{$tablet}{ height: 42px; } }

	&.expanded{
		height: 495px;
		.expanding{ height: 430px; }

		&.expanded-navi{
			height: 280px;
				.expanding{
					height: 216px;
					border-top: 2px solid $white;
				}
			&.expanded-full-navi{
				height: 400px;
				.expanding{
					height: 336px;
				}
			}
		}
	}

	.expanding{
		.section{
			border-top: 2px solid $white;
		}
	}

	.close{ right: 10px;
		@media #{$tablet}{
			bottom: -26px;
		}
	}

	.container{ width: 100%; max-width: 960px; }
	.navigation > a {
		display: none;

		@media #{$tablet}{
			display: inline-block;
			padding: 0 13px 3px;
			margin: 8px 4px 0 0;
		}
		@media #{$laptop}{
			padding: 0 20px 3px;
			margin: 8px 8px 0 0;
		}
	}
	.column-main > * { width: auto; }

	.main-login .input-with-icon{
		margin-top: 10px;
	}

	.section{
		padding: 15px 10px 0;

		h3{
			margin-top: 5px;
			color: $white;
		}
	}

	.site-actions{
		float: right;
		line-height: 1;
		margin-right: 10px;

		@media #{$tablet}{
			float: right;
		}

		a, .logout-btn-wrapper{
			padding: 14px 22.5px;
			float: left;
			line-height: 33px;


			span{ display: inline; opacity: 1; }
			i{ margin-left: em(10px); }

			@media screen and (max-width: 600px){
				i{ margin-left: 0; }
				span{ display: none; opacity: 0; }
			}

			@media #{$tablet}{ padding: 6px 6px 3px;
				border-left: 1px solid #5A5A5A;
				border-right: 1px solid #000000;
				&:first-child{ padding-left: 5px; }
			}
			@media #{$desktop}{ float: left; display: inline; }
		}
		.user-navigation > ul > li > a{
			padding: 0 5px 0 10px; margin: 0;
			height: 61px;
			line-height: 61px;

			//border-right: 1px solid $black;
			float: left;



			@media #{$tablet}{ line-height: 42px; height: 42px; border-left: none; border-right: none; padding: 0 10px; }
		}

		.user-navigation{
			position: relative;
			right: 0; top: 0; left: 0;

			padding-right: $pad-half;
			border-right: 1px solid #000000 !important;
			border-left: 1px solid #5A5A5A;

			> ul > .toplevel{ float: left;

			}



			ul.is-vishidden li a{ display: none; float: none; }
			ul.is-visible {
				background-color: $gray-med;
				border: 1px solid darken($gray-med, 20%);
				position: absolute;
				top:61px;
				right: -1px;
				width: 200px;

				@media #{$tablet}{
					top: 42px;
					right: auto;
				}

				li a{ line-height: 1em; color: $text-color; border: none; }
			}

			.icon-arrow{
				cursor: pointer;
				float: right;
				height: 61px;
				//border-left: 1px solid #5A5A5A;
				padding: 0 5px;

				@media #{$tablet}{ border-left: 0; height: auto; float: none; padding: 0; }


				&:before{
					font-size: $font-size-normal;
					display: inline-block;
					margin-left: 5px;
					vertical-align: middle;
					cursor: pointer;
					background-color: $gray;
					padding: 5px;
					margin-top: 17px;
					@include border-radius(3px, 3px, 3px, 3px);

					@media #{$tablet}{ margin-top: 8px; }
				}
			}

		}
		.logout-btn-wrapper{
			margin: 0; padding: 0;
			height: 61px;
			@media #{$tablet}{ height: 42px; }
			@media screen and (max-width: 500px){ width: 60px; }

			i{
				margin: 0;
				position: absolute;
				top: 22.5px;
				right: 10px;

				@media #{$tablet}{ top: 13px; }
				@media screen and (max-width: 500px){ right: 22px; }
			}

			.ctl-btn-logout{
				float: none;
				line-height: 61px;
				padding: 0 30px 0 10px;
				margin: 0;

				@media #{$tablet}{ line-height: 42px; }
				@media screen and (max-width: 500px){
					padding: 0 60px 0 0;
					color: transparent;
					width: 0;
				}
			}
		}

	}
	.column-alt{
		padding-top: 0;
		max-width: 380px;
		width: 100%;
		float: none;
		margin: 0 auto;

		@media #{$laptop}{ max-width: 440px; }

		.or{
			display: block;
		}
	}

	.ctl-btn {
		margin-top: 10px;
		margin-left: 0;
		padding: 0.5em 2em;
		width: 100%;
	}
	.update-progress{
		height: 10px;
	}

	.input-with-icon{
		text-align: left;

		input{
			width: 100%;
		}
	}
	.section.register .ctl-text.email{ float: none; }
	.forgotten{ text-align: right; }
	.remember {
		text-align: left;
		float: left;
		margin-top: 3px;

		input, label{
			float: left;
		}
	}
	.footer{
		background: transparent;
		position: relative;
		top: auto;
		margin-top: 1em;
	}
}

.topnavi-bar .section{ text-align: center; }

.topnavi-bar .column-main {
	max-width: 380px;
	width: 100%;
	float: none;
	margin: 0 auto;

	@media #{$laptop}{ max-width: 440px; }
}

.topnavi-bar .navigation a{  }

.topnavi-bar .section.register [type=submit] {
	width: 100%;
	float: none;
}

