
@font-face {
	font-family: ok-icons;
	src:url("../fonts/otakantaa-icon-set.eot?1.1");
	src:url("../fonts/otakantaa-icon-set.eot?1.1#iefix") format('embedded-opentype'),
		url("../fonts/otakantaa-icon-set.ttf?1.1") format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'ok-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
/*
.icon-twitter:before, .icon-stumbleupon:before, .icon-pinterest:before, .icon-linkedin:before, .icon-google-plus:before, .icon-search:before, .icon-play:before, .icon-menu:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-bubble:before, .icon-facebook:before, .icon-feed:before, .icon-youtube:before, .icon-tag:before, .icon-tumblr:before, .icon-instagram, .icon-podcast, .icon-apple,.icon-android, .icon-arrow:after, .icon-envelope:before {

.icon-twitter:before {
	content: "\74";
}
.icon-stumbleupon:before {
	content: "\75";
}
.icon-pinterest:before {
	content: "\70";
}
.icon-linkedin:before {
	content: "\69";
}
.icon-google-plus:before {
	content: "\67";
}
.icon-search:before {
	content: "\73";
}
.icon-play:before {
	content: "\61";
}
.icon-menu:before {
	content: "\21";
}
.icon-arrow-left:before {
	content: "\23";
}
.icon-arrow-right:before {
	content: "\24";
}
.icon-bubble:before {
	content: "\25";
}
.icon-facebook:before {
	content: "\66";
}
.icon-feed:before {
	content: "\27";
}
.icon-youtube:before {
	content: "\79";
}
.icon-tag:before {
	content: "\28";
}
.icon-tumblr:before {
	content: "\6d";
}
.icon-instagram:before {
	content: "\22";
}
.icon-podcast:before {
	content: "\26";
}
.icon-android:before {
	content: "\29";
}
.icon-apple:before {
	content: "\2a";
}
.icon-envelope:before {
	content: "\2b";
}
*/

/*.icon-arrow:after {
	content: "\61";
	display: inline-block;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
*/
.icon-play:before {
	font-size: 0.7rem;
	padding-left: 0.2em;
}

.icon-play-box {
	display: block;
	margin-left: $pad-double;
}

.icon-play-box:before {
	padding: $pad-quarter;
	background: $gray;
	color: $white;
	margin-left: -1.7rem;
	margin-right: $pad-half;
}

// Customs
.icons.icons-compare{
	li { width: 180px; line-height: 35px; clear: both; }
	i { float: right; }
}
.icons i{ margin: 0 10px; }
.icons li{ line-height: 2; }

.fa{ font-family: FontAwesome; }
.om{ font-family: ok-icons; }

.footer .om:before{
	vertical-align: sub;
	font-size: 2em;
}

.icon-style, .fa, .om{
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;

	&.size-s:before{
		font-size: em(12px);
	}

	&.size-l:before{
		font-size: em(24px);
	}

	&.size-xl:before{
		font-size: em(36px);
	}
}

i{
	@extend .icon-style;
}

.icon-ok:before {
	content: "\f00c";
	@extend .fa;
}

.icon-info:before{
	content: "\f129";
	@extend .fa;
}

.icon-search:before{
	content: "\f002";
	@extend .fa;
}

.icon-play:before{
	content: "\f04b";
	@extend .fa;
}

.icon-close:before, .icon-error:before{
	content: "\f00d";
	@extend .fa;
}

.icon-delete:before{
	content: "\f014";
	@extend .fa;
}

.icon-warning:before{
	content: "\f06a";
	@extend .fa;
}

.icon-notify:before{
	content: "\f071";
	@extend .fa;
}

.icon-add:before{
	content: "\f067";
	@extend .fa;
}

.icon-lbulb:before{
	content: "\f0eb";
	@extend .fa;
}

.icon-menu:before {
	content: "\f0c9";
	@extend .fa;
}
.icon-menu-arrow:before{
	content: "\f067";
	@extend .fa;

	.sub-nav-open &{
		content: "\f068";
	}

	@media #{$tablet}{
		content: "\f0d7";
	}
}

.icon-login:before{
	content: "\f090";
	@extend .fa;
}

.icon-logout:before{
	content: "\f08b";
	@extend .fa;
}

.icon-register:before{
	content: "\f044";
	@extend .fa;
}
.icon-mail:before{
	content: "\f0e0";
	@extend .fa;
}
.icon-people:before{
	content: "\f0c0";
	@extend .fa;
}
.icon-chart:before{
	content: "\f080";
	@extend .fa;
}
.icon-arrow-back:before{
	content: "\f104";
	@extend .fa;
}
.icon-arrow-forward:before{
	content: "\f105";
	@extend .fa;
}
.icon-off:before{
	content: "\f090";
	@extend .fa;
}
.icon-arrow:before{
	content: "\f0d7";
	@extend .fa;
}
.icon-user:before{
	content: "\f007";
	@extend .fa;
}
.icon-like:before{
	content: "\f087";
	@extend .fa;
}
.icon-dislike:before{
	content: "\f088";
	@extend .fa;
}
.icon-reply:before{
	content: "\f112"; // alt. \f075
	@extend .fa;
}
.icon-tag:before{
	content: "\f02b";
	@extend .fa;
}

// icons called from somewhere else than span or i. Possible to call from :after.

.icon-plus{
	content: "\f067";
	@extend .fa; // Because it's used in attachment's as a label:before
}
.icon-edit-pen{
	content: "\f040";
	@extend .fa;
}

// Non pre-pseudos. Call from pseudos.
.icon-process-arrow{
	content: "\f105";
	@extend .fa;
}

// otakantaa icons. prefix om-

.icon-comment:before{
	content: "\63";
	@extend .om;
}

.icon-help:after{
	content:"\22";
	@extend .om;
}

.om-facebook:before{
	content: "\46";
	z-index: 1;
	position: relative;
}
.om-facebook:after{
	content: "S";
	display: none;
}

.om-twitter:before{
	content: "\54";
}

.om-youtube:before{
	content: "\55";
}

.om-gallup:before{
	content: "\45";
}




