/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
	padding: $pad-half $pad-half $pad-double;
	overflow: hidden;
	@extend .lc;
	@extend .cf;
	background-color: $white;
}
.page {
	background-color: $gray-light;
}

#patternlab-html{
	background-color: $gray-light;
}