/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
	padding: $pad-half $pad-half $pad-double;
	overflow: hidden;
	@extend .lc;
	@extend .cf;
	background-color: $white;
}
.page{
	&.otakantaa{
		background-color: $gray-light;
		
		[role=main] {
			background-color: $gray-light;
		}
	}
}

#patternlab-html{
	background-color: $gray-light;
}