/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/

// Toasts

.toast{
	border-width: 2px;
	border-style: solid;
	background-color: $white;
	position: relative;

	i.toast-icon{
		&.inverse:before{
			width: 28px; height: 28px; line-height: 28px; text-align: center;
			font-size: 1em;
			color: $white;
			margin-top: -3px;
			@include border-radius(15px, 15px, 15px, 15px);
		}

		&:before{
			display: block;
			margin-right: 12px;
			line-height: 1;
			font-size: 1.7em;
			float: left;
			color: $text-color;
			opacity: 0.8;
		}
	}

	i.icon-close{
		position: absolute;
		right: 10px; top: 8px;

		font-size: 1em;
		opacity: .8;
	}

	&:hover i, &:hover i:before{
		opacity: 1;
	}
}

.toast-message{
	display: inline-block;
	color: $text-color;
	width: 100%;
}



#toast-container > .toast {
	background-image: none !important;
}

.toast-success {
	border-color: $valid;
	& i.inverse:before{
		background-color: $valid;
	}
}

.toast-error {
	border-color: $error;

	& i.inverse:before{
		background-color: $error;
		font-size: 1.2em;
	}
}
.toast-info {
	border-color: #e2e2e2;

	& i.inverse:before{
		background-color: #ccc;
	}
}
.toast-warning {
	border-color: $warning;

	& i.inverse:before{
		background-color: $warning;
	}
}

#toast-container > div {
	margin: 0 0 6px;
	padding: 15px 15px 15px 30px;
	width: 300px;

	background-image: none;
	background-position: 15px center;
	background-repeat: no-repeat;
	-moz-box-shadow: 0 0 8px #999999;
	-webkit-box-shadow: 0 0 8px #999999;
	box-shadow: 0 0 8px #999999;
	color: #ffffff;
	opacity: 0.9;
	  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	  filter: alpha(opacity=90);

	@include border-radius(2px, 3px, 3px, 2px);
}

