.section {
	margin: 0 0 $space;
}

.section-title {
	margin-bottom: $space-half;
}

// List lift

.list-lift{

	.navigation{
		@extend .cf;

		.btn-group{
			float: left;
		}
		.tag-search-container{
			float: right;
			width: 100%;
			margin-bottom: $space-half;

			@media #{$laptop}{
				width: auto;
				margin: 15px 5px 0;
			}
		}
	}
}

.single-list-item{
	margin-bottom: $pad-half;
	padding: 0.75em $pad-half $pad-quarter;

	&:nth-child(2n){
		background-color: $gray-light;
		.count-container a{ background-color: $gray-light; }

		&:hover{
			-webkit-box-shadow: 0 1px 2px 0px rgba(0,0,0, 0.15);
			box-shadow: 0 1px 2px 0px rgba(0,0,0, 0.15);
		}
	}

	&:hover{
		-webkit-box-shadow: 0 1px 2px 0px rgba(0,0,0, 0.125);
		box-shadow: 0 1px 2px 0px rgba(0,0,0, 0.125);
		@include border-radius(1px, 1px, 1px, 1px);
	}
	.items-container{ width: 100%; }
	.block-item, .items-container{ display: inline-block; }
	.block-item .count-container{ min-width: 70px; }
	.block-item{
		vertical-align: top;
		margin-right: 5px;
		&:nth-child(2){
			margin: -10px 20px 0;
		}
		&:nth-child(4){
			width: 100%;

			@media #{$laptop}{
				width: 40%;
				float: right;
				text-align: right;
				margin-right: 0;
			}
		}
	}
}

// Event lift

.event-section{
	max-width: 800px;
	margin: 0 auto;
	padding: $pad-double $pad-quarter 0;

	.event-header{
		.event-title-container{
			position: relative;
			width: 100%;

			.event-title{
				width: 80%;
			}
		}
		.edit-event {
			position: absolute;
			top: 0;
			right: 0;

			.edit{

				&:after{
					@extend .icon-edit-pen;
					color: $text-color;
					margin-left: 5px;
				}
			}
		}
	}

	.left-block, .right-block{ width: 100%; margin: 0; padding: 0 0 1em; }

	@media #{$tablet}{
		.left-block, .right-block{ width: 45%;}
		.cf > div{
			&:first-child{
				margin: 0 $pad 0 0;
			}
			&:last-child{
				margin: 0 0 0 $pad;
			}
		}
	}
	@media #{$laptop}{
		.left-block, .right-block{ width: 47%;}
	}


	.event-date-container{
		width: 100%;
		margin-bottom: $pad-double;

		.date-element{

			.picker__input{ color: $blue; }
		}
	}

	.event-location-container{
		.right-block{
			img{
				max-height: 100%;
				max-width: 100%;
			}
		}
	}

	.event-actions{
		margin: 25px 0;
		input{
			margin-left: $pad;
		}
	}
}




// Gallup. Gallup styles are mainly pasted styles from the old site and can be found from 'pasted-styles.css'. However the following styles are used to override the old styles.

.gallup-section{
	background-color: $gray-light;
	border-bottom-color: $gray-med;
	max-width: 600px;

	table, td{ border: 0; }

	.participation-item > div {
		display: inline-block;
		vertical-align: middle;
	}

	.participation-icon{
		margin: 0 $pad;

		.om-gallup{
			color: $text-color;
			font-size: 3em;
		}
	}
	.participation-data{ width: 80%; }

	.gallup-answers {
		margin-left: 0;

		.progressbar-bg{
			background-color: $white;
			border: 1px solid darken($gray-med, 20%);

			width: 450px;

			@media screen and (max-width: 460px){
				width: 370px;

				.progressbar-text{ width: 353px !important; }
			}
			@media screen and (max-width: 375px){
				width: 310px;

				.progressbar-text{ width: 300px !important; }
			}

			.progressbar-progress{
				background-color: darken($gray-med, 10%);

				&.progressbar-progress_selected{
					background-color: $otk-cyan;
				}

				.progressbar-text{
					color: $text-color;

					width: 427px;
				}

			}
		}
	}
}