.header-tabs {
	overflow: hidden;

	.service-tabs {
		display: inline-block;

		li {
			display: inline-block;
			text-align: center;

			&:last-child {
				border-right: 0;
			}
		}
	}
	a {
		display: inline-block;
		padding: 0 13px 3px;
		margin: 8px 4px 0 0;
		background: $gray-med;;
		color: $text-color;
		border-radius: 8px 8px 0 0;
		line-height: 31px;
		text-decoration: none;

		&:hover, &:focus {
			background: darken($gray-med, 10%);
			color: darken($text-color, 10%);
		}

		&.active {
			background: $white;
			color: $text-color;
		}
	}

	.other-service{
		background-color: transparent;

		&:after{
			content: "\f0da";
			margin-left: 7px;
			line-height: 1;
			display: inline-block;
			@extend .icon-style;
		}
		&:hover, &:focus {
			background: transparent;
			color: lighten($text-color, 20%);
		}
	}

}