//Intro text
.intro {
	font-size: $font-size-ingressi;
	font-weight: bold;
}

//Pullquote
.pullquote {
	font-family: $font-secondary;
	font-size: $font-size-large;
}

//Caption
.ingressi {
	font:{
		size: $font-size-ingressi;
		family: $font;
		weight: 400;
	}
}

//Passages of text
.text {
	a {
		text-decoration: underline;
	}

	ul {
		list-style: disc;
		margin: 0 0 $space 1.2em;

		ul {
			margin-bottom: 0;
		}
	}

	ol {
		list-style: decimal;
		margin: 0 0 $space 1.5em;

		ol {
			margin-bottom: 0;
		}
	}
}

// Fadeout
$fadeout-space: 70px;

.fadeout{
	position: relative;
	overflow: hidden;
	//max-width: 600px;
	width: 100%;
	max-height: 100px;
	padding-bottom: $fadeout-space;

	.no-js &{
		max-height: 100%; padding-bottom: 10px;

		.read-more{ display: none; }
	}

	&.smaller{
		max-height: 150px;
	}

	&.tiny{
		max-height: 200px;
	}

	&.open{
		max-height: 100%;
		padding-bottom: 10px;
	}

	.read-more{
		position: absolute;
		bottom: 0;
		margin-bottom: 0;
		z-index: 2;
		width: 100%;
		height: $fadeout-space;

		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 85%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(85%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 85%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 85%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 85%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 85%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

		a{
			position: absolute;
			bottom: 0;
			right: 0;
			color: $blue;
			text-decoration: none;
			padding-right: 1em;

			&.pt-fix{
				top: 0;
			}

			&:before {
				@extend .om-small_arrow_down;
				font-size: 24px;
				position: absolute;
				right: -4px;
				top: 0;
			}
		}
	}
}

// Helper text

.helper-container{

	.icon-help{
		cursor: pointer;
		vertical-align: bottom;
		line-height: 3;

		&:after{
			color: $text-color;
			font-size: 1.25em;
			display: inline-block;
			padding-top: 0.15em;
			vertical-align: top;
			line-height: 24px;
		}
	}
	.helper-text{
		margin: -$pad-half 0 $pad-half;
	}
}

