
&lt;div class=&quot;msg-warning toast-container&quot;&gt;
	&lt;p&gt;Try toaster message by clicking the button below this message&lt;/p&gt;

	&lt;div class=&quot;msg-toast is-hidden&quot;&gt; &lt;i class=&quot;icon-lbulb&quot;&gt;&lt;/i&gt;&lt;p&gt;I'm the hidden warning message&lt;/p&gt;&lt;/div&gt;
	&lt;button id=&quot;warning&quot; class=&quot;toast-trigger warning&quot;&gt;Button&lt;/button&gt;
&lt;/div&gt;
