<h3>Iconit</h3>
<ul class="icons">
	<li> <i class="icon-search"></i></li>
	<li> <i class="icon-play"></i></li>
	<li> <i class="icon-ok"></i></li>
	<li> <i class="icon-notify"></i></li>
	<li> <i class="icon-warning"></i></li>
	<li> <i class="icon-close"></i></li>
	<li> <i class="icon-add"></i></li>
	<li> <i class="icon-delete"></i></li>
	<li> <i class="icon-tip"></i></li>
</ul>

<h4>Esimerkki iconien eri koista</h4>
<ul class="icons icons-compare">
	<li><i class="icon-ok size-s"></i>Pieni iconi</li>
	<li><i class="icon-ok"></i>Normaali iconi</li>
	<li><i class="icon-ok size-l"></i>Suuri iconi</li>
	<li><i class="icon-ok size-xl"></i>Erittäin suuri iconi</li>
</ul>