&lt;div class=&quot;form-element text-el&quot;&gt;
	&lt;label for=&quot;text-field&quot;&gt;Kirjoita teksti&Atilde;&curren;&lt;/label&gt;
	&lt;input type=&quot;text&quot; id=&quot;text-field&quot; placeholder=&quot;Kirjoita t&Atilde;&curren;h&Atilde;&curren;n...&quot;&gt;
&lt;/div&gt;