<div class="block block-thumb">
	<a href="#" class="b-inner">
		<div class="b-thumb">
			<!-- media-block-icon is a fallback for this if there's no image available. The only difference is an additional class for b-inner and b-thumb's content. -->
			<img src="../../images/fpo_square.png" alt="Square Thumbnail">
		</div>
		<div class="b-text">
			<h3 class="b-title">Lorem ipsum ui pellentesque, rutrum ipsum eget, congue odio. Aliquam vel euismod se(95 merkkiä)</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id mi pulvinar, scelerisque orci nec, accumsan magna. Fusce vitae imperdiet urna. Etiam quis orci vitae tellus ullamcorper faucibus. Maecenas a sagittis libero. In adipiscing risus a dolor ullamcorper porta. Proin bibendu(297 merkkiä)</p>
		</div>
	</a>
</div>