<div class="block block-thumb">
	<a href="" class="b-inner">
		<h2 class="b-title">Lorem ipsum dolor sit (37 characters)</h2>
		<div class="b-thumb">
			<div class="lift-button participation">
				<div class="count-container">
					<span class="icon-span icon-comment"></span>
					<p>17</p>
				</div>
				<p class="lift-button-link" href="//www.foo.bar">Miten nyt kerättävä rahoitus tulisi sijoittaa?</p>
				<p class="date">26.5. asti</p>
			</div>
		</div>
		<div class="b-text">

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	</a>
</div>