<div class="block block-thumb">
	<a href="#" class="b-inner b-uses-icon">
		<div class="b-thumb">
			<div class="lift-button-b participation btn transparent om-keskustelu icon-as-bg">
				<p class="count-number" href="//www.foo.bar">17</p>
				<p class="info-text">Miten nyt kerättävä rahoitus tulisi sijoittaa?</p>
				<p class="lift-button-link">Osallistu</p>
			</div>
		</div>
		<div class="b-text">
			<h3 class="b-title">Lorem ipsum ui pellentesque, rutrum ipsum eget, congue odio. Aliquam vel euismod se(95 merkkiä)</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id mi pulvinar, scelerisque orci nec, accumsan magna. Fusce vitae imperdiet urna. Etiam quis orci vitae tellus ullamcorper faucibus. Maecenas a sagittis libero. In adipiscing risus a dolor ullamcorper porta. Proin bibendu(297 merkkiä)</p>
		</div>
	</a>
</div>