<div class="og-share-post social-post">
	{{>molecules-post-header}}
	<div class="share-content">
		<div class="image-container">
			<img src="{{img.square.src}}" alt="">
		</div>
		<div class="text-content-container">
			<h4 class="content-title">Jaetun artikkelin otsikko</h4>
			<p class="content">Jaetun artikkelin tekstisisältöä. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis metus orci. Mauris sed lacus felis. Nulla vehicula vehicula elementum. Nunc egestas, risus a auctor sodales, enim lectus sagittis neque, non bibendum lectus magna et erat. Morbi at ligula dignissim eros feugiat posuere.</p>
			{{>molecules-social-actions}}
		</div>
	</div>
</div>