<div class="og-share-post social-post">
	<div class="post-header">
		<img src="" alt="" class="user-avatar">
		<p class="user">Kalle Käyttäjä</p>
		<p class="post-time">Eilen</p>
		<p class="og-comment">Katsokaa tätä mahtavaa ehdotusta. Minä tykkäään.</p>
	</div>
	<div class="share-content">
		<div class="image-container">
			<img src="" alt="">
		</div>
		<div class="text-content-container">
			<h4 class="content-title">Jaetun artikkelin otsikko</h4>
			<p class="content">Jaetun artikkelin tekstisisältöä. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis metus orci. Mauris sed lacus felis. Nulla vehicula vehicula elementum. Nunc egestas, risus a auctor sodales, enim lectus sagittis neque, non bibendum lectus magna et erat. Morbi at ligula dignissim eros feugiat posuere.</p>
			<div class="social-actions">
				<a href="" class="reply">Vastaa <i class="icon-reply"></i></a>
				<a href="" class="like">Puolla <i class="icon-like"></i><span class="like-count">12</span></a>
				<a href="" class="dislike">Hylkää <i class="icon-dislike"></i><span class="dislike-count">5</span></a>
			</div>
		</div>
	</div>
</div>