<div class="reply-block">
	<div class="form-element">
		<i class="icon-reply"></i>
		<textarea type="text" class="reply-area" maxlength="600" placeholder="Vastaa"></textarea>
	</div>
	<input type="submit" class="send-reply" value="Lähetä">
</div>