<div class="reply-block">
	<div class="form-element">
		<div class="icon-search icon-enter"> <input type="submit" class="send-reply" value=""></div>
		<textarea type="text" class="reply-area js-dynamic" maxlength="600" placeholder="Vastaa"></textarea>
	</div>
</div>