<div class="post-header">
	<div class="avatar-container">
		{{>atoms-avatar}}
	</div>
	<div class="text-container">
		<p class="user">Kalle Käyttäjä</p>
		<p class="post-time">Eilen</p>
		<p class="og-comment">Katsokaa tätä mahtavaa ehdotusta. Minä tykkäään.</p>
	</div>
</div>