<div class="js-thumbnail-hover">
	<p>Tämän päältä saa hoverin.</p>

	<div class="thumbnail media js-thumbnail">
		<div class="float-left">
			<img class="media-object" src="https://fbcdn-profile-a.akamaihd.net/static-ak/rsrc.php/v2/yo/r/UlIqmHJn-SK.gif" alt="nimi" />
		</div>
		<div class="media-body">
			<h4 class="media-heading">Nimi Tähän</h4>
			<span>Organisaatio</span>
			<span>Tittteli</span>
		</div>
		<div class="keywords">
			<span>Asia</span>
			<span>Sana</span>
			<span>Foo</span>
			<span>Baz</span>
			<span>Bar</span>
		</div>
	</div>
</div>

