<div class="block block-thumb m-block-b">
	<a href="#" class="b-inner">
		<div class="b-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id mi pulvinar, scelerisque orci nec, accumsan magna. Fusce vitae imperdiet urna. Etiam quis orci vitae tellus ullamcorper faucibus. Maecenas a sagittis libero. In adipiscing risus a dolor ullamcorper porta. Proin bibendum v(300 merkkiä)</p>
		</div>
		<h3 class="b-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut dui pellentesque, rutrum ipsum eget, congue odio. Aliquam vel euismod se(150 merkkiä)</h3>
		<div class="b-thumb">
			<img src="../../images/fpo_square.png" alt="Square Thumbnail">
		</div>
	</a>
</div>