<div class="semantic-list">
	<h4>Samanlaisia esityksiä</h4>
	<ol>
		<li>
			<a href="/document/he-141-2012/">HE 141/2012: Hallituksen esitys eduskunnalle eräiden törkeiden rikosten valmistelun kriminalisoimista koskevaksi lainsäädännöksi</a>
		</li>
		<li>
			<a href="/document/he-197-2008/">HE 197/2008: Hallituksen esitys eduskunnalle tulliselvitysrikoksia koskevaksi lainsäädännöksi</a>
		</li>
		<li>
			<a href="/document/la-124-2007/">LA 124/2007: Laki rikoslain 31 luvun muuttamisesta</a>
		</li>
		<li>
			<a href="/document/kk-441-2007/">KK 441/2007: Rikoksen valmistelun kriminalisointi</a>
		</li>
		<li>
			<a href="/document/he-55-2007/">HE 55/2007: Hallituksen esitys eduskunnalle sotarikoksia ja rikoksia ihmisyyttä vastaan koskevien rikoslain säännösten muuttamiseksi sekä eräiksi niihin liittyviksi laeiksi</a>
		</li>
	</ol>
</div>