<div class="gallup-section">
	<div class="participation-item">
		<div class="participation-icon">
			<a id="Gallup: Miltä näyttää Etherpad Otakantaassa?(247)">
				<i class="om om-gallup"></i>
			</a>
		</div>
		<div class="participation-data">
			<div class="participation-type">
				<span> Gallup: </span> Miltä näyttää Etherpad Otakantaassa?
			</div>
			<div class="participation-information">
				<span> 18.9.2013–29.9.2013</span> (Gallup on auki kaikille) <span class="modify-links"></span>
				<div>
					<p>Päivän Otakantaa-vinkki: Tiesitkö että voit upottaa Etherpadin osallistumishankkeeseesi?</p>
				</div>
			</div>
		</div>
	</div>

	<table class="gallup-answers">
		<tbody>
			<tr>
				<td style="width: 108px;">
					<div class="progressbar-bg">
						<div class="progressbar-progress" style="width: 25%;">
							<div class="progressbar-text">
								1. Käyttökelpoinen. Joku Muu kai haluaa käyttää.
								25% (6 Ääntä)
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td style="width: 108px;">
					<div class="progressbar-bg">
						<div class="progressbar-progress" style="width: 8%;">
							<div class="progressbar-text">
								2. Turhuuksien turhuus.
								8% (2 Ääntä)
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td style="width: 108px;">
					<div class="progressbar-bg">

						<div class="progressbar-progress progressbar-progress_selected" style="width: 8%;">
							<div class="progressbar-text">
								3. Miten tätä käytetään?
								8% (2 Ääntä)
							</div>
						</div>

					</div>
				</td>
			</tr>
			<tr>
				<td style="width: 108px;">
					<div class="progressbar-bg">
						<div class="progressbar-progress" style="width: 29%;">
							<div class="progressbar-text">
								4. Tätä olen aina odottanut!
								29% (7 Ääntä)
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td style="width: 108px;">
					<div class="progressbar-bg">
						<div class="progressbar-progress" style="width: 29%;">
							<div class="progressbar-text">
								5. Mikä on Etherpad?
								29% (7 Ääntä)
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>


	<div class="gallup-already-answered"> </div>
</div>
