<div class="list-lift">
	<div class="navigation">

		<div class="btn-group-wrapper">
			<div class="btn-group enlarged">
				<a href="#" class="active">Painike 1<span class="count">3</span></a>
				<a href="#">Painike 2<span class="count">15</span></a>
				<a href="#">Painike 3</a>
				<a href="#">Painike 4</a>
				<a href="#">Painike 5</a>
				<a href="#">Painike 6<span class="count">66</span></a>
			</div>
		</div>
		<div class="tag-search-container">
			{{> atoms-tagit }}
		</div>
	</div>
	<div class="content-list">
		<ul>
			<li class="single-list-item">
				<ul class="items-container">
					<li class="block-item">
						{{> atoms-link-and-description }}
					</li>
					<li class="block-item">
						{{> atoms-count-icon }}
					</li>
					<li class="block-item">
						{{> atoms-link-and-description }}
					</li>
					<li class="block-item">
						{{> atoms-tag-list }}
					</li>
				</ul>
			</li>
			<li class="single-list-item">
				<ul class="items-container">
					<li class="block-item">
						{{> atoms-link-and-description }}
					</li>
					<li class="block-item">
						{{> atoms-count-icon }}
					</li>
					<li class="block-item">
						{{> atoms-link-and-description }}
					</li>
					<li class="block-item">
						{{> atoms-tag-list }}
					</li>
				</ul>
			</li>
			<li class="single-list-item">
				<ul class="items-container">
					<li class="block-item">
						{{> atoms-link-and-description }}
					</li>
					<li class="block-item">
						{{> atoms-count-icon }}
					</li>
					<li class="block-item">
						{{> atoms-link-and-description }}
					</li>
					<li class="block-item">
						{{> atoms-tag-list }}
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>