<!-- Attachment state: expecting file -->
<form action="" class="attachment-form">
	<label for="upload-file" class="upload-file-button">Lisää tiedosto</label>
	<input type="file" id="upload-file">
	<span id="filename"></span>
</form>
<!-- Attachment state: expecting meta and save command -->

<!-- Attachment state: shows uploaded file and options -->