<!-- Heads up! pasted code ahead -->

<div id="topnavibar" class="topnavi-bar inverse-contrast expandable loggedin">
	<div class="container">
		<div id="closeButtonContainer" class="show-if-js-enabled close fa fa-times-circle selected"></div>
			<div class="navigation">

				<!-- Paste ends. -->

				<div class="site-actions">
					<div id="pnlLoggedIn" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'btnLogout')">

						<div class="user-navigation">
							<ul>
								<li class="toplevel">
									<a id="hlLoggedInUser" href="fi-FI/Kayttaja"><span>Antti</span><i class="icon-user"></i></a>
									<i class="icon-arrow"></i>
									<!-- <div class="user-menu-trigger"><a href="#"><i class="icon-user"></i><span class="is-vishidden">Käyttäjävalikko</span></a></div> -->
									<ul class="is-vishidden">
										<li>
											<a id="lvUserNavigation_HyperLink2_0" href="fi-FI/Omat_tiedot/Pyyda_tunnuksellesi_virkamiesstatusta">Pyydä tunnuksellesi virkamiesstatusta</a>
										</li>
										<li>
											<a id="lvUserNavigation_HyperLink2_1" href="fi-FI/Omat_tiedot/Pyyda_tunnuksesi_poistamista_kaytosta">Pyydä tunnuksesi poistamista käytöstä</a>
										</li>
										<li>
										<a id="lvUserNavigation_HyperLink2_2" href="fi-FI/Kayttaja/Kirjautunut/Muokkaa">Muokkaa profiilia</a>
										</li>
										<li>
											<a id="lvUserNavigation_HyperLink2_3" href="fi-FI/Kayttaja/Kirjautunut/MuokkaaAvainsanat">Muokkaa asiasanasi</a>
										</li>
										<li>
											<a id="lvUserNavigation_HyperLink2_4" href="fi-FI/Kayttaja/Kirjautunut/MuokkaaSijainnit">Muokkaa kiinnostavat paikkakunnat</a>
										</li>
										<li>
											<a id="lvUserNavigation_HyperLink2_5" href="fi-FI/Kayttaja/Kirjautunut/Vaihdasalasana">Vaihda salasana</a>
										</li>
										<li>
											<a id="lvUserNavigation_HyperLink2_6" href="fi-FI/Kayttaja/Kirjautunut/TilaaUutiskirje">Tilaa uutiskirje</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="logout-btn-wrapper">
							<input type="submit" name="ctl00$btnLogout" value="Kirjaudu ulos" id="btnLogout" title="Klikkaamalla nappia voit joko kirjautua palveluun sisään tai kirjautua palvelusta ulos. Kirjauduttaessa sisään napissa lukee OK, kirjauduttaessa ulos napissa lukee Kirjaudu ulos." class="ctl-btn-logout">
							<i class="icon-off"></i>
						</div>

					</div>
				</div>

				<!-- Heads up! pasted code ahead -->
				<a id="lvOtherServices_HyperLink1_0" class="tab" href="http://www.kansalaisaloite.fi">Kansalaisaloite.fi</a>
				<a id="lvOtherServices_HyperLink1_1" class="tab" href="https://www.kuntalaisaloite.fi">Kuntalaisaloite.fi</a>
				<a id="lvOtherServices_HyperLink1_2" class="tab active" href="fi-FI">Otakantaa</a>
				<a id="lvOtherServices_HyperLink1_3" rel="nofollow" class="other-service" target="_blank" href="fi-FI/Tietopankki">Tietopankki</a>

			</div>
			<div id="pnlLoginRegistrationContainer" class="expanding" >

		</div>
	</div>
</div>

