<div id="pnlFollowedProjects" class="content-item large">
	<h3 class="section-title">Vielä ehdit vaikuttaa!</h3>
	<div class="list-lift">
		<div class="content-list">
			<ul>
				<li class="single-list-item">
					<ul class="items-container">
						<!--<li class="block-item">
					<div class="lad">
						<a href="#">Lorem ipsum</a>
						<p class="description">test</p>
					</div>
					</li>-->
						<li class="block-item">
							<div class="count-container">
								<span class="icon-span om-keskustelu"></span>
								<a href="//www.foo.bar">0</a>
							</div>
						</li>
						<li class="block-item">
							<div class="lad">
								<a href="#">Lorem ipsum hanke</a>
								<p class="description">
									<a href="#">LoremIpsumChat</a> chatissa on vielä tilaa.
								</p>
							</div>
						</li>
					</ul>
				</li>
				<li class="single-list-item">
					<ul class="items-container">
						<!--<li class="block-item">
					<div class="lad">
						<a href="#">Lorem ipsum</a>
						<p class="description">test</p>
					</div>
					</li>-->
						<li class="block-item">
							<div class="count-container">
								<span class="icon-span om-keskustelu"></span>
								<a href="//www.foo.bar">22</a>
							</div>
						</li>
						<li class="block-item">
							<div class="lad">
								<a href="#">Lorem ipsum hanke</a>
								<p class="description">
									22 henkilöä on osallistunut chattiin <a href="#">Lorem lipsum chat#2</a>
								</p>
							</div>
						</li>
					</ul>
				</li>
				<li class="single-list-item">
					<ul class="items-container">
						<!--<li class="block-item">
					<div class="lad">
						<a href="#">Lorem ipsum</a>
						<p class="description">test</p>
					</div>
					</li>-->
						<li class="block-item">
							<div class="count-container">
								<span class="icon-span om-keskustelu"></span>
								<a href="//www.foo.bar">48</a>
							</div>
						</li>
						<li class="block-item">
							<div class="lad">
								<a href="#">Lorem lipsum hanke#3</a>
								<p class="description">
									48 henkilöä on osallistui chattiin <a href="#">Lorem lipsum chat#3</a>
								</p>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<p class="read-more">
			<a href="#">Näytä lisää</a>
		</p>
	</div>
</div>
