<div id="pnlFollowedProjects" class="content-item large">
    <h3 class="section-title">Vielä ehdit vaikuttaa!
    </h3>
    <div class="list-lift">
        <div class="content-list">
            <ul>
                <li class="single-list-item">
                    <ul class="items-container">
                        <!--<li class="block-item">
                    <div class="lad">
                        <a href="#">Lorem ipsum</a>
                        <p class="description">test</p>
                    </div>
                    </li>-->
                        <li class="block-item">
                            <div class="count-container">
                                <span class="icon-span icon-comment"></span>
                                <a href="//www.foo.bar">0</a>
                            </div>
                        </li>
                        <li class="block-item">
                            <div class="lad">
                                <a href="#">Lorem ipsum hanke</a>
                                <p class="description">
                                    <a href="#">LoremIpsumChat</a> chatissa on vielä tilaa.
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="single-list-item">
                    <ul class="items-container">
                        <!--<li class="block-item">
                    <div class="lad">
                        <a href="#">Lorem ipsum</a>
                        <p class="description">test</p>
                    </div>
                    </li>-->
                        <li class="block-item">
                            <div class="count-container">
                                <span class="icon-span icon-comment"></span>
                                <a href="//www.foo.bar">22</a>
                            </div>
                        </li>
                        <li class="block-item">
                            <div class="lad">
                                <a href="#">Lorem ipsum hanke</a>
                                <p class="description">
                                    22 henkilöä on osallistunut chattiin <a href="#">Lorem lipsum chat#2</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="single-list-item">
                    <ul class="items-container">
                        <!--<li class="block-item">
                    <div class="lad">
                        <a href="#">Lorem ipsum</a>
                        <p class="description">test</p>
                    </div>
                    </li>-->
                        <li class="block-item">
                            <div class="count-container">
                                <span class="icon-span icon-comment"></span>
                                <a href="//www.foo.bar">48</a>
                            </div>
                        </li>
                        <li class="block-item">
                            <div class="lad">
                                <a href="#">Lorem lipsum hanke#3</a>
                                <p class="description">
                                    48 henkilöä on osallistui chattiin <a href="#">Lorem lipsum chat#3</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <p class="read-more">
            <a href="#">Näytä lisää</a>
        </p>
    </div>
</div>
<div id="pnlInterestingProjects" class="content-item large">
    <h3 class="section-title">Suosittuja hankkeita
    </h3>
    <div class="list-lift">
        <div class="content-list">
            <ul>
                <li class="single-list-item">
                    <ul class="items-container">
                        <li class="block-item">
                            <div class="lad">
                                <a href="#">Toinen Lorem ipsum hanke</a>
                                <p class="description">Lorem ipsum kuvausta tähän</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="single-list-item">
                    <ul class="items-container">
                        <li class="block-item">
                            <div class="lad">
                                <a href="#">Kolmas Lorem ipsum hanke</a>
                                <p class="description">Lorem ipsum kuvausta tähän</p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <p class="read-more">
        <a href="#">Näytä kaikki hankkeet</a>
    </p>
</div>
<!--<section class="content-item large">
    <div class="">
        <h3 class="section-title">Vielä ehdit vaikuttaa!</h3>
    </div>
    <div class="">
        <div class="list-item">
            <div class="list-title">
                <a id="Main_lvClosingActions_hlNaviLink_0" href="#">Lorem ipsum hanke #1</a>
            </div>
            <div class="list-content">
                Keskustelu
                "Lorem ipsum keskustelu"
                käynnissä päättyy 23.6.2014
                <div class="list-status">
                    Tilanne nyt:
                        3 keskusteluketjua, 6 viestiä, viimeisin viesti 16.11.2013 1:21
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="list-item">
            <div class="list-title">
                <a id="Main_lvClosingActions_hlNaviLink_1" href="#">Lorem ipsum hanke #2</a>
            </div>
            <div class="list-content">
                Kirjoittaminen
                "Lorem ipsum kirjoittaminen"
                käynnissä päättyy 31.12.2014
                <div class="list-status">
                    Tilanne nyt:
                        Yksi versio, luotu 10.10.2013 12:12
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="list-item">
            <div class="list-title">
                <a id="Main_lvClosingActions_hlNaviLink_2" href="#">Lorem ipsum hanke #3</a>
            </div>
            <div class="list-content">
                Keskustelu
                "Lorem ipsum keskustelu"
                käynnissä päättyy 31.12.2014
                <div class="list-status">
                    Tilanne nyt:
                        1 keskusteluketjua, 1 viestiä, viimeisin viesti 29.10.2013 16:53
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="list-item">
            <div class="list-title">
                <a id="Main_lvClosingActions_hlNaviLink_3" href="#">Lorem ipsum hanke #4</a>
            </div>
            <div class="list-content">
                Keskustelu
                "Lorem ipsum keskustelu"
                käynnissä päättyy 1.4.2015
                <div class="list-status">
                    Tilanne nyt:
                        0 keskusteluketjua
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="list-item">
            <div class="list-title">
                <a id="Main_lvClosingActions_hlNaviLink_4" href="#">Lorem ipsum hanke #4</a>
            </div>
            <div class="list-content">
                Keskustelu
                "Lorem ipsum keskustelu"
                käynnissä päättyy 31.12.2016
                <div class="list-status">
                    Tilanne nyt:
                        1 keskusteluketjua, 1 viestiä, viimeisin viesti 16.4.2013 21:13
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="list-item">
            <div class="list-title list-showall">
                <a id="Main_hlShowAll" href="#">Näytä kaikki hankkeet ۼ/a>
            </div>
        </div>
    </div>
</section>-->
