&lt;div class=&quot;lift-button participation&quot;&gt;
	{{&gt; atoms-count-icon }}
	&lt;a class=&quot;lift-button-link&quot; href=&quot;//www.foo.bar&quot;&gt;Miten nyt ker&auml;tt&auml;v&auml; rahoitus tulisi sijoittaa?&lt;/a&gt;
	&lt;p class=&quot;date&quot;&gt;26.5. asti&lt;/p&gt;
&lt;/div&gt;