<h3>Yleisesti käytössä olevat värit</h3>
<ul class="sg-colors global-colors">
	<li>
		<span class="sg-swatch color--a"></span>
		<span class="sg-label">#FFFFFF</span>
	</li>
	<li>
		<span class="sg-swatch color--b"></span>
		<span class="sg-label">#F0F0F0</span>
	</li>
	<li>
		<span class="sg-swatch color--c"></span>
		<span class="sg-label">#444444</span>
	</li>
	<li>
		<span class="sg-swatch color--d"></span>
		<span class="sg-label">#0089F2</span>
	</li>
</ul>

<h3>Ota kantaa -värit</h3>
<ul class="sg-colors otk-colors">
	<li>
		<span class="sg-swatch color--a"></span>
		<span class="sg-label">#FF0000</span>
	</li>
	<li>
		<span class="sg-swatch color--b"></span>
		<span class="sg-label">#556771</span>
	</li>
	<li>
		<span class="sg-swatch color--c"></span>
		<span class="sg-label">#17CEE4</span>
	</li>
	<li>
		<span class="sg-swatch color--d"></span>
		<span class="sg-label">#2FC090</span>
	</li>
	<li>
		<span class="sg-swatch color--e"></span>
		<span class="sg-label">#3FA2FE</span>
	</li>
</ul>

<h3>Lausuntopalvelu -värit</h3>
<ul class="sg-colors lap-colors">
	<li>
		<span class="sg-swatch color--a"></span>
		<span class="sg-label">#E1EAEF</span>
	</li>
	<li>
		<span class="sg-swatch color--b"></span>
		<span class="sg-label">#313131</span>
	</li>
	<li>
		<span class="sg-swatch color--c"></span>
		<span class="sg-label">#0891A1</span>
	</li>
	<li>
		<span class="sg-swatch color--d"></span>
		<span class="sg-label">#0F6A9E</span>
	</li>
</ul>