<p>Primary font: "PT Sans", "Helvetica", "Arial", sans-serif;</p>
<p><em>Primary font italic: "PT Sans", "Helvetica", "Arial", sans-serif;</em></p>
<p><strong>Primary font bold: "PT Sans", "Helvetica", "Arial", sans-serif;</strong></p>