
&lt;div class=&quot;msg-info toast-container&quot;&gt;
	&lt;p&gt;Try toaster message by clicking the button below this message&lt;/p&gt;

	&lt;div class=&quot;msg-toast is-hidden&quot;&gt; &lt;i class=&quot;icon-info toast-icon&quot;&gt;&lt;/i&gt;&lt;p&gt;I'm the hidden info message&lt;/p&gt;&lt;i class=&quot;icon-close&quot;&gt;&lt;/i&gt;&lt;/div&gt;
	&lt;button id=&quot;info&quot; class=&quot;toast-trigger info&quot;&gt;Button&lt;/button&gt;
&lt;/div&gt;
